{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Rumbabogota About Us" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="/about">{% trans "About Us" %}</a>
{% endblock %}

{% block colleft %}

<div class="node-container nosotros box-shadows encap">
    <div class="title-wrap encap">
        <span class="flt-left"><h2 class="title">{% trans "About Us" %}</h2></span>
    </div><!--//.title-wrap-->
    <div class="node bb-none encap">
        <div class="nosotros encap">
            <div class="node-mini-left c65l">
                <div class="content">
                    <p><a href="http://rumbacaracas.com" target="_blank"><span class="fp20">RUMBACARACAS.COM</span></a> es un medio de comunicaci&oacute;n mixto que cubre, rese&ntilde;a, organiza y vive la vida nocturna de la ciudad a trav&eacute;s de diferentes canales: INTERNET, IMPRESO, PRENSA, RADIO y ORGANIZACI&Oacute;N DE EVENTOS; generando una sinergia &uacute;nica con la cual ha formado la COMUNIDAD DE J&Oacute;VENES m&aacute;s grande e importante del pa&iacute;s.</p>
                    <p>Su &eacute;xito se basa en la creatividad, consistencia y calidad con la cual d&iacute;a a d&iacute;a sirve a las nuevas generaciones, llev&aacute;ndoles a los j&oacute;venes el contenido que buscan; de la forma y en el lenguaje que lo buscan. Su misi&oacute;n es seguir creciendo y explotando medios y espacios para seguir llevando lo mejor de la rumba al resto de los j&oacute;venes de Venezuela y el mundo. Metas logradas con <a href="http://rumbamiami.com" target="_blank">RUMBAMIAMI.COM</a>, medio web y productora de eventos; que en poco tiempo se ha posicionado en el mercado latino del Sur de la Florida; y con <a href="http://rumbavenezuela.com" target="_blank">RUMBAVENEZUELA.COM</a> medio que cubre lo mejor del entretenimiento del eje central de Venezuela: Maracay, Valencia, Barquisimeto, San Crist&oacute;bal, entre otras ciudades. Muy pronto tambi&eacute;n con <a href="http://rumbabogota.com"  target="_blank">RUMBABOGOTA.COM</a>.</p>
                </div><!--//.content-->
                <div class="rumba-families encap outnone">
                    <ul>
                        <li>
                            <div class="wrapper encap">
                                <div class="encap mb10">
                                    <div class="rumba-icons c35l">
                                        <a href="#"><img src="/media/images/obsolete/Nosotros_03.jpg" alt="Rumba" /></a>
                                    </div><!--//.rumba-icons-->
                                    <div class="rumba-desc c65r">
                                        <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                    </div><!--//.rumba-desc-->
                                </div><!--//.encap-->
                                <div class="rumba-cats">
                                    <ul>
                                        <li><a href="#">▪ Internet</a></li>
                                        <li><a href="#">▪ Guía Impresa</a></li>
                                        <li><a href="#">▪ Cuaderno</a></li>
                                        <li><a href="#">▪ Eventos</a></li>
                                    </ul>
                                </div><!--//.rumba-cats-->
                            </div><!--//.wrapper-->
                        </li>
                        <li>
                            <div class="wrapper encap">
                                <div class="encap mb10">
                                    <div class="rumba-icons c35l">
                                        <a href="#"><img src="/media/images/obsolete/Nosotros_06.jpg" alt="Rumba" /></a>
                                    </div><!--//.rumba-icons-->
                                    <div class="rumba-desc c65r">
                                        <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                    </div><!--//.rumba-desc-->
                                </div><!--//.encap-->
                                <div class="rumba-cats">
                                    <ul>
                                        <li><a href="#">▪ Internet</a></li>
                                        <li><a href="#">▪ Guía Impresa</a></li>
                                        <li><a href="#">▪ Cuaderno</a></li>
                                        <li><a href="#">▪ Eventos</a></li>
                                    </ul>
                                </div><!--//.rumba-cats-->
                            </div><!--//.wrapper-->
                        </li>
                        <li>
                            <div class="wrapper encap">
                                <div class="encap mb10">
                                    <div class="rumba-icons c35l">
                                        <a href="#"><img src="/media/images/obsolete/Nosotros_09.jpg" alt="Rumba" /></a>
                                    </div><!--//.rumba-icons-->
                                    <div class="rumba-desc c65r">
                                        <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                    </div><!--//.rumba-desc-->
                                </div><!--//.encap-->
                                <div class="rumba-cats">
                                    <ul>
                                        <li><a href="#">▪ Internet</a></li>
                                        <li><a href="#">▪ Guía Impresa</a></li>
                                        <li><a href="#">▪ Cuaderno</a></li>
                                        <li><a href="#">▪ Eventos</a></li>
                                    </ul>
                                </div><!--//.rumba-cats-->
                            </div><!--//.wrapper-->
                        </li>
                        <li>
                            <div class="wrapper encap">
                                <div class="encap mb10">
                                    <div class="rumba-icons c35l">
                                        <a href="#"><img src="/media/images/obsolete/Nosotros_11.jpg" alt="Rumba" /></a>
                                    </div><!--//.rumba-icons-->
                                    <div class="rumba-desc c65r">
                                        <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                    </div><!--//.rumba-desc-->
                                </div><!--//.encap-->
                                <div class="rumba-cats">
                                    <ul>
                                        <li><a href="#">▪ Internet</a></li>
                                        <li><a href="#">▪ Guía Impresa</a></li>
                                        <li><a href="#">▪ Cuaderno</a></li>
                                        <li><a href="#">▪ Eventos</a></li>
                                    </ul>
                                </div><!--//.rumba-cats-->
                            </div><!--//.wrapper-->
                        </li>
                        <li>
                            <div class="wrapper encap">
                                <div class="encap mb10">
                                    <div class="rumba-icons c35l">
                                        <a href="#"><img src="/media/images/obsolete/Nosotros_13.jpg" alt="Rumba" /></a>
                                    </div><!--//.rumba-icons-->
                                    <div class="rumba-desc c65r">
                                        <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                    </div><!--//.rumba-desc-->
                                </div><!--//.encap-->
                                <div class="rumba-cats">
                                    <ul>
                                        <li><a href="#">▪ Internet</a></li>
                                        <li><a href="#">▪ Guía Impresa</a></li>
                                        <li><a href="#">▪ Cuaderno</a></li>
                                        <li><a href="#">▪ Eventos</a></li>
                                    </ul>
                                </div><!--//.rumba-cats-->
                            </div><!--//.wrapper-->
                        </li>
                        <li>
                            <div class="wrapper encap">
                                <div class="encap mb10">
                                    <div class="rumba-icons c35l">
                                        <a href="#"><img src="/media/images/obsolete/Nosotros_15.jpg" alt="Rumba" /></a>
                                    </div><!--//.rumba-icons-->
                                    <div class="rumba-desc c65r">
                                        <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                    </div><!--//.rumba-desc-->
                                </div><!--//.encap-->
                                <div class="rumba-cats">
                                    <ul>
                                        <li><a href="#">▪ Internet</a></li>
                                        <li><a href="#">▪ Guía Impresa</a></li>
                                        <li><a href="#">▪ Cuaderno</a></li>
                                        <li><a href="#">▪ Eventos</a></li>
                                    </ul>
                                </div><!--//.rumba-cats-->
                            </div><!--//.wrapper-->
                        </li>
                    </ul>
                </div><!--//.rumba-families-->
            </div><!--//.node-mini-left-->
            <div class="node-mini-right c32r">
                {% include "static/about_menu.html" with current="about"%}
                {% include "static/social_contacts.html" %}
            </div><!--//.node-mini-right-->
        </div><!--//.video-archives-->
    </div><!--//.node-->
</div><!--//.node-container-->

{% endblock %}

