{% extends "static/static_base.html" %}
{% load i18n %}
{% block title %}{% trans "Rumbabogota About Us" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="/about">{% trans "About Us" %}</a>
{% endblock %}

{% block colleft %}
    <div class="node-container nosotros box-shadows encap">
        <div class="title-wrap encap">
            <span class="flt-left"><h2 class="title">{% trans "About Us" %}</h2></span>
        </div><!--//.title-wrap-->
        <div class="node bb-none encap">
            <div class="nosotros encap">
                <div class="node-mini-left c65l">
                    <div class="content">
                        <p><a href="http://rumbabogota.com"><span class="fp20">RUMBABOGOTÁ.COM</span></a> es   un medio de comunicación independiente, mixto, segmentado y efectivo   que cubre, reseña, organiza y vive el entretenimiento de la ciudad a través de diferentes canales: INTERNET, IMPRESOS, RADIO y ORGANIZACIÓN DE EVENTOS; generando una sinergia única con el fin de   comunicarse con las personas interesadas en el entretenimiento. </p>
                        <p>Nuestro éxito se   basa en la creatividad, constancia y calidad de nuestros productos. Esas cualidades nos sirven para   crear contenidos interesantes y relevantes para nuestro target. Sabemos cual es   el contenido que buscan, la forma y  el lenguaje que usan para   encontrarlo.</p>
                        <p>En Bogotá iniciamos   operaciones en enero del 2009 con la página web <a href="http://rumbabogota.com">www.rumbabogota.com</a> , en septiembre de ese   mismo año publicamos la primera revista impresa de distribución gratuita. En   febrero del 2011 salió la primera edición del Cuaderno   Universitario.</p>
                        <p><strong> </strong><strong>Misión</strong></p>
                        <p>Nuestra  misión es   crecer, explorar y aprovechar medios y espacios para seguir llevando lo mejor del   entretenimiento y  cultura a los colombianos. </p>
                        <p><strong>Visión</strong></p>
                        <p><span lang="ES-VE" xml:lang="ES-VE">Ser la   guía de entretenimiento   líder en   Bogotá para hombres y mujeres mayores de 18 años, teniendo un crecimiento contínuo basado en la calidad e innovación de   nuestros productos, manteniendo excelentes relaciones con nuestros clientes y   teniendo un equipo altamente motivado para la obtención de los   objetivos.</span> </p>
                        <p><strong>Valores</strong></p>
                        <p>Trabajo   en equipo<br />
                            Compromiso   con los resultados<br />
                            Comunicación abierta y honesta </p>
                        <p><strong> Otras Rumbas</strong>:</p>
                    </div>
                    <!--//.content-->
                    <div class="rumba-families encap outnone">
                        <ul>
                            <li>
                                <div class="wrapper encap">
                                    <div class="encap mb10">
                                        <div class="rumba-icons c35l">
                                            <a href="http://rumbabogota.com"><img src="/media/images/obsolete/Nosotros_03.jpg" alt="Rumba" /></a>                          </div><!--//.rumba-icons-->
                                        <div class="rumba-desc c65r">
                                            <p>Desde principios de 2009, comenzamos a posicionarnos como el medio pionero y líder del entretenimiento de los jóvenes de Bogotá.</p>
                                        </div><!--//.rumba-desc-->
                                    </div><!--//.encap-->
                                    <div class="rumba-cats">
                                        <ul>
                                            <li><a href="/about/products/web">{% trans "Web" %}</a></li>
                                            <li><a href="/about/products/newsletter">{% trans "Newsletter" %}</a></li>
                                            <li><a href="/about/products/magazine">{% trans "Printed Editions" %}</a></li>
                                            <li><a href="/about/products/events">{% trans "Events" %}</a></li>
                                        </ul>
                                    </div><!--//.rumba-cats-->
                                </div><!--//.wrapper-->
                            </li>
                            <li>
                                <div class="wrapper encap">
                                    <div class="encap mb10">
                                        <div class="rumba-icons c35l">
                                            <a href="http://www.rumbacaracas.com" target="_blank"><img src="/media/images/obsolete/Nosotros_06.jpg" alt="Rumba" /></a>                          </div><!--//.rumba-icons-->
                                        <div class="rumba-desc c65r">
                                            <p>Desde finales de 1999, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Caracas.</p>
                                        </div><!--//.rumba-desc-->
                                    </div><!--//.encap-->
                                    <div class="rumba-cats">
                                        <ul>
                                            <li><a href="http://www.rumbacaracas.com" target="_blank">▪ www.rumbacaracas.com</a></li>
                                        </ul>
                                    </div>
                                    <!--//.rumba-cats-->
                                </div><!--//.wrapper-->
                            </li>
                            <li>
                                <div class="wrapper encap">
                                    <div class="encap mb10">
                                        <div class="rumba-icons c35l">
                                            <a href="http://www.rumbavenezuela.com" target="_blank"><img src="/media/images/obsolete/Nosotros_09.jpg" alt="Rumba" /></a>                          </div><!--//.rumba-icons-->
                                        <div class="rumba-desc c65r">
                                            <p>Desde el 2005, posicionado como el medio pionero y líder del entretenimiento de los jóvenes de Venezuela.</p>
                                        </div><!--//.rumba-desc-->
                                    </div><!--//.encap-->
                                    <div class="rumba-cats">
                                        <ul>
                                            <li><a href="http://www.rumbavenezuela.com" target="_blank">▪ www.rumbavenezuela.com</a>                          </li>
                                        </ul>
                                    </div><!--//.rumba-cats-->
                                </div><!--//.wrapper-->
                            </li>
                            <li>
                                <div class="wrapper encap">
                                    <div class="encap mb10">
                                        <div class="rumba-icons c35l">
                                            <a href="http://www.rumbamiami.com" target="_blank"><img src="/media/images/obsolete/Nosotros_11.jpg" alt="Rumba" /></a>                          </div><!--//.rumba-icons-->
                                        <div class="rumba-desc c65r">
                                            <p>Desde finales de 2003,   medio web y productora de eventos posicionado en el mercado latino del Sur de la Florida  </p>
                                        </div><!--//.rumba-desc-->
                                    </div><!--//.encap-->
                                    <div class="rumba-cats">
                                        <ul>
                                            <li><a href="http://www.rumbamiami.com" target="_blank">▪ www.rumbamiami.com</a>                          </li>
                                        </ul>
                                    </div><!--//.rumba-cats-->
                                </div><!--//.wrapper-->
                            </li>
                            <li></li>
                            <li>
                                <!--//.wrapper-->
                            </li>
                            <li><!--//.wrapper-->
                            </li>
                        </ul>
                    </div><!--//.rumba-families-->
                </div><!--//.node-mini-left-->
                <div class="node-mini-right c32r">
                    {% include "static/about_menu.html" with current="about"%}
                    {% include "static/social_contacts.html" %}
                </div><!--//.node-mini-right-->
            </div><!--//.video-archives-->
        </div><!--//.node-->
    </div><!--//.node-container-->

{% endblock %}

