{% extends "static/static_base.html" %}
{% load i18n %}
{% block title %}{% trans "Rumbacaracas Contacts" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="{% url about_contacts %}">{% trans "Contacts" %}</a>
{% endblock %}

{% block colleft %}


    <div class="node-container nosotros box-shadows encap">
        <div class="title-wrap encap">
            <span class="flt-left"><h2 class="title">{% trans "Contacts" %}</h2></span>
        </div><!--//.title-wrap-->
        <div class="node bb-none encap">
            <div class="nosotros encap">
                <div class="node-mini-left c65l">
                    <div class="rumba-families contact-us encap outnone">
                        <ul>
                            <li>
                                <h6>RUMBACARACAS.COM</h6>
                                <p>Trv. 17 #   98 – 45. Apto. 302. Chicó<br />
                                    Teléfono: +57-1-4740736 – +57-318-4602849<br />
                                    Email: <a href="mailto:rumba@rumbacaracas.com">rumba@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>Envíanos tu Rumba, Local, Foto, Video o Noticia</h6>
                                <p>Por email: <a href="mailto:rumba@rumbacaracas.com">rumba@rumbacaracas.com</a></p>
                                <p>Publicar tu rumba, sitio, foto, noticia, concierto y/o evento en RumbaCaracas.com es GRATIS; sólo requerimos la información completa + imagen, flyer o logo (preferiblemente en formato JPG) de su evento o sitio.</p>
                                <ul>
                                    <li>» Para publicar un EVENTO pisa <a href="{% url event_add %}">aquí</a></li>
                                    <li>» Para publicar una FOTO pisa <a href="{% url yourphoto_add %}" class="style1">aquí</a></li>
                                    <li>» Para publicar un SITIO pisa <a href="{% url location_add %}">aquí</a></li>
                                    <li>» Para publicar una NOTICIA pisa <a href="{% url news_add %}">aquí</a></li>
                                    <li>» Para publicar un VIDEO pisa <a href="{% url video_add %}">aquí</a></li>
                                </ul>
                                <p>* Publicación final está sujeta al criterio de nuestros editores.</p>
                            </li>
                            <li>
                                <h6>EQUIPO</h6>
                                <p>La fuerza de <a class="red-title bold" href="http://rumbacaracas.com">RUMBACARACAS.COM</a> viene de un gran equipo humano que día a día realiza una labor incomparable en pro de la rumba y los rumberos. Comunícate con la gente que arma la gozadera...</p>
                            </li>
                            <li>
                                <h6>GERENTE</h6>
                                <p>Erika Castro Berroterán<br /><a href="mailto:erika@rumbacaracas.com">erika@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>DIRECTORA</h6>
                                <p>Irma Monsalve<br /><a href="mailto:rumba@rumbacaracas.com">rumba@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>DIRECTORA WEB</h6>
                                <p>Eli García <br /><a href="mailto:eli@rumbacaracas.com">eli@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>EDITOR EN JEFE</h6>
                                <p>Daniel García<br /><a href="mailto:daniel@rumbacaracas.com">daniel@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>RRPP Y VENTAS</h6>
                                <p>Adriana Ávila Uribe<br /><a href="mailto:ventas@rumbacaracas.com">ventas@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>EDITORIAL</h6>
                                <p>María   Fernando Cardoso<br />
                                    <a href="mailto:editorial@rumbacaracas.com">editorial@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>DISEÑO</h6>
                                <p>María Alejandra Segovia<br /><a href="mailto:comercial@rumbacaracas.com">comercial@rumbacaracas.com</a></p>
                            </li>
                            <li>
                                <h6>FOTÓGRAFOS</h6>
                                <p>Ana   Arango<br />
                                    Daniel   Galeano<br />
                                    Gabriel   Gómez<br />
                                    Jairo   López<br />
                                    Alethia Pinzón<br />
                                    <br />
                                </p>
                                <p> </p>
                            </li>
                        </ul>
                    </div><!--//.rumba-families-->
                </div><!--//.node-mini-left-->
                <div class="node-mini-right c32r">
                    {% include "static/about_menu.html" with current="contacts"%}
                    <div class="block-contact box-marginal outnone">
                        <div class="box-title"><h2>Trabaja Rumbeando</h2></div>
                        <div class="box-border box-contents decou">
                            <p>En <a href="http://rumbacaracas.com">rumbacaracas.com</a> siempre estamos buscando gente con ganas de trabajar para la rumba. Sí estás interesad@ en pertenecer a nuestro equipo de trabajo, favor enviar tu CV junto con una breve descripción de tu interés en la empresa vía e-mail:<br /><a href="mailto:rumba@rumbacaracas.com">rumba@rumbacaracas.com</a></p>
                        </div><!--//.box-contents-->
                    </div><!--//.block-contact-->
                    <div class="block-contact box-marginal outnone">
                        <div class="box-title"><h2>Publicidad</h2></div>
                        <div class="box-border box-contents decou">
                            <p>Para preguntas y/o más información sobre precios y especificaciones publicitarias, favor comunicarse con nosotros al T+57 1 4740736 (horario de oficina) o al e-mail: <br/><a href="mailto:ventas@rumbacaracas.com">ventas@rumbacaracas.com</a></p>
                        </div><!--//.box-contents-->
                    </div><!--//.block-contact-->
                </div><!--//.node-mini-right-->
            </div><!--//.video-archives-->
        </div><!--//.node-->
    </div><!--//.node-container-->

{% endblock %}

