{% extends "static/static_base.html" %}
{% load i18n %}
{% load tools %}
{% block title %}{% trans "About Us Events" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a href="{% url about_products %}">{% trans "Products" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="{% url about_products_events %}">{% trans "Events" %}</a>
{% endblock %}

{% block colleft %}
<style type="text/css">
    p.redPBold {
        color: #CA2121;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 0 !important;
    }

</style>
    <div class="node-container nosotros box-shadows encap">
        <div class="title-wrap encap">
            <span class="flt-left"><h2 class="title">{% trans "Products" %}</h2></span>
        </div><!--//.title-wrap-->

        <div class="node bb-none encap">
            <div class="nosotros encap">
                <div class="node-mini-left c65l">

                    <div class="rumba-families encap outnone" style="margin-top:0px;">
					
                        <ul>
                            <li>
                                <h3>Eventos</h3>

                                <h3 class="red-ul">Servicios</h3>
                                <ul class="lh20">
                                    <li>» Conceptualización</li>
                                    <li>» Diseño de comunicación y estrategia</li>
                                    <li>» Booking y contratación de talentos nacionales e internacionales</li>
                                    <li>» Convocatoria especializada (VIP, personalidades, rumberos)</li>
                                    <li>» Manejo y convocatoria de prensa / medios</li>
                                    <li>» Producción general</li>
                                    <li>» Covertura de Eventos (Fotos y Videos)</li>
                                    <li>» Distribución patrocinada del cuaderno y la guía impresa</li>
                                </ul>

                                <br />
                                <br />

                                <h3 class="red-ul">Eventos Realizados</h3>
                                     <table class="encap">
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2011</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/rumbacaracascom-celebro-12-anos-de-rumba"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2011_12avo_AniversarioRCC.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/rumbacaracascom-celebro-12-anos-de-rumba" class="redBold">12 Avo. ANIVERSARIO RUMBACARACAS.COM </a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Octubre 2011</li>
                              <li><b>Lugar:</b> Hard Rock Café, Caracas</li>
                              <li><b>Convocatoria:</b> 1.200 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Clientes: </b>Polar Ice, Doritos, Marlboro</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/rumbacaracascom-celebro-12-anos-de-rumba" target="_blank">Pisa aquí para ver las fotos</a></td>
                        <td width="295"><p class="red-ul">&nbsp;</p>
                          </td>
                      </tr>
                    </table>
                    <table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2009</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/10mo-aniversario-de-rumba-caracas-parte-i"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2009_10moAniversario.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/10mo-aniversario-de-rumba-caracas-parte-i" class="redBold">10 Mo. ANIVERSARIO RUMBACARACAS.COM </a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Octubre 2009</li>
                              <li><b>Lugar:</b> Hard Rock Café, Caracas</li>
                              <li><b>Convocatoria:</b> 1.200 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Nestea, Solera y Kraft</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/10mo-aniversario-de-rumba-caracas-parte-i" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/show-de-ingenieria-de-la-ucab-2009"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2009_ShowIngenieriaUCAB.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/show-de-ingenieria-de-la-ucab-2009" class="redBold">SHOW INGENIERÍA UCAB</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Septiembre 2009</li>
                              <li><b>Lugar:</b> Hacienda Oripoto, Caracas</li>
                              <li><b>Convocatoria:</b> 1.500 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><strong>Clientes</strong>: Smirnoff Ice, Ron Cacique, Parmalat</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/show-de-ingenieria-de-la-ucab-2009" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                    </table>
                    <table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2008</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/top-djs-venezuela-ya-tiene-sus-ganadores"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2008_topdjs2008.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/top-djs-venezuela-ya-tiene-sus-ganadores" class="redBold">TOP DJS VENEZUELA - 4ta. EDICIÓN</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Noviembre 2008</li>
                              <li><b>Lugar:</b> Hard Rock Café, Caracas</li>
                              <li><b>Convocatoria:</b> 800 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Nokia</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/top-djs-venezuela-ya-tiene-sus-ganadores" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td width="295"><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/9no-aniversario-de-rumbacaracascom"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2008_9noAniversario.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/9no-aniversario-de-rumbacaracascom" class="redBold">9 No. ANIVERSARIO RUMBACARACAS.COM </a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Septiembre 2008</li>
                              <li><b>Lugar:</b> Le Club, Caracas</li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/9no-aniversario-de-rumbacaracascom" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                    </table>
<table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2007</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/top-dj-venezuela-2007"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2007_topdjs2007.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/top-dj-venezuela-2007" class="redBold">TOP DJS VENEZUELA - 3ra. EDICIÓN</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Diciembre 2007</li>
                              <li><b>Lugar:</b> EnVivo, Caracas</li>
                              <li><b>Convocatoria:</b> 400 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Renault</li>
                            </ul>
                        <a href="http://rumbacaracas.com/fotos/top-dj-venezuela-2007" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/primer-dia-durante-la-feria-internacional-de-valen"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2007_casetaRV.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/primer-dia-durante-la-feria-internacional-de-valen" class="redBold">CASETA DE RUMBAVENEZUELA.COM EN LA FERIA DE VALENCIA</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Noviembre 2007</li>
                              <li><b>Lugar:</b> Parque Ferial, Valencia </li>
                              <li><b>Convocatoria:</b> 5.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                          </ul>
                            <p><a href="http://rumbacaracas.com/fotos/primer-dia-durante-la-feria-internacional-de-valen" target="_blank">Pisa aquí para ver las fotos. Parte I</a><br />
                            <a href="http://rumbacaracas.com/fotos/segundo-dia-en-la-feria-internacional-de-valencia" target="_blank">Pisa aquí para ver las fotos. Parte II</a></p>
                        </td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/8o-aniversario-de-rumbacaracascom-en-en-vivo"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2007_8avo_AniversarioRCC.jpg" alt="Rumba" /></a></div>
                         <a href="http://rumbacaracas.com/fotos/8o-aniversario-de-rumbacaracascom-en-en-vivo" class="redBold">8Avo ANIVERSARIO RUMBACARACAS.COM</a>
                           <ul class="lh20">
                              <li><b>Fecha:</b> Octubre 2007</li>
                              <li><b>Lugar:</b> EnVivo, Caracas</li>
                              <li><b>Convocatoria:</b> 700 personas</li>
                              <li><b>Servicios:</b> Producción Completa</li>
                            <li><b>Cliente:</b> Santal Energy, Renault Clio, Wyborowa, Something Special y Evana's.</li>
                          </ul>
                          <a href="http://rumbacaracas.com/fotos/8o-aniversario-de-rumbacaracascom-en-en-vivo" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/el-point-en-semana-santa-2007"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2007_Elpoint.jpg" alt="Rumba" /></a></div>
                            <a href="http://rumbacaracas.com/fotos/el-point-en-semana-santa-2007" class="redBold">EL POINT</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Abril 2007</li>
                              <li><b>Lugar:</b> Playa El Agua, Margarita</li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b>Producción Completa</li>
                              <li><b>Clientes:</b> Movilner,  Renault, Polar Ice, Ad Rush, Lipton Ice Tea</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/el-point-en-semana-santa-2007" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                    </table>
<table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2006</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/los-amigos-invisibles-en-kamy-beach"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2006_LAI_kamyBeach.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/los-amigos-invisibles-en-kamy-beach" class="redBold">LOS AMIGOS INVISIBLES EN KAMY BEACH</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Diciembre 2006</li>
                              <li><b>Lugar:</b> Kamy Beach, Margarita</li>
                              <li><b>Convocatoria:</b> 2.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Brahma</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/los-amigos-invisibles-en-kamy-beach" target="_blank">Pisa aquí para ver las fotos</a></td>
                       </tr><tr valign="top"> <td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/top-djs-venezuela-2006-el-veredicto"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2006_topdjs2006.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/top-djs-venezuela-2006-el-veredicto" class="redBold">TOP DJS VENEZUELA - 2nda. EDICIÓN</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Noviembre 2006</li>
                              <li><b>Lugar:</b> Le Club, Caracas </li>
                              <li><b>Convocatoria:</b> 400 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Doritos, Movilnet, Nokia, Renault.</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/top-djs-venezuela-2006-el-veredicto" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/aniversario-de-rumbacaracascom-7-anos"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2006_7moAniversario2006.jpg" alt="Rumba" /></a></div>
                         <a href="http://rumbacaracas.com/fotos/aniversario-de-rumbacaracascom-7-anos" class="redBold">7Mo ANIVERSARIO RUMBACARACAS.COM</a>
                          <ul class="lh20">
                              <li><b>Fecha:</b> Octubre 2006</li>
                              <li><b>Lugar:</b> Le Club, Caracas</li>
                              <li><b>Convocatoria:</b> 300 personas</li>
                            <li><b>Servicios:</b> Producción Completa</li>
                            <li><b>Cliente:</b> Diageo.</li>
                          </ul>
                          <a href="http://rumbacaracas.com/fotos/aniversario-de-rumbacaracascom-7-anos" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/willie-colon-guapeo-en-el-teresa-carreno"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2006_WillieColon.gif" alt="Rumba" /></a></div>
                            <a href="http://rumbacaracas.com/fotos/willie-colon-guapeo-en-el-teresa-carreno" class="redBold">WILLIE COLÓN FAREWELL TOUR</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Agosto 2006</li>
                              <li><b>Lugar:</b> Teatro Teresa Carreño, Caracas </li>
                              <li><b>Convocatoria:</b> 4.800 personas</li>
                              <li><b>Servicios:</b>Producción Completa</li>
                              <li><b>Clientes:</b> Supercable, El Nacional, Renault, Pernod Ricard, Classlight, Discocenter, Hotel Melia Caracas, Santa Bárbara Airlines.</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/willie-colon-guapeo-en-el-teresa-carreno" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/la-chica-de-la-portada-la-coronacion"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2006_chicaportada.gif" alt="Rumba" /></a></div>
                            <a href="http://rumbacaracas.com/fotos/la-chica-de-la-portada-la-coronacion" class="redBold">PREMIACIÓN DE LA CHICA DE LA PORTADA</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Abril 2006</li>
                              <li><b>Lugar:</b> Maroma Bar, Caracas</li>
                              <li><b>Convocatoria:</b> 300 personas</li>
                              <li><b>Servicios:</b>Producción completa</li>
                              <li><b>Cliente:</b> Femmex, Pernod Ricard y Distribuidora de licores Pedalco</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/la-chica-de-la-portada-la-coronacion" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/los-amigos-invisibles-lanzan-su-telefunky"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2006_Telefunky_LAI.gif" alt="Rumba" /></a><a href="" class="redBold"></a> </div>
                         <a href="http://rumbacaracas.com/fotos/los-amigos-invisibles-lanzan-su-telefunky" class="redBold"> LANZAMIENTO DEL DISCO TELEFUNKY DE LOS AMIGOS INVISIBLES</a>
                          <ul class="lh20">
                              <li><b>Fecha:</b> Marzo 2006</li>
                              <li><b>Lugar:</b> Hard Rock Café</li>
                              <li><b>Convocatoria:</b> 800 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                            <li><b>Cliente:</b> Motorola.</li>
                          </ul>
                          <a href="http://rumbacaracas.com/fotos/los-amigos-invisibles-lanzan-su-telefunky" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                    </table>
                    <table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2005</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/urban-adventure-passport"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_passport.gif" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/urban-adventure-passport" class="redBold">PASSPORT - URBAN ADVENTURE</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Diciembre 2005</li>
                              <li><b>Lugar:</b> El Hatillo, Caracas</li>
                              <li><b>Convocatoria:</b> 700 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Pernod Ricard</li>
                            </ul>
                        <a href="http://rumbacaracas.com/fotos/urban-adventure-passport" target="_blank">Pisa aquí para ver las fotos</a></td>
                       </tr><tr valign="top"> <td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/top-djs-2005-el-veredicto"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_ltopDjs2005.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/top-djs-2005-el-veredicto" class="redBold">TOP DJS VENEZUELA - 1era. EDICIÓN</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Noviembre 2005</li>
                              <li><b>Lugar:</b> Be, Caracas </li>
                              <li><b>Convocatoria:</b> 300 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Ron Santa Teresa, Renault.</li>
                            </ul>
                        <a href="http://rumbacaracas.com/fotos/top-djs-2005-el-veredicto" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/6to-aniversario-de-rumbacaracascom"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_6toAniversario2005.jpg" alt="Rumba" /></a></div>
                           <a href="http://rumbacaracas.com/fotos/6to-aniversario-de-rumbacaracascom" class="redBold">6To ANIVERSARIO RUMBACARACAS.COM</a>
                          <ul class="lh20">
                              <li><b>Fecha:</b> Septiembre 2005</li>
                              <li><b>Lugar:</b> Mazara, Caracas</li>
                              <li><b>Convocatoria:</b> 300 personas</li>
                              <li><b>Servicios:</b> Producción Completa</li>
                              <li><b>Cliente:</b> Something Special y Frito Lay.</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/6to-aniversario-de-rumbacaracascom" target="_blank">Pisa aquí para ver las fotos</a></td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/club-space-y-cedric-gervais-en-caracas"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_FiestaSpace.gif" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/club-space-y-cedric-gervais-en-caracas" class="redBold">FIESTA SPACE</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Junio - Julio 2005</li>
                              <li><b>Lugar:</b> Riply's, Caracas </li>
                              <li><b>Convocatoria:</b> 2.000 personas</li>
                              <li><b>Servicios:</b> Convocatoria de prensa y personalidades</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/club-space-y-cedric-gervais-en-caracas" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><a href=""><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_cafecongusto.gif" alt="Rumba" /></a></div>
                            <a href="" class="redBold">CAFÉ CON GUSTO, Brindis Inauguración</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Marzo 2005</li>
                              <li><b>Lugar:</b> Café con Gusto, Caracas</li>
                              <li><b>Convocatoria:</b> 300 personas</li>
                              <li><b>Servicios:</b> Convocatoria de prensa y personalidades</li>
                              <li><b>Cliente:</b> Café con Gusto</li>
                            </ul>
                          </td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_breezeice.gif" alt="Rumba" /></div>
                          <a href="" class="redBold">PROMOCIÖN DE BREEZE ICE</a>
                          <ul class="lh20">
                              <li><b>Fecha:</b> Semana Santa, 2005</li>
                            <li><b>Lugar:</b> Playa el Agua, Parguito y El Yaque, Margarita</li>
                            <li><b>Convocatoria:</b> 1.500 personas</li>
                            <li><b>Servicios:</b> Producción completa</li>
                            <li><b>Cliente:</b> Distribuidora Glasgow.</li>
                          </ul>
                          </td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2005_caramelosferiadelsol.gif" alt="Rumba" />
                            </div>
                            <a href="" class="redBold">GRAN CORRIDA DEL ROCK</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Febrero 2005</li>
                              <li><b>Lugar:</b> Estacionamiento C.C. Las Tapias, Mérida</li>
                              <li><b>Convocatoria:</b> 3.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Pepsi Cola, Top Nrg Energy</li>
                            </ul>
                          </td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2004</b></p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/dj-colette-en-caracas"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2004_motomix.jpg" alt="Rumba" /></a>
							<a href="http://rumbacaracas.com/fotos/dj-colette-en-caracas" class="redBold">MOTOMIX - DJ COLETTE</a>                            </div>
                          
                          <ul class="lh20">
                              <li><b>Fecha:</b> Abril 2004</li>
                              <li><b>Lugar:</b> Pravda, Caracas</li>
                              <li><b>Convocatoria:</b> 1.200 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente: </b>Motorola y Movilnet.</li>
                          </ul>
                          <a href="http://rumbacaracas.com/fotos/dj-colette-en-caracas" target="_blank">Pisa aquí para ver las fotos</a></td>
                       </tr><tr valign="top"> <td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><a href="http://rumbacaracas.com/fotos/iceland-en-margarita"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2004_iceland.jpg" alt="Rumba" /></a></div>
                          <a href="http://rumbacaracas.com/fotos/iceland-en-margarita" class="redBold">ICELAND</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Semana Santa, Abril 2004</li>
                              <li><b>Lugar:</b> Diverland, Margarita </li>
                              <li><b>Convocatoria:</b> 7.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          <a href="http://rumbacaracas.com/fotos/iceland-en-margarita" target="_blank">Pisa aquí para ver las fotos</a></td>
                      </tr>
					  </table>
					  <table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2003</b></p>
                            <div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_MinistryofSound.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">MINISTRY OF SOUND WORLD TOUR 2003</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Noviembre 2003</li>
                              <li><b>Lugar:</b> Helipuerto El Ávila, Caracas-Guarenas</li>
                              <li><b>Convocatoria:</b> 4.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente: </b>Polar Ice.</li>
                            </ul>
                          </td>
                       </tr><tr valign="top"> <td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_TalentosNescafe.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">TALENTOS NESCAFÉ</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Octubre 2003</li>
                              <li><b>Lugar:</b> Loading, Caracas </li>
                              <li><b>Convocatoria:</b> 500 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Nescafé.</li>
                            </ul>
                          </td>
                      </tr>

                      <tr valign="top">
                        <td width="295"><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_habitat.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">HABITAT MARACAIBO</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Julio 2003</li>
                              <li><b>Lugar:</b> Locación especial, Maracaibo</li>
                              <li><b>Convocatoria:</b> 1.500 personas</li>
                              <li><b>Servicios:</b> Booking Djs internacional</li>
                              <li><b>Cliente:</b> Lucky Strike.</li>
                            </ul>
                          </td>
                        </tr><tr valign="top"><td width="295"><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_paradiceccs.jpg" alt="Rumba" /></div>
                        <a href="" class="redBold">PARADISE CARACAS</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Junio 2003</li>
                              <li><b>Lugar:</b> Locación especial, Caracas </li>
                              <li><b>Convocatoria:</b> 500 personas</li>
                              <li><b>Servicios:</b> Conceptualización y producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          </td>
  </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_divagash.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">DIVA-GASH (Colombia) LOUNGE TOUR</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Junio 2003</li>
                              <li><b>Lugar:</b> La Belle Époque, Living Room y Modus, Caracas</li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          </td>
                       </tr><tr valign="top"> <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_cdc_miami.jpg" alt="Rumba" />
                            </div>
                            <a href="" class="redBold">CARAMELOS DE CIANURO EN MIAMI</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Junio 2003</li>
                              <li><b>Lugar:</b> La Covacha, Miami</li>
                              <li><b>Convocatoria:</b> 500 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Polar.</li>
                            </ul>
                          </td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_paradice_margarita.jpg" alt="Rumba" /></div>
                            <a href="" class="redBold">PARADISE MARGARITA</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Semana Santa, Abril 2003</li>
                              <li><b>Lugar:</b> Locación especial, Margarita </li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b> Conceptualización y producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          <p>&nbsp;</p></td>
                       </tr><tr valign="top"> <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_sundaySession.jpg" alt="Rumba" /></div>
                            <a href="" class="redBold">SUNDAY SESSIONS</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Marzo 2003</li>
                              <li><b>Lugar:</b> Locación especial, Caracas </li>
                              <li><b>Convocatoria:</b> 300 personas</li>
                              <li><b>Servicios:</b> Conceptualización y producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          </td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2003_saeed.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">SAEED &amp; PALASH (USA)</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Febrero 2003</li>
                              <li><b>Lugar:</b> CIEC, Uni. Metropolitana, Caracas</li>
                              <li><b>Convocatoria:</b> 1.500 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                            </ul>
                          </td>
                        <td>&nbsp;</td>
                      </tr>
                    </table>
<table>
                      <tr valign="top">
                        <td width="295"><p class="red-ul"><b class="px13">2002</b></p>
                            <div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2002_Nescafe_MinistryofSoubd.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">NESCAFÉ MINISTRY OF SOUND WORLD TOUR</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Octubre 2002</li>
                              <li><b>Lugar:</b> Risko's y La Colina, Caracas</li>
                              <li><b>Convocatoria:</b> 2.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Nescafé y Polar Ice.</li>
                            </ul>
                          </td>
                        </tr><tr valign="top"><td width="295"><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2002_chillice.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">DJ DONALD GLAUDE (USA) + ALEXA (Colombia)</a>
                          <ul class="lh20">
                              <li><b>Fecha:</b> Julio 2002</li>
                              <li><b>Lugar:</b> La Colina, Caracas </li>
                              <li><b>Convocatoria:</b> 1.300 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                          </ul>
                          </td>
  </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2002_brahmaConnection.jpg" alt="Rumba" /></div>
                         <a href="" class="redBold">BRAHMA CONNECTION</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Junio 2002</li>
                              <li><b>Lugar:</b> La Colina, Caracas</li>
                              <li><b>Convocatoria:</b> 700 personas</li>
                              <li><b>Servicios:</b> Conceptualización y producción completa</li>
                              <li><b>Cliente:</b> Brahma Light.</li>
                            </ul>
                          </td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2002_lanzamiento_solera.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">LANZAMIENTO DE SOLERA</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Mayo 2002</li>
                              <li><b>Lugar:</b> Le Club, Caracas </li>
                              <li><b>Convocatoria:</b> 400 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Solera.</li>
                            </ul>
                          </td>
                      </tr>
                      <tr valign="top">
                        <td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2002_chillice.jpg" alt="Rumba" /></div>
                           <a href="" class="redBold">CHILL ICE</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Semana Santa, Abril 2002</li>
                              <li><b>Lugar:</b> Playa El Agua y Playa Parguito, Margarita </li>
                              <li><b>Convocatoria:</b> 2.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Polar Ice.</li>
                          </ul>
                          <p>&nbsp;</p></td>
                        </tr><tr valign="top"><td><div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2002_Djmpicotto.jpg" alt="Rumba" /></div>
                            <a href="" class="redBold">DJ MAURO PICOTTO</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Carnaval, Febrero 2002</li>
                              <li><b>Lugar:</b> Baja Beach Club, La Guaira y O' Club, Caracas </li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Corona y Marlboro.</li>
                            </ul>
                          </td>
                      </tr>
                      <tr valign="top">
                        <td><p class="red-ul"><b class="px13">2001</b></p>
                            <div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2001_intercolegial_gaitas.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">INTERCOLEGIAL DE GAITAS 2001</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Noviembre 2011</li>
                              <li><b>Lugar:</b> Collins Avenue, Caracas</li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Regional, Close-Up, Nokia y Fiz.</li>
                            </ul>
                          </td>
                       </tr><tr valign="top"> <td><p class="red-ul">&nbsp;</p>
                            <div class="mrgn8x0"><img src="{% value_from_settings "STATIC_URL" %}images/eventos/2001_georgeacosta.jpg" alt="Rumba" /></div>
                          <a href="" class="redBold">DJ GEORGE ACOSTA</a>
                            <ul class="lh20">
                              <li><b>Fecha:</b> Septiembre 2001</li>
                              <li><b>Lugar:</b> Baja Beach Club, La Guaira y O' Club, Caracas </li>
                              <li><b>Convocatoria:</b> 1.000 personas</li>
                              <li><b>Servicios:</b> Producción completa</li>
                              <li><b>Cliente:</b> Corona y Marlboro.</li>
                            </ul>
                          </td>
                      </tr>
                    </table>
                    </div><!--//.rumba-families-->
                </div><!--//.node-mini-left-->
                <div class="node-mini-right c32r">
                    {% include "static/about_menu.html" with current="events"%}
                    {% include "static/social_contacts.html" %}
                </div><!--//.node-mini-right-->
            </div><!--//.video-archives-->
        </div><!--//.node-->
    </div><!--//.node-container-->




{% endblock %}

