{% extends "static/static_base.html" %}
{% load i18n %}
{% block title %}{% trans "About Us Events" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a href="{% url about_products %}">{% trans "Products" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="{% url about_products_events %}">{% trans "Events" %}</a>
{% endblock %}

{% block colleft %}
<style type="text/css">
    p.redPBold {
        color: #CA2121;
        font-size: 12px;
        font-weight: bold;
        padding-bottom: 0 !important;
    }

</style>
    <div class="node-container nosotros box-shadows encap">
        <div class="title-wrap encap">
            <span class="flt-left"><h2 class="title">{% trans "Products" %}</h2></span>
        </div><!--//.title-wrap-->

        <div class="node bb-none encap">
            <div class="nosotros encap">
                <div class="node-mini-left c65l">

                    <div class="rumba-families encap outnone" style="margin-top:0px;">
                        <ul>
                            <li>
                                <h3>Eventos</h3>

                                <h3 class="red-ul">Servicios</h3>
                                <ul class="lh20">
                                    <li>» Conceptualización</li>
                                    <li>» Diseño de comunicación y estrategia</li>
                                    <li>» Booking y contratación de talentos nacionales e internacionales</li>
                                    <li>» Convocatoria especializada (VIP, personalidades, rumberos)</li>
                                    <li>» Manejo y convocatoria de prensa / medios</li>
                                    <li>» Producción general</li>
                                    <li>» Covertura de Eventos (Fotos y Videos)</li>
                                    <li>» Distribución patrocinada del cuaderno y la guía impresa</li>
                                </ul>

                                <br />
                                <br />

                                <h3 class="red-ul">Eventos Realizados</h3>
                                <p class="red-ul"><b class="px13">2011</b></p>
                                <div class="mrgn8x0"><a href="{% url people_details "concierto-de-los-amigos-invisibles-en-teatro-metro" %}"><img src="{{ STATIC_URL }}images/eventos/lai-20anos.jpg" alt="Rumba" /></a></div>
                                <a href="{% url people_details "concierto-de-los-amigos-invisibles-en-teatro-metro" %}" class="redBold">CONCIERTO LOS AMIGOS INVISIBLES EN TEATRO METRO</a>
                                <ul class="lh20">
                                    <li><b>Fecha:</b> 5 de Agosto, 2011</li>
                                    <li><b>Lugar:</b> Teatro Metro</li>
                                    <li><b>Convocatoria:</b> 1.300 personas</li>
                                    <li><b>Servicios:</b> Booking, producción artística, patrocinios, convocatoria</li>
                                    <li><b>Cliente:</b> Hotel Marriott, Red Label, Miller, Lancaster House, Ultravans, Tequesitos.</li>
                                </ul>
                                <a href="{% url people_details "concierto-de-los-amigos-invisibles-en-teatro-metro" %}" class="red">Pisa aquí para ver las fotos</a><br />
                                <h3 class="red-ul">&nbsp;</h3>
                                <p class="red-ul"><b class="px13">2010</b><br />
                                </p>
                                <div class="mrgn8x0"><a href="{% url people_details "una-noche-con-absolut-vodka" %}"><img src="{{ STATIC_URL }}images/eventos/cata-vodka.jpg" alt="Rumba" /></a></div>
                                <a href="{% url people_details "una-noche-con-absolut-vodka" %}" class="redBold">CATA ABSOLUT</a>
                                <ul class="lh20">
                                    <li><b>Fecha:</b>13, 14, 20 de octubre y 3 de noviembre de 2010</li>
                                    <li><b>Lugar:</b>  Hotel Grand House, Salón Macana</li>
                                    <li><b>Convocatoria:</b> 60 personas</li>
                                    <li><b>Servicios:</b> Ejecución Completa</li>
                                    <li><b>Cliente:</b> Absolut Vodka</li>
                                </ul>
                                <a href="{% url people_details "una-noche-con-absolut-vodka" %}" class="red">Pisa aquí para ver las fotos</a><br />
                                <br />
                                <div class="mrgn8x0"><a href="{% url people_details "caravana-heineken" %}"><img src="{{ STATIC_URL }}images/eventos/caravana-heineken.jpg" alt="Rumba" /></a></div>
                                <a href="{% url people_details "caravana-heineken" %}" class="redBold">CARAVANA HEINEKEN</a>
                                <ul class="lh20">
                                    <li><b>Fecha:</b> 24 y 30 de abril de 2010</li>
                                    <li><b>Lugar:</b> Zona T, Caracas</li>
                                    <li><b>Servicios:</b> Registro en video y fotográfico</li>
                                    <li><b>Cliente:</b> Heineken</li>
                                </ul>
                                <a href="{% url people_details "caravana-heineken" %}" class="red">Pisa aquí para ver las fotos</a><br />
                                <h3 class="red-ul">&nbsp;</h3>
                                <p class="red-ul"><b class="px13">2009</b><br />
                                </p>
                                <div class="mrgn8x0"><div class="mrgn8x0"><a href="{% url people_details "concierto-de-los-amigos-invisibles-en-teatro-metro" %}"><img src="{{ STATIC_URL }}images/eventos/lai.jpg" alt="Rumba" /></a></div>
                                    <a href="{% url people_details "concierto-de-los-amigos-invisibles-en-teatro-metro" %}" class="redBold">CONCIERTO LOS AMIGOS INVISIBLES</a>
                                    <ul class="lh20">
                                        <li><b>Fecha:</b> 19 de Noviembre, 2009</li>
                                        <li><b>Lugar:</b> Teatro Metro</li>
                                        <li><b>Convocatoria:</b> 1.300 personas</li>
                                        <li><b>Servicios: </b>Booking, producción artistas, patrocinio, convocatoria.</li>
                                        <li><b>Cliente: </b>Radionica, Lancaster House, Ultravans, Aguardiente 180°, Something   Special.</li>
                                    </ul>
                                    <a href="{% url people_details "concierto-de-los-amigos-invisibles-en-teatro-metro" %}" class="red">Pisa aquí para ver las fotos</a><br />
                                    <p>&nbsp;</p>
                                    <p><a href="{% url people_details "noche-skyytini-en-buenvivir" %}"><img src="{{ STATIC_URL }}images/eventos/sky-vodka.jpg" alt="Rumba" /></a></p>
                                </div>
                                <a href="{% url people_details "noche-skyytini-en-buenvivir" %}" class="redBold">CATA SKY VODKA</a>
                                <ul class="lh20">
                                    <li><b>Fecha:</b> 15 de diciembre, 2009</li>
                                    <li><b>Locación:</b> Caracas</li>
                                    <li><b>Convocatoria:</b> 25 personas</li>
                                    <li><b>Servicios:</b> Ejecución Completa</li>
                                    <li><b>Cliente:</b> Sky Vodka </li>
                                </ul>
                                <a href="{% url people_details "noche-skyytini-en-buenvivir" %}" class="red">Pisa aquí para ver las fotos</a><br />
                                <br />
                                <div class="mrgn8x0"><a href="{% url people_details "lanzamiento-de-rumbacaracascom" %}"><img src="{{ STATIC_URL }}images/eventos/lanzamiento-rb.jpg" alt="Rumba" /></a></div>
                                <a href="{% url people_details "lanzamiento-de-rumbacaracascom" %}" class="redBold">LANZAMIENTO RUMBACARACAS.COM</a>
                                <ul class="lh20">
                                    <li><b>Fecha:</b> 2 de Septiembre, 2009</li>
                                    <li><b>Locación:</b> Penthouse</li>
                                    <li><b>Convocatoria:</b> 700 personas</li>
                                    <li><b>Servicios:</b> Ejecución Completa</li>
                                    <li><b>Cliente:</b> Pernod Ricard</li>
                                </ul>
                                <a href="{% url people_details "lanzamiento-de-rumbacaracascom" %}" class="red">Pisa aquí para ver las fotos</a><br />
                                <br />
                                <br />
                                <br />
                    </div><!--//.rumba-families-->
                </div><!--//.node-mini-left-->
                <div class="node-mini-right c32r">
                    {% include "static/about_menu.html" with current="events"%}
                    {% include "static/social_contacts.html" %}
                </div><!--//.node-mini-right-->
            </div><!--//.video-archives-->
        </div><!--//.node-->
    </div><!--//.node-container-->




{% endblock %}

