{% extends "static/static_base.html" %}
{% load i18n %}
{% block title %}{% trans "About Us Magazine" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a href="{% url about_products %}">{% trans "Products" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="{% url about_products_magazine %}">{% trans "Magazine" %}</a>
{% endblock %}

{% block colleft %}

    <div class="node-container nosotros box-shadows encap">
    <div class="title-wrap encap">
        <span class="flt-left"><h2 class="title">{% trans "Products" %}</h2></span>
    </div><!--//.title-wrap-->

    <div class="node bb-none encap">
    <div class="nosotros encap">
    <div class="node-mini-left c65l">

    <div class="rumba-families encap outnone" style="margin-top:0px;">

    <h3>Ediciones Impresas</h3>

    <h3 class="red">Cuaderno Universitario</h3>

    <div class="nosotros-desc">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr class="odd">
                <td><strong>Tiraje:</strong></td>
                <td>15.000 ejemplares.</td>
            </tr>
            <tr class="odd">
                <td><strong>Costo:</strong></td>
                <td>Grauita</td>
            </tr>
            <tr class="odd">
                <td><strong>Circulación:</strong></td>
                <td>Semestral</td>
            </tr>
            <tr class="odd">
                <td><strong>Zonas de distribución:</strong></td>
                <td>Javeriana, Jorge Tadeo Lozano, Politécnico Gran Colombiano, El Externado, Sergio   Arboleda, La Sabana.</td>
            </tr>
            <tr class="odd">
                <td><strong>Tamaño:</strong></td>
                <td>20 cm x 20 cm / Full Color</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 class="red">Revista</h3>
    <div class="nosotros-desc">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr class="odd">
                <td><strong>Tiraje:</strong></td>
                <td>15.000 ejemplares.</td>
            </tr>
            <tr class="odd">
                <td><strong>Costo:</strong></td>
                <td>Grauita</td>
            </tr>
            <tr class="odd">
                <td><strong>Circulación:</strong></td>
                <td>Mensual</td>
            </tr>
            <tr class="odd">
                <td><strong>Zonas de distribución:</strong></td>
                <td>Zona T, Parque la 93, Chapinero y Usaquén.</td>
            </tr>
            <tr class="odd">
                <td><strong>Tamaño:</strong></td>
                <td>21 cm x 11 cm / Full Color</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3 class="red-ul">Anunciantes</h3>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr valign="top">
            <td width="33%">
                <ul class="lh20">
                    <li>Adolen</li>
                    <li>Axe</li>
                    <li>Brahma</li>
                    <li>Breeze Ice</li>
                    <li>Bunker</li>
                    <li>Cacique</li>
                    <li>Cafenol</li>
                    <li>Cantv</li>
                    <li>Cines Unidos</li>
                    <li>Corona</li>
                    <li>Digitel</li>
                    <li>Doritos</li>
                </ul>
            </td>

            <td width="34%">
                <ul class="lh20">
                    <li>Femmex</li>
                    <li>Heineken</li>
                    <li>Helados Tío Rico</li>
                    <li>Kent</li>
                    <li>Kotex</li>
                    <li>L&M</li>
                    <li>Larios</li>
                    <li>Legalón</li>
                    <li>Lubrix</li>
                    <li>Lucky Strike</li>
                    <li>Marlboro</li>
                    <li>Motorola</li>
                </ul>
            </td>

            <td width="33%">
                <ul class="lh20">
                    <li>Movilnet</li>
                    <li>Nescafé</li>
                    <li>Palette</li>
                    <li>Pepsi</li>
                    <li>Polar Ice</li>
                    <li>Regional</li>
                    <li>Rolda</li>
                    <li>Ron Santa Teresa</li>
                    <li>Skyy Blue</li>
                    <li>Smirnoff Ice</li>
                    <li>Tantum</li>
                    <li>Valmy</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="nosotros-desc">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr class="odd">
                <td>Y los principales locales nocturnos, restaurantes, tiendas y servicios dirigidos al público rumbero.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br />

    <div class="tbl-wb">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr>
                <td width="70%" bgcolor="#ececec">Doble página</td>
                <td width="30%" bgcolor="#e9f5c0">20x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Página Completa</td>
                <td bgcolor="#e9f5c0">10x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Media página horizontal</td>
                <td bgcolor="#e9f5c0">10x10,5 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Media página vertical</td>
                <td bgcolor="#e9f5c0">5x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Cuarto de página vertical</td>
                <td bgcolor="#e9f5c0">5x10 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Cuarto de página horizontal</td>
                <td bgcolor="#e9f5c0">10x5,25 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Media doble página horizontal</td>
                <td bgcolor="#e9f5c0">20x10,5 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Retiro de Portada</td>
                <td bgcolor="#e9f5c0">10,2x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Contraportada</td>
                <td bgcolor="#e9f5c0">10,2x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Retiro Contraportada</td>
                <td bgcolor="#e9f5c0">10,2x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Solapa Portada o Contraportada</td>
                <td bgcolor="#e9f5c0">9,8x21 cms.*</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br />
    <div><img src="{{ STATIC_URL }}images/nosotros/cuaderno.jpg" alt="Rumba" /></div>
    <br />
    <b>* Tamaños listados sin sangrado. Los artes de los avisos deben tener un mínimo de 3 mm. de sangrado.</b><br />
    <br />
    <b>Publicidad</b> Para preguntas y/o más información sobre precios y especificaciones publicitarias, favor comunicarse con nosotros al T+ 212-242-4341 (horario de oficina) o al<br />
    <a href="mailto:ventas@rumbacaracas.com" class="red">e-mail: ventas@rumbacaracas.com</a><br />
    <br />
    <br />
    </div><!--//.rumba-families-->
    </div><!--//.node-mini-left-->

    <div class="node-mini-right c32r">
        {% include "static/about_menu.html" with current="magazine"%}

        <h3 class="red">Los Cuadernos</h3>

        <div><a href="{% url magazine_main %}"><img src="{{ STATIC_URL }}images/nosotros/cuaderno-1.jpg" alt="Rumba" /></a></div>
        <br />
        <div><a href="{% url magazine_main %}"><img src="{{ STATIC_URL }}images/nosotros/cuaderno-2.jpg" alt="Rumba" /></a></div>
        <p><br />
            <a href="{% url magazine_main %}" class="read-more-red">Ver más Cuadernos</a><br />
        </p>
        <p>&nbsp;</p>
        <h3 class="red">Las Revistas</h3>
        <div>
            <div><a href="{% url magazine_main %}"><img src="{{ STATIC_URL }}images/nosotros/impresa-1.jpg" alt="Rumba" /></a></div>
            <br />
            <div><a href="{% url magazine_main %}"><img src="{{ STATIC_URL }}images/nosotros/impresa-2.jpg" alt="Rumba" /></a></div>
            <br />
            <div><a href="{% url magazine_main %}"><img src="{{ STATIC_URL }}images/nosotros/impresa-3.jpg" alt="Rumba" /></a></div>
            <br />
            <div><a href="{% url magazine_main %}"><img src="{{ STATIC_URL }}images/nosotros/impresa-4.jpg" alt="Rumba" /></a></div>
            <a href="{% url magazine_main %}" class="read-more-red">Ver más Revistas</a><br />
        </div>
        <p><br />
        </p>
        {% include "static/social_contacts.html" %}
    </div><!--//.node-mini-right-->


    </div><!--//.video-archives-->
    </div><!--//.node-->
    </div><!--//.node-container-->


{% endblock %}

