{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "About Us Magazine" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a href="/about/products">{% trans "Products" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="/products/magazine">{% trans "Magazine" %}</a>
{% endblock %}

{% block colleft %}
    <div class="node-container nosotros box-shadows encap">
    <div class="title-wrap encap">
        <span class="flt-left"><h2 class="title">Productos</h2></span>
    </div><!--//.title-wrap-->

    <div class="node bb-none encap">
    <div class="nosotros encap">
    <div class="node-mini-left c65l">

    <div class="rumba-families encap outnone" style="margin-top:0px;">
    <ul>
    <li>
    <h3>Guía Impresa</h3>
    <b class="red">RUMBACARACAS.COM, tu guía impresa a la gozadera, es el medio impreso pionero de la noche caraqueña.</b><br />
    <br />
    La biblia rumbera de todo joven que quiera saber qué pasó, pasa y pasará en la vida nocturna nacional.<br />
    <br />
    Un diseño vanguardista, contenido actual y distribución garantizada confirman por qué los rumberos y los anunciantes nos prefieren.<br />
    <br />

    <h3 class="red">La Revista</h3>

    <div class="nosotros-desc">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr class="odd">
                <td><strong>Productos:</strong></td>
                <td>» <a href="http://rumbacaracas.com" target="_blank">rumbacaracas.com</a><br />» <a href="http://rumbavenezuela.com" target="_blank">rumbavenezuela.com</a><br />» <a href="http://rumbamiami.com" target="_blank">rumbamiami.com</a><br />» <a href="http://rumbabogota.com" target="_blank">rumbabogota.com</a></td>
            </tr>
            <tr class="odd">
                <td><strong>Mercados:</strong></td>
                <td>Caracas, Valencia, Maracay, Barquisimeto, Mérida, Maracaibo y demás ciudades del país.</td>
            </tr>
            <tr class="odd">
                <td><strong>Contenido:</strong></td>
                <td>Entretenimiento, rumbas, eventos, conciertos, entrevistas y especiales enfocadao en la vida nocturna de los rumberos.</td>
            </tr>
            <tr class="odd">
                <td><strong>Target:</strong></td>
                <td>Rumber@s entre 18 y 30 años [a, b, c y d].</td>
            </tr>
            <tr class="odd">
                <td><strong>Características:</strong></td>
                <td>72 páginas (puede variar según edición) / Tamaño: 11 cm x 21.5 cm de alto / Full color.</td>
            </tr>
            <tr class="odd">
                <td><strong>Costo:</strong></td>
                <td>Gratuita</td>
            </tr>
            <tr class="odd">
                <td><strong>Circulación:</strong></td>
                <td>Mensual</td>
            </tr>
            <tr class="odd">
                <td><strong>Impresión:</strong></td>
                <td>15.000 ejemplares.</td>
            </tr>
            <tr class="odd">
                <td><strong>Distribución:</strong></td>
                <td>Rumbas, eventos, universidades, centros comerciales, discotecas, locales, cafés y tiendas dirigidas a l@s rumber@s.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <h3 class="red-ul">Anunciantes</h3>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
        <tr valign="top">
            <td width="33%">
                <ul class="lh20">
                    <li><a href="#">Adolen</a></li>
                    <li><a href="#">Axe</a></li>
                    <li><a href="#">Brahma</a></li>
                    <li><a href="#">Breeze Ice</a></li>
                    <li><a href="#">Bunker</a></li>
                    <li><a href="#">Cacique</a></li>
                    <li><a href="#">Cafenol</a></li>
                    <li><a href="#">Cantv</a></li>
                    <li><a href="#">Cines Unidos</a></li>
                    <li><a href="#">Corona</a></li>
                    <li><a href="#">Digitel</a></li>
                    <li><a href="#">Doritos</a></li>
                </ul>
            </td>

            <td width="34%">
                <ul class="lh20">
                    <li><a href="#">Femmex</a></li>
                    <li><a href="#">Heineken</a></li>
                    <li><a href="#">Helados Tío Rico</a></li>
                    <li><a href="#">Kent</a></li>
                    <li><a href="#">Kotex</a></li>
                    <li><a href="#">L&M</a></li>
                    <li><a href="#">Larios</a></li>
                    <li><a href="#">Legalón</a></li>
                    <li><a href="#">Lubrix</a></li>
                    <li><a href="#">Lucky Strike</a></li>
                    <li><a href="#">Marlboro</a></li>
                    <li><a href="#">Motorola</a></li>
                </ul>
            </td>

            <td width="33%">
                <ul class="lh20">
                    <li><a href="#">Movilnet</a></li>
                    <li><a href="#">Nescafé</a></li>
                    <li><a href="#">Palette</a></li>
                    <li><a href="#">Pepsi</a></li>
                    <li><a href="#">Polar Ice</a></li>
                    <li><a href="#">Regional</a></li>
                    <li><a href="#">Rolda</a></li>
                    <li><a href="#">Ron Santa Teresa</a></li>
                    <li><a href="#">Skyy Blue</a></li>
                    <li><a href="#">Smirnoff Ice</a></li>
                    <li><a href="#">Tantum</a></li>
                    <li><a href="#">Valmy</a></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="nosotros-desc">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr class="odd">
                <td>Y los principales locales nocturnos, restaurantes, tiendas y servicios dirigidos al público rumbero.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br />
    <br />
    <h3 class="red-ul">Entrega de Artes</h3>
    <ul class="lh20">
        <li>1. CD, Zip Iomega 100 o Correo electrónico (no poseemos unidades de diskettes).</li>
        <li>2. El material debe ser desarrollado a 300 DPI.</li>

        <li>
            3. Serán recibidos los avisos de cualquier plataforma, programa o versión siempre y cuando cumplan los siguientes requisitos:<br />
            <ul class="lh20" style="margin-left:30px;">
                <li><span class="red">»</span> TIFF o EPS exportados desde sus programas originales con los textos convertidos en curvas.</li>
                <li><span class="red">»</span> En el caso de documentos desarrollados en Photoshop, estos deben venir en background y sin paths.</li>
                <li><span class="red">»</span> Los avisos recibidos sin pruebas de color no admitirán ningún tipo de reclamo.</li>
                <li><span class="red">»</span> El aviso o documento debe estar identificado con el nombre del cliente, no por la versión ni el destinatario, (Ejemplo: aviso producto, rojo todo, ultimo aviso, etc.)</li>
                <li><span class="red">»</span> No recibimos material producido en Corel Draw.</li>
            </ul>
        </li>
    </ul>

    <br />

    <div class="tbl-wb">
        <table cellpadding="0" cellspacing="0" border="0" width="100%">
            <tbody>
            <tr>
                <td width="70%" bgcolor="#ececec">Doble página</td>
                <td width="30%" bgcolor="#e9f5c0">20x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Página Completa</td>
                <td bgcolor="#e9f5c0">10x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Media página horizontal</td>
                <td bgcolor="#e9f5c0">10x10,5 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Media página vertical</td>
                <td bgcolor="#e9f5c0">5x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Cuarto de página vertical</td>
                <td bgcolor="#e9f5c0">5x10 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Cuarto de página horizontal</td>
                <td bgcolor="#e9f5c0">10x5,25 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Media doble página horizontal</td>
                <td bgcolor="#e9f5c0">20x10,5 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Retiro de Portada</td>
                <td bgcolor="#e9f5c0">10,2x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Contraportada</td>
                <td bgcolor="#e9f5c0">10,2x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Retiro Contraportada</td>
                <td bgcolor="#e9f5c0">10,2x21 cms.*</td>
            </tr>

            <tr>
                <td bgcolor="#ececec">Solapa Portada o Contraportada</td>
                <td bgcolor="#e9f5c0">9,8x21 cms.*</td>
            </tr>
            </tbody>
        </table>
    </div>

    <br />
    <div><a href="#"><img src="/media/images/nosotros/cuaderno.jpg" alt="Rumba" /></a></div>
    <br />
    <b>* Tamaños listados sin sangrado. Los artes de los avisos deben tener un mínimo de 3 mm. de sangrado.</b><br />
    <br />
    <b>Publicidad</b> Para preguntas y/o más información sobre precios y especificaciones publicitarias, favor comunicarse con nosotros al T+ 212-242-4341 (horario de oficina) o al<br />
    <a href="mailto:ventas@rumbacaracas.com" class="red">e-mail: ventas@rumbacaracas.com</a><br />
    <br />
    <br />


    </div><!--//.rumba-families-->
    </div><!--//.node-mini-left-->
    <div class="node-mini-right c32r">
        {% include "static/about_menu.html" with current="magazine"%}
        <h3 class="red">Guías Impresas</h3>
        <div><a href="#"><img src="/media/images/nosotros/impresa-1.jpg" alt="Rumba" /></a></div>
        <br />
        <div><a href="#"><img src="/media/images/nosotros/impresa-2.jpg" alt="Rumba" /></a></div>
        <br />
        <div><a href="#"><img src="/media/images/nosotros/impresa-3.jpg" alt="Rumba" /></a></div>
        <br />
        <div><a href="#"><img src="/media/images/nosotros/impresa-4.jpg" alt="Rumba" /></a></div>
        <a href="#" class="read-more-red">Ver más Guías Impresas</a><br />
        <br />
        {% include "static/social_contacts.html" %}
    </div><!--//.node-mini-right-->
    </div><!--//.video-archives-->
    </div><!--//.node-->
    </div><!--//.node-container-->

{% endblock %}

