{% extends "static/static_base.html" %}
{% load i18n %}
{% block title %}{% trans "About Us Partners" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="/about/partners">{% trans "Partners" %}</a>
{% endblock %}

{% block colleft %}

    <div class="node-container nosotros box-shadows encap">
        <div class="title-wrap encap">
            <span class="flt-left"><h2 class="title">{% trans "Partners" %}</h2></span>
        </div><!--//.title-wrap-->
        <div class="node bb-none encap">
            <div class="nosotros encap">
                <div class="node-mini-left c65l">
                    <div class="content">
                        <p><strong>Mantenemos alianzas con otros medios líderes para llevar lo mejor del entretenimiento a cientos de miles de rumberos a nivel nacional.</strong></div><!--//.content-->
                    <div class="rumba-families encap outnone">
                        <ul>
                            <li><!--//.wrapper-->
                            </li>
                            <li>
                                <div class="wrapper encap nbpad">
                                    <div class="encap mb10">
                                        <a href="http://freakycolectivo.blogspot.com" target="_blank" class="redBold">Freaky Friday</a><br />
                                        <div class="alianzas-thumb"><a href="http://freakycolectivo.blogspot.com/" target="_blank"><img src="/media/images/alianzas/freaky-friday.jpg" alt="Rumba" /></a></div>
                                        <p>Es un   colectivo que reúne artistas visuales y dj´s  con el propósito de generar   espacios para interacción de experiencias sonoras y visuales con el público,   además de crear un circuito de fiestas mensuales, en donde se explora lo último   en música urbana, sobre todo, sonidos afros, como: cumbia, hip hop, dance hall,   reggae, crunk, tropical bass, dub, mash up, entre otros. </p>
                                        <p><a href="http://freakycolectivo.blogspot.com/" target="_blank"><span lang="EN-US" xml:lang="EN-US">http://freakycolectivo.blogspot.com/</span></a><span lang="EN-US" xml:lang="EN-US"></span></p>
                                        <p><span lang="EN-US" xml:lang="EN-US"> </span></p>
                                    </div><!--//.encap-->
                                </div><!--//.wrapper-->
                            </li>
                            <li>
                                <div class="wrapper encap nbpad">
                                    <div class="encap mb10">
                                        <a href="http://loop-live.com/" class="redBold" target="_blank">Loop - Live</a><br />
                                        <div class="alianzas-thumb"><a href="http://loop-live.com/" target="_blank"><img src="/media/images/alianzas/loop-live.jpg" alt="Rumba" /></a></div>
                                        <p><strong><span lang="EN-US" xml:lang="EN-US">Loop – Live</span></strong></p>
                                        <p>Es   una empresa proveedora de servicios relacionados con el sector musical y la   activación de marca. Sus clientes son compañías medianas y grandes de la   industrias del entretenimiento, los deportes, las artes y la   tecnología.<br />
                                            LOOP-LIVE, maximiza sus recursos tecnológicos y   conocimiento en la industria musical y del entretenimiento para proporcionar   eficiencia creciente y una ventaja competitiva.</p>
                                        <p><a href="http://loop-live.com/" target="_blank"><span lang="EN-US" xml:lang="EN-US">http://loop-live.com/</span></a></p>
                                    </div><!--//.encap-->
                                    <div class="rumba-cats">                      </div><!--//.wrapper-->
                            </li>
                            <li>
                                <!--//.wrapper-->
                            </li>
                            <li>
                                <!--//.wrapper-->
                            </li>
                            <li>
                                <div class="wrapper encap nbpad">
                                    <!--//.encap-->
                                </div>
                                <!--//.wrapper-->
                            </li>
                        </ul>
                    </div><!--//.rumba-families-->
                </div><!--//.node-mini-left-->
                <div class="node-mini-right c32r">
                    {% include "static/about_menu.html" with current="partners"%}
                    {% include "static/social_contacts.html" %}
                </div><!--//.node-mini-right-->
            </div><!--//.video-archives-->
        </div><!--//.node-->
    </div><!--//.node-container-->


{% endblock %}

