{% extends "static/static_base.html" %}
{% load i18n %}
{% load tools %}
{% block title %}{% trans "About Us Partners" %}{% endblock %}
{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="{% url about_partners %}">{% trans "Partners" %}</a>
{% endblock %}

{% block colleft %}

    <div class="node-container nosotros box-shadows encap">
        <div class="title-wrap encap">
            <span class="flt-left"><h2 class="title">{% trans "Partners" %}</h2></span>
        </div><!--//.title-wrap-->
        <div class="node bb-none encap">
            <div class="nosotros encap">
                     <div class="node-mini-left c65l">
                    <div class="content">
                        <p><strong>Sea por la radio, celular y hasta  en el periódico, el contenido actual y completo de RUMBACARACAS.COM sigue y  seguirá demostrando por qué somos los líderes en cubrir la vida nocturna  nacional.                        </strong>
                        <p><strong>Mantenemos alianzas con otros medios líderes para llevar lo mejor del entretenimiento a cientos de miles de rumberos a nivel nacional.</strong>
</div><!--//.content-->
                    <div class="rumba-families encap outnone">
                      <ul><li>
                                <div class="wrapper encap nbpad">
                                    <div class="encap mb10">
                                        <p>Emisora 92.9<a href="http://freakycolectivo.blogspot.com" target="_blank" class="redBold"></a> - Programa:<strong> Secuencia2</strong><br />
                                        </p>
                                        <div class="alianzas-thumb"><a href="http://freakycolectivo.blogspot.com/" target="_blank"><img src="{% value_from_settings "STATIC_URL" %}images/alianzas/secuencia2.jpg" alt="Rumba" /></a></div>
                                      <p>Participación en la &quot;Agenda U&quot;  y mención en vivo.</p>
                                        <p> Ramón Velásquez y Gonzalo Lazzari son los encargados de manejar micrófono. Con ellos te podrás mantener informado con las novedades con contenido dirigido a los universitarios sobre creatividad, publicidad, tecnología, cine, música y humor. De lunes a viernes, de 1:00 pm a 3:00 pm <br />
                                        </p>
                                        <p><a href="http://rumbacaracas.com/eventos/secuencia2/"></a>   <a href="http://twitter.com/#!/secuencia2">http://twitter.com/#!/secuencia2</a></p>
                                  </div><!--//.encap-->
                                </div><!--//.wrapper-->
                            </li>
                          <li>
                              <div class="wrapper encap nbpad">
                                  <div class="encap mb10">
                                      <p>Emisora: La Mega 107.3 - Programa: <strong>2 Horas de Música Mega</strong><br />
                                      </p>
                                      <div class="alianzas-thumb"><a href="http://loop-live.com/" target="_blank"><img src="{% value_from_settings "STATIC_URL" %}images/alianzas/2horasmusicamega.jpg" alt="Rumba" /></a></div>
                                    <p>Francisco Granados nos da mención en vivo y  por Twitter. Además de leer la agenda del día de Rumbacaracas en un segmento de  su programa.   </p>
                                      <p>No dejes de sintonizar a Francisco Granados para escuchar lo más sonado de las nuevas agrupaciones, lanzamientos, recomendaciones, testimonios de las bandas nacionales, las carteleras de los locales, las noticias más resaltantes del panorama musical y vacilarte la selección de temas que tiene para ti cada mañana.</p>
                                      <p><a href="http://loop-live.com/" target="_blank"> http://twitter.com/#!/FranciscoGH </a></p>
                            </div><!--//.encap-->
                                  <div class="rumba-cats">                      </div><!--//.wrapper-->
                          </li>
                          <li>
                            <div class="encap mb10">
                              <p>Emisora: Ateneo 107 - Programa: <strong>Dale Play</strong><br />
                              </p>
                              <div class="alianzas-thumb"><a href="http://loop-live.com/" target="_blank"><img src="{% value_from_settings "STATIC_URL" %}images/alianzas/daleplay.jpg" alt="Rumba" /></a></div>
                              <p>Mención en vivo por Ramón Castro y  &quot;La agenda play&quot;  cortesía de  Rumbacaracas.com</p>
                              <p> Ramon Castro le da ¨Play¨ a tu vida cuando cae la tarde y sube la cola de lunes a viernes de 6:00 p.m. a 7:00 p.m. </p>
                              <p><a href="http://loop-live.com/" target="_blank"> http://www.ateneofm.com/ </a></p>
                            </div>
                          </li>
                          <li>
                            <div class="encap mb10">
                              <p>Emisora: Activa 103.9 FM<br />
                              </p>
                              <div class="alianzas-thumb"><a href="http://loop-live.com/" target="_blank"><img src="{% value_from_settings "STATIC_URL" %}images/alianzas/activa103.jpg" alt="Rumba" /></a></div>
                              <p>Transmisión del calendario de eventos de  Rumbacaracas.com durante los fines de semana y mención en vivo.</p>
                            </div>
                          </li>
                          <li>
                            <div class="encap mb10">
                              <p>Emisora: Hot 94 fm - Programa: <strong>Templo Pagano</strong><br />
                              </p>
                              <div class="alianzas-thumb"><a href="http://loop-live.com/" target="_blank"><img src="{% value_from_settings "STATIC_URL" %}images/alianzas/templopagano.jpg" alt="Rumba" /></a></div>
                              <p> El programa nocturno de la gozonería. En este Templo las vírgenes no son santas ni los santos hacen milagros . Henry Cuicas, Marcel Fernández y Rodolfo Colmenares, se encarga, de divertir a los noctámbulos de la noche caraqueña con su particular sentido del humor, cargado de sarcasmo, ironía y todo lo que a muchos le puede molestar, pero a todos nos divierte. De Lunes a Jueves de 10:00 p.m a 12:00 p.m </p>
                              <p><a href="http://loop-live.com/" target="_blank"> http://www.hot94fm.com.ve/Programacion.aspx </a></p>
                            </div>
                          </li>
                          <li>
                            <div class="encap mb10">
                              <p>Otras Alianzas:<strong></strong><br />
                              </p>
                              <div class="alianzas-thumb"></div>
                              <p><strong>Cinex:</strong> Todos los jueves en  todas las salas del país contamos con la presencia de nuestro Spot Digital de  Rumbavenezuela.com<br />
                                <br />
                                <strong>La Mega Mérida:</strong> 89.3FM Mención de la  marca Rumbavenezuela.com todos los días en el programa de Verónica Félix  el Calendario Rumbero.<br />
                                <br />
                                <strong>Paraíso Stereo Barinas</strong><strong>: </strong>102.9 Fm<strong> </strong>Mención de la marca Rumbavenezuela  todos los días en el Programa de Elvira Chacón.<br />
                                <br />
                                <strong>La Mega Barquisimeto:</strong> 103.3 Fm Mención de la marca Rumbavenezuela todos los días  en el programa de Leonardo Camacho el Doc. De la Mega.<a name="_GoBack" id="_GoBack"></a>
                                <!--//.wrapper-->
                          </p>
                            </div>
                            </li>
                      </ul>
                  </div><!--//.rumba-families-->
                </div><!--//.node-mini-left-->
                <div class="node-mini-right c32r">
                    {% include "static/about_menu.html" with current="partners"%}
                    {% include "static/social_contacts.html" %}
                </div><!--//.node-mini-right-->
            </div><!--//.video-archives-->
        </div><!--//.node-->
    </div><!--//.node-container-->


{% endblock %}

