{% load i18n %}
<div class="block-social-share box-marginal outnone">
    <div class="box-border box-contents decou">
        <div class="fb-share"><a href="http://www.facebook.com/pages/Rumbabogotacom/135039689865358">{% trans "Follow us on <br /><span class='fp18'>Facebook</span>"%}</a></div><!--//.fb-share-->
        <div class="tw-share"><a href="http://twitter.com/#!/rumbabogota">{% trans "Follow us on <br /><span class='fp18'>Twitter</span>"%}</a></div><!--//.tw-share-->
    </div><!--//.box-contents-->
</div><!--//.block-social-share-->
<div class="block-address box-marginal outnone">
    <div class="box-title"><h2>NOS TOMAMOS<br />LA RUMBA EN SERIO</h2></div>
    <div class="box-border box-contents decou uppercase">
        <p>RUMBACARACAS.COM</p>
        <p>rumba@rumbacaracas.com</p>
        <p>T+ (212) 242-4341 / (212) 243-6530</p>
    </div><!--//.box-contents-->
</div><!--//.block-social-share-->