*.class
*.pyc
*.pyo
*.orig
media/photos/*
media/images/events/*
media/images/people/*
media/images/locations/*
media/images/yourphotos/*
media/blog/uploads/*
media/images/slider/*
media/uploads/*
media/uploads/gallery/*
olddata
media/zinnia
media/grappelli
src/
out/
pull_linexternal.sh
rumbacaracas.iml
.idea/
.settings
.pydevproject
backup/*
old_uploads/*
uwsgi.xml
media/*
uploads/*
