*.class
*.pyc
*.pyo
media/photos/*
media/images/events/*
media/images/people/*
media/images/locations/*
media/images/yourphotos/*
media/blog/uploads/*
media/images/slider/*
media/uploads/*
media/uploads/gallery/*
olddata