{% if show %}
    <style type="text/css">
    .main-wrapper{
        {% if url %}
            cursor: pointer;
        {% endif %}
        {% if image %}
            background:url("{{ image.url }}") no-repeat scroll 50% top transparent;
        {% endif %}
    }
    {% if cursor %}
        #image_cursor{
            position: absolute;
            z-index: 999999999;
        }
    {% endif %}
    </style>
    {% if url %}
        <script type="text/javascript">
            $(document).ready(function () {
                jQuery('.main-wrapper').click(function(event){
                    if (typeof event.target != 'undefined' && $(event.target).hasClass('main-wrapper')){
                        window.open( '{{ url }}' )
                        //location.href = '{{ url }}';
                    }
                })
            })
        </script>
    {% endif %}
    {% if cursor %}
        <script type="text/javascript">
            $(document).mousemove(function(e){
                jQuery("#image_cursor").css({left:e.pageX, top:e.pageY});
                return true;
            });
        </script>
        <img id="image_cursor" src="{{ cursor.url }}"/>
    {% endif %}
{% endif %}