{% load i18n %}
{% load facebook %}
<dl class="encap" style="width: 640px">
    <dt class="c40l">
        <a href="{{ object.get_absolute_url }}">
            {% if object.image %}
                <img src="{{ object.blogthumb.url }}" alt="{{ object.title }}" />
            {% else %}
                <img src="/media/s.gif" alt="{{ object.title }}" width=228 height=168/>
            {% endif %}
        </a></dt>
    <dd class="c60r">
      <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
      <p class="published">{{ object.creation_date|date:"d.m.Y" }} / {%facebook_comments_count object.get_absolute_url%} {% trans "Comments" %}</p>
      <p>{{ object.short }}</p>
      <a class="read-more" href="{{ object.get_absolute_url }}">{%  trans "Read More" %}</a>
    </dd>
</dl>