{% load i18n %}
{% load tools %}
{% load facebook %}
<dl class="encap" style="width: 640px;">
    <dt class="c40l">
        <a href="{{ object.get_absolute_url }}">
            {% if object.image %}
                <img src="{{ object.blogthumb.url }}" alt="{{ object.title }}" />
            {% else %}
                <img src="{% value_from_settings "STATIC_URL" %}s.gif" alt="{{ object.title }}" width=228 height=168/>
            {% endif %}
        </a></dt>
    <dd class="c60r">
      <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>

      <p class="published">
        {% if object.from_date == object.to_date %}
            {{object.from_date|date:"d.m.Y"}}
        {% else %}
            {{object.from_date|date:"d.m.Y"}} - {{object.to_date|date:"d.m.Y"}}
        {% endif %}
        {% if object.repeat.all %}({{ object.repeat.all|join:", "}}){% endif %}
        {% if object.description %}
            <p>{{ object.description|truncate:150 }}</p>
            <a class="read-more" href="{{ object.get_absolute_url }}">{%  trans "Read More" %}</a>
        {% endif %}
    </dd>
</dl>