<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      apiKey: '{{ facebook_api_key }}',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
    FB.XFBML.parse(document.getElementById("header-primary"));
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/es_CO/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
  
  function facebookConnect(form){
      function handleResponse(response){
          form.submit();
      }
      FB.login(handleResponse,{perms:'email,user_birthday'});
  }
</script>
