<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      apiKey: '{{ facebook_api_key }}',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true  // parse XFBML
    });
  };

  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/es_CO/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
