{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Rumbabogota" %}{% endblock %}
{% load tools %}
{% load paging %}
{% load openx %}
{% load youtube %}
{% load listtools %}
{% load facebook %}
{% load listtools %}
{% block advbodycls %}front{% endblock %}


{% block colleft %}
<div id="front-slides" class="front-slides box-shadows encap">
        	<div class="nav-wrapper">
	        	<div id="nav" class="encap outnone">&nbsp;</div>
          </div><!--//.nav-wrapper-->
        	<div id="slides" class="slides">
            {% for slide, type in slides%}
	            <div class="slide">
	            	<img src="{{slide.slide.url}}" alt="{{slide.title}}" />
	              <div class="slide-info-wrapper">
	                <div class="slide-info">
	                  <h3><a href="{{slide.get_absolute_url}}">{{slide.title}}</a></h3>
	                  {%if type == 'event'%}
	                  	<p>{{slide.description|truncate:140}}</p>
	                  {% else %}
	                  	<p>{{slide.short|truncate:140}}</p>
	                  {% endif %}
	                  <a href="{{slide.get_absolute_url}}" class="read-more">{%trans "- Read More"%}</a>
	                </div><!--//.slide-info-->
	              </div><!--//.slide-info-wrapper-->
	            </div><!--//.slide-->
            {%endfor%}
          </div><!--//.slides-->
        </div><!--//.front-slides-->
        <div id="latest-photos" class="latest-photos encap tabs boxed-brief">
        	<div class="wrapper encap">
            <div class="title flt-left"><h2>{% trans "LATEST PHOTOS" %}</h2></div>
            <div class="tab-titles flt-right fcml0 lcmr0">
              <ul id="tab-photo-outline" class="outnone tab-navigation">
                <li class="box-shadows"><a class="active" href="#tab-events">{% trans "People and Events" %}</a></li>
                <li class="box-shadows"><a href="#tab-your-photos">{% trans "Your Photos" %}</a></li>
              </ul>
            </div><!--//.tab-titles-->
          </div><!--//.wrapper-->

          <div id="latest-photos-content" class="latest-photos-content tab-container box-shadows outnone">
          	<div id="tab-events" class="tab-parts encap">
                <div class="photo-teasters" style="height: 195px;">
                    {% include "people/main_ajax_slide.html" with event=people|first%}
                </div><!--//.photo-teasers-->
                <div class="cflt"></div>
              <div class="more-photos encap">
                <a id="carousel-prev" class="carousel-prev flt-left" href="#"><span class="hidden">&nbsp;</span></a>
                <a id="carousel-next" class="carousel-next flt-right" href="#"><span class="hidden">&nbsp;</span></a>
                <ul class="carousel-images peoples ie-encap">
                    {% for row in people|main_slider_split:4 %}
                        {% if row %}
                        <li>
                            <ul class="carousel-slide fcml0 lcmr0" style="width: 575px;">
                            {% for event in row %}
                                    {% if forloop.parentloop.first and  forloop.first%}
                                        <li class="active">
                                    {% else %}
                                        <li>
                                    {% endif %}
                                    <h6>
                                        <a href="/people/main_slide/{{ event.id }}"><img src="{{ event.mainminithumb.url }}" alt="{{event.title}}" />{{event.title}}<br />{{event.date|date:"d.m.y"}}</a>
                                    </h6>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul><!--//.carousel-images-->
                <div class="cflt"></div>
              </div><!--//.more-photos-->
              <div class="cflt"></div>
            </div><!--//.tab-parts-->

          	<div id="tab-your-photos" class="tab-parts encap">
            	<div class="photo-teasters" style="height: 195px;">
                    {% include "yourphotos/main_ajax_slide.html" with photo=photos|first%}
                </div><!--//.photo-teasers-->
                <div class="cflt"></div>
              <div class="more-photos encap">
                <a id="carousel-prev2" class="carousel-prev flt-left" href="#"><span class="hidden">&nbsp;</span></a>
                <a id="carousel-next2" class="carousel-next flt-right" href="#"><span class="hidden">&nbsp;</span></a>
                <ul class="carousel-images fotos ie-encap">
                	{% for row in photos|main_slider_split:4 %}
                        {% if row %}
                        <li>
                            <ul class="carousel-slide fcml0 lcmr0" style="width: 562px;">
                            {% for photo in row %}
                                    {% if forloop.parentloop.first and  forloop.first%}
                                        <li class="active">
                                    {% else %}
                                        <li>
                                    {% endif %}
                                    <h6>
                                        <a href="/yourphotos/main_slide/{{ photo.id }}"><img src="{{ photo.mainminithumb.url }}" alt="{{photo.description}}" />{{photo.description}}<br />{{photo.datetime_added|date:"d.m.y"}}</a>
                                    </h6>
                                </li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul><!--//.carousel-images-->
                <div class="cflt"></div>
              </div><!--//.more-photos-->
              <div class="cflt"></div>

            </div><!--//.tab-parts-->

          </div><!--//.latest-photos-content-->
        </div><!--//.latest-photos-->

        <div class="banner-container box-shadows outnone" style="margin: 0 auto;">
            {% banner_zone 103 %}
        </div><!--//.banner-container-->
        <div id="outline-briefs" class="outline-briefs boxed-brief">
        	<div class="outline-navigation">
            <ul id="outline-titles" class="encap outnone box-shadows equal-width">
              <li><a href="#">{% trans "News" %}</a><div class="pointer-tip"></div></li>
              <li><a href="/locations">{% trans "Locations" %}</a><div class="pointer-tip"></div></li>
              <li><a href="/news/categories/blog">{% trans "Blog"%}</a><div class="pointer-tip"></div></li>
              <li><a href="#">Arte y Cultura</a><div class="pointer-tip"></div></li>
            </ul>
          </div>
          <div id="outline-slides" class="outnone encap">
          	<div class="outline-slide">
              {% for object in news %}
                  {% include "main/blog_entry.html"%}
              {% endfor %}
            <p>&nbsp;</p>
            </div><!--//.outline-slide-->
          	<div class="outline-slide">
              {% for object in locations %}
                  {% include "main/location_entry.html"%}
              {% endfor %}
            <p>&nbsp;</p>
            </div><!--//.outline-slide-->
          	<div class="outline-slide">
              {% for object in blog %}
                  {% include "main/blog_entry.html"%}
              {% endfor %}
            </div><!--//.outline-slide-->
            <p>&nbsp;</p>
          	<div class="outline-slide">
              {% for object in art_culture %}
                  {% include "main/event_entry.html"%}
              {% endfor %}
            <p>&nbsp;</p>
            </div><!--//.outline-slide-->
          </div><!--//.outline-slides-->
          <div id="outlines-list" class="outlines-list outnone box-shadows">
          	<ul class="encap">
              <li><a href="/events">{% trans "Events" %}</a></li>
              <li><a href="/locations">{% trans "Locations"%}</a></li>
              <li><a href="/news/categories/rumba-news/">{% trans "Rumba News"%}</a></li>
              <li><a href="/news/categories/music-news/">{% trans "Music News" %}</a></li>
          	  <li><a href="/news/categories/news">{% trans "Actual" %}</a></li>
          	  <li><a href="/news/categories/interviews/">{% trans "Interviews" %}</a></li>
          	  <li><a href="#">Medios</a></li>
          	  <li><a href="/news/categories/blog">{% trans "Blog" %}</a></li>
          	</ul>
          </div><!--//.outlines-list-->
        </div><!--//.outline-briefs-->
        <div id="front-videos" class="front-videos encap tabs boxed-brief">
        	<div class="wrapper encap">
            <div class="title flt-left"><h2>{% trans "Videos" %}</h2></div>
            <div class="tab-titles flt-right fcml0 lcmr0">
              <ul id="tab-videos-outline" class="outnone tab-navigation">
                <li><a class="active" href="/videos">{%  trans "See + Videos"%}</a></li>
                <li><a class="decou sube-un-video" href="/videos/add">{%  trans "Sube un Video"%}</a></li>
              </ul>
            </div><!--//.tab-titles-->
          </div><!--//.wrapper-->
          <div id="videos-content" class="videos-content tab-container box-shadows outnone">
          	<div id="tab-all-videos" class="outnone tab-parts encap">
              <div class="video-slides c58l">
                <ul>
                    {% for video in videos %}
                        <li>
                            {%youtube_video video.youtube_id 350 288%}
                        </li>
                    {% endfor %}
                </ul>
              </div><!--//.video-slides-->
              <div class="recent-video-list c42r">
                <ul>
                    {% for video in videos %}
                        <li>
                            <a href="{{ video.get_absolute_url }}">{{video.description}} - <span>{{ video.get_user_link }}</span></a>
                        </li>
                    {% endfor %}
                </ul>
              </div><!--//.recent-video-list-->
            </div><!--//.tab-parts-->
          	<div id="tab-upload-video" class="tab-parts encap">
            </div><!--//.tab-parts-->
          </div><!--//.latest-photos-content-->
        </div><!--//.latest-photos-->



<script>
	$(document).ready(function () {
		jQuery('#main-contents #col-left #front-videos #videos-content div.video-slides ul').cycle({
            fx: 'scrollVert',
            speed: 1000,
            timeout: 0,
            sync: 1,
            activePagerClass: 'active', //-- class name used for the active pager link
            easing: 'easeInOutBack',
            containerResize: 1,
            pager:  '#main-contents #col-left #front-videos #videos-content div.recent-video-list ul',
            pagerAnchorBuilder: function(idx, slide) {
                //-- return selector string for existing anchor
                return '#main-contents #col-left #front-videos #videos-content div.recent-video-list ul li:eq(' + idx + ') a';
            },
            delay: -2000
        });

        jQuery('#latest-photos-content ul.peoples').cycle({
            fx: 'scrollHorz',
            activePagerClass: 'active', //-- class name used for the active pager link
            speed: 1000,
            timeout: 0,
            sync: 1,
            containerResize: 1,
            easing: 'easeOutExpo',
            next: '#carousel-next',
            prev: '#carousel-prev',
            delay: -2000
	    });

        jQuery('#latest-photos-content ul.fotos').cycle({
            fx: 'scrollHorz',
            activePagerClass: 'active', //-- class name used for the active pager link
            speed: 1000,
            timeout: 0,
            sync: 1,
            containerResize: 1,
            easing: 'easeOutExpo',
            next: '#carousel-next2',
            prev: '#carousel-prev2',
            delay: -2000
	    });


        jQuery('.latest-photos div.tab-parts').each(function (idx, el){
            var tab = $(el);
            jQuery('ul.carousel-images ul.carousel-slide li', tab).click( function() {
                var element = $(this);
                if (! element.hasClass('active')){
                    $('ul.carousel-images ul.carousel-slide li.active').removeClass('active');
                    element.addClass('active')
                    var addr = $('a', element).attr('href');
                    $('.photo-node', tab).hide('slide', {direction: 'left'}, 500, function(){
                        $('.photo-teasters', tab).load(addr,function(){
                            $('.photo-node', tab).show('slide', {direction: 'right'}, 500);
                            FB.XFBML.parse( $('.photo-teasters', tab).get(0) );
                        });
                    });
                }
                return false;
            })
        })



	})
</script>
{% endblock %}

{% block colright %}
{{ block.super }}
<div class="banner-container box-shadows outnone widget" style="width: 300px;">
  {% facebook_group %}
</div>

<div class="split-sidebars encap">
  <div class="c57l left">
    <div id="your-photos" class="your-photos outnone">
      <div class="box-title">
        <h2>Más Eventos</h2>
      </div>
      <div class="box-border box-contents box-shadows decou">
        <ul>
          <li>
            <a href="#"><img src="/media/images/content/imgs_6.jpg" width="148" height="118" alt="imgs_6"/></a>
            <h6><a href="#">Con el vocalista del doctor krapula</a></h6>
            <p><a href="#">Vodketería Barrabés</a></p>
            <p>03.06.2010</p>
          </li>
          <li>
            <a href="#"><img src="/media/images/content/imgs_7.jpg" width="148" height="118" alt="imgs_6"/></a>
            <h6><a href="#">Con el vocalista del doctor krapula</a></h6>
            <p><a href="#">Vodketería Barrabés</a></p>
            <p>03.06.2010</p>
          </li>
          <li><a href="#"><img src="/media/images/content/imgs_6.jpg" width="148" height="118" alt="imgs_6"/></a>
            <h6><a href="#">Con el vocalista del doctor krapula</a></h6>
            <p><a href="#">Vodketería Barrabés</a></p>
            <p>03.06.2010</p>
          </li>
          <li><a href="#"><img src="/media/images/content/imgs_6.jpg" width="148" height="118" alt="imgs_6"/></a>
            <h6><a href="#">Con el vocalista del doctor krapula</a></h6>
            <p><a href="#">Vodketería Barrabés</a></p>
            <p>03.06.2010</p>
          </li>
        </ul>
      </div><!--//.box-contents-->
    </div><!--//.your-photos-->
    <div class="block-poll" id="block-poll-0">
      <div class="box-title"><h2>Encuesta</h2></div>
      <div class="box-border box-contents box-shadows">
        <form id="poll-view-voting-1" method="post" accept-charset="UTF-8" action="/">
          <div>
            <div class="poll">
              <div class="vote-form">
                <div class="choices">
                  <div class="title">¿Donde has visto los juegos del Mundial</div>
                  <div class="form-radios">
                    <div id="edit-choice-0-1-wrapper" class="form-item">
                      <label for="edit-choice-0-1" class="option"><input type="radio" class="form-radio" value="0" name="choice" id="edit-choice-0-1"> House MD</label>
                    </div>
                    <div id="edit-choice-1-1-wrapper" class="form-item">
                      <label for="edit-choice-1-1" class="option"><input type="radio" class="form-radio" value="1" name="choice" id="edit-choice-1-1"> Prison Break</label>
                    </div>
                    <div id="edit-choice-2-1-wrapper" class="form-item">
                      <label for="edit-choice-2-1" class="option"><input type="radio" class="form-radio" value="2" name="choice" id="edit-choice-2-1"> Supernatural</label>
                    </div>
                    <div id="edit-choice-3-1-wrapper" class="form-item">
                      <label for="edit-choice-3-1" class="option"><input type="radio" class="form-radio" value="3" name="choice" id="edit-choice-3-1"> CSI Miami</label>
                    </div>
                  </div>
                </div>
                <input type="submit" class="form-submit" value="Vota" id="edit-vote-1" name="op">
              </div>
              <input type="hidden" value="form-f64fcbd9209901d8a2afb2b497432aa0" id="form-f64fcbd9209901d8a2afb2b497432aa0" name="form_build_id">
              <input type="hidden" value="d0abf89c0d6cd87b4887a34bf3a09882" id="edit-poll-view-voting-form-token-1" name="form_token">
              <input type="hidden" value="poll_view_voting" id="edit-poll-view-voting-1" name="form_id">
            </div>
          </div>
        </form>
      </div>
    </div><!--//.block-poll-->
    <div id="print-guide" class="print-guide outnone">
      <div class="box-title"><h2>CUADERNOS</h2></div>
      <div class="box-border box-contents box-shadows decou">
      <a href="#"><img src="/media/images/nosotros/cuaderno-1.jpg" width="145" height="149" alt="cuaderno-1"/></a></div>
      <!--//.box-contents-->
    </div><!--//.print-guide-->
  </div><!--//.left-->
  <div class="c40r right">
    <div class="placeholders mt30">
      <div class="box-border box-contents box-shadows">
        {% banner_zone 104 %}
      </div><!--//.box-contents-->
    </div><!--//.placeholder-->
    <div class="placeholders mt10">
      <div class="box-border box-contents box-shadows">
        {% banner_zone 105 %}
      </div>
      <!--//.box-contents-->
    </div><!--//.placeholder-->
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone 101 %}
    </div><!--//.banner-container-->
  </div><!--//.right-->
</div><!--//.split-sidebars-->

{% endblock %}
