{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load paging %}
{% load openx %}
{% load cache %}
{% load widgets %}
{% load youtube %}
{% load listtools %}
{% load facebook %}
{% load listtools %}
{% block advbodycls %}front{% endblock %}

{% block corner %}{% banner_zone_corner 126 %}{% endblock %}
{% block pushdown %}{% banner_zone_iframe 161 960 300%}{% endblock %}

{% block colleft %}
    {% if slides %}
        <div id="front-slides" class="front-slides encap">
            <div class="nav-wrapper">
                <div id="nav" class="encap outnone">&nbsp;</div>
            </div><!--//.nav-wrapper-->

            <div id="slides" class="slides">
                {% for slide, type in slides%}
                    <div class="slide" {% if not forloop.first %}style="display:none;width: 619px;height: 425px; overflow: hidden"{% else %}style="height: 338px;"{% endif %}>
                        <img  width="615" height="258" src="{% if slide.slider_image %}{{slide.slider_image.url}}{% else %}{{slide.slide.url}}{% endif %}" alt="{{slide.title}}" />
                        <div class="slide-info-wrapper">
                            <div class="slide-info">
                                <h3><a href="{{slide.get_absolute_url}}">{{slide.title|truncate:80}}</a></h3>
                                {%if type == 'event'%}
                                    <p>{{slide.description|truncate:280}}</p>
                                    <a class="slider-read-more" href="{{slide.get_absolute_url}}">{% trans "Read More" %}</a>
                                {% else %}
                                    <p>{{slide.short|truncate:280}}</p>
                                    <a class="slider-read-more" href="{{slide.get_absolute_url}}">{% trans "Read More" %}</a>
                                {% endif %}
                            </div><!--//.slide-info-->
                        </div><!--//.slide-info-wrapper-->
                    </div><!--//.slide-->
                {%endfor%}
            </div><!--//.slides-->
        </div><!--//.front-slides-->
    {%  endif %}
    <div id="latest-photos" class="latest-photos encap boxed-brief lastest-photos-main-box">
        {% comment %}<div class="wrapper encap">
            <div class="title flt-left"><h2>{% trans "LATEST PHOTOS" %}</h2></div>
            <div class="tab-titles flt-right fcml0 lcmr0">
                <ul id="tab-photo-outline" class="outnone tab-navigation">
                    <li class="box-shadows"><a class="active" href="#tab-events">{% trans "People and Events" %}</a></li>
                    <li class="box-shadows"><a href="#tab-your-photos">{% trans "Your Photos" %}</a></li>
                </ul>
            </div><!--//.tab-titles-->
        </div><!--//.wrapper-->
		{% endcomment %}
		<div class="orange-bar">
			{% trans "LATEST PHOTOS" %}
		</div>
		{% for row in people|slice:":4" %}
			{% if row %}
				{% if forloop.counter|divisibleby:"2" %}
					<div class="latest-photos-image-box">
				{% else %}
					<div class="latest-photos-image-box" style="margin-right: 30px;">
				{% endif %}
					<a href="{{ row.get_absolute_url }}"><img src="{{ row.mainthumb.url }}" alt="{{ row.title }}" /></a>
					<div class="grey-text-bar-on-img-container">
						<div class="grey-text-bar-on-img">
							<div style="float: right">
								{{row.date|date:"d.m.y"}}
							</div>
							<div style="clear: both;"></div>
						</div>
					</div>
					<div class="latest-photo-desc">
						<a href="{{ row.get_absolute_url }}">{{ row.title }}</a>
					</div>
				</div>
            {% endif %}
		{% endfor %}
		<div style="clear: both;"></div>
		<a href="{% url people_main %}" class="more-photos-link">
			<div class="gradient-bar">
				<span>
					{% trans "SEE MORE PHOTOS" %}
				</span>
			</div>
		</a>
		<div style="clear: both;"></div>
		{% comment %}
        <div id="latest-photos-content" class="latest-photos-content tab-container box-shadows outnone">
            <div id="tab-events" class="tab-parts encap">
                <div class="photo-teasters" style="height: 195px;">
                    {% include "people/main_ajax_slide.html" with event=people|first%}
                </div><!--//.photo-teasers-->
                <div class="cflt"></div>
                <div class="more-photos encap">
                    <a id="carousel-prev" class="carousel-prev flt-left" href="#"><span class="hidden">&nbsp;</span></a>
                    <a id="carousel-next" class="carousel-next flt-right" href="#"><span class="hidden">&nbsp;</span></a>
                    <ul class="carousel-images peoples ie-encap" style="width: 562px;height: 145px;">
                        {% cache 60 main_people %}
                            {% for row in people|main_slider_split:4 %}
                                {% if row %}
                                    <li style="{% if not forloop.first %};display:none{% endif %}">
                                        <ul class="carousel-slide fcml0 lcmr0">
                                            {% for event in row %}
                                                {% if forloop.parentloop.first and  forloop.first%}
                                                    <li class="active">
                                                        {% else %}
                                                    <li>
                                                {% endif %}
                                            <h6>
                                                <a href="{% url people_main_slide event.id %}"><img src="{{ event.mainminithumb.url }}" alt="{{event.title}}" />{{event.title|truncate:35}}<br />{{event.date|date:"d.m.y"}}</a>
                                            </h6>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endcache %}
                    </ul><!--//.carousel-images-->
                    <div class="cflt"></div>
                </div><!--//.more-photos-->
                <div class="cflt"></div>
            </div><!--//.tab-parts-->

            <div id="tab-your-photos" class="tab-parts encap">
                <div class="photo-teasters" style="height: 195px;">
                    {% include "yourphotos/main_ajax_slide.html" with photo=photos|first%}
                </div><!--//.photo-teasers-->
                <div class="cflt"></div>
                <div class="more-photos encap">
                    <a id="carousel-prev2" class="carousel-prev flt-left" href="#"><span class="hidden">&nbsp;</span></a>
                    <a id="carousel-next2" class="carousel-next flt-right" href="#"><span class="hidden">&nbsp;</span></a>
                    <ul class="carousel-images fotos ie-encap" style="width: 562px;height: 145px;">
                        {% cache 60 main_yourphoto %}
                            {% for row in photos|main_slider_split:4 %}
                                {% if row %}
                                    <li style="{% if not forloop.first %};display:none{% endif %}">
                                        <ul class="carousel-slide fcml0 lcmr0">
                                            {% for photo in row %}
                                                {% if forloop.parentloop.first and  forloop.first%}
                                                    <li class="active">
                                                        {% else %}
                                                    <li>
                                                {% endif %}
                                            <h6>
                                                <a href="{% url yourphoto_main_slide photo.id %}"><img src="{{ photo.mainminithumb.url }}" alt="{{photo.description}}" />{{photo.description|truncate:35}}<br />{{photo.datetime_added|date:"d.m.y"}}</a>
                                            </h6>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endcache %}
                    </ul><!--//.carousel-images-->
                    <div class="cflt"></div>
                </div><!--//.more-photos-->
                <div class="cflt"></div>

            </div><!--//.tab-parts-->

        </div><!--//.latest-photos-content-->
        {% endcomment %}
    </div><!--//.latest-photos-->
    <div style="clear: both;"></div>
    {% include "main/banner_103.html" %}
    <div class="news-main-box">
    	<div class="general-bar grey-bar">
			{% trans "NEWS" %}
		</div>
		{% for object in news|slice:":4" %}
			{% if forloop.counter|divisibleby:"2" %}
				<div class="news-photos-box">
			{% else %}
				<div class="news-photos-box" style="margin-right: 30px;">
			{% endif %}
				<a href="{{ object.get_absolute_url }}">
					<img src="{{ object.blogthumb.url }}" alt="{{ object.title }}">
				</a>
				<div class="news-photos-info-box">
					<a href="{{ object.get_absolute_url }}">
						<h3 class="news-photo-desc">
							{{ object.title|truncate:53 }}
						</h3>
					</a>
					<div class="news-photo-date-info">
						{{ object.creation_date|date:"d.m.y" }} /
						{% for cat in object.categories.all %}
							<a href="{{ cat.get_absolute_url }}" title="{{ cat }}">{{ cat }}</a>
							{% if not forloop.last %}, {% endif %}
          				{% endfor %} /
						<a href="{{ object.get_absolute_url }}#disqus_thread">{%facebook_comments_count object.get_absolute_url%} {% trans "Comments" %}</a>
					</div>
					<div class="news-photos-details">
						{{ object.short|truncate:162 }}
					</div>
					<a class="new-theme-read-more" href="{{ object.get_absolute_url }}">{%  trans "Read More" %}</a>
				</div>
			</div>
		{% endfor %}
		<div style="clear: both;"></div>
		<a href="{% url zinnia_entry_archive_index %}" class="new-theme-gradient-bar-hyperlink">
			<div class="general-bar new-theme-gradient-bar">
				<span>
					{% trans "SEE MORE NEWS" %}
				</span>
			</div>
		</a>
	</div>
	<div style="clear: both;"></div>
	<div class="banner-container outnone" style="margin: 0 auto; text-align: center; box-shadow: none;">
		{% banner_zone_iframe 117 468 100 1 %}
	</div><!--//.banner-container-->
	
	<div class="new-theme-most-viewed-box">
		<div class="general-bar black-bar">
			{% trans "THE MOST SEEN" %}
		</div>
		<div style="clear: both;"></div>
		
		<div class="most-viewed-container">
			<div class="column1">
				{% for news in most_viewed_news %}
				{% if forloop.counter|divisibleby:"2" %}
				<div class="news-box-trans" style="background-color: #E5E5E5;">
				{% else %}
				<div class="news-box-trans">
				{% endif %}
					<a href="{{ news.get_absolute_url }}">
						<h3 class="orange-color">
							{{ news.title|truncate:53 }}
						</h3>
					</a>
					
					<div class="news-event-date-info">
						{{ news.creation_date|date:"d.m.y" }} / 
						{% for cat in news.categories.all %}
						<a href="{{ cat.get_absolute_url }}" title="{{ cat }}">{{ cat }}</a>
							{% if not forloop.last %}, {% endif %}
          				{% endfor %} /
						<a href="{{ news.get_absolute_url }}#disqus_thread">{%facebook_comments_count news.get_absolute_url%} {% trans "Comments" %}</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="column2">
				{% for event in most_viewed_events %}
				<div class="event-box" style="margin-bottom: 25px;">
					<div class="event-img-bg">
						<a href="{{ event.get_absolute_url }}" style="display: block;">
							<img class="event-img" src="{{ event.widgetethumb.url }}" alt="{{ event.title }}">
						</a>
					<!--</div>
					<div style="position: absolute;width: 0px; height: 0px;"> -->
						<div class="event-desc"> 
							<div>
								<a href="{{ event.get_absolute_url }}" class="event-heading">
									<h3>{{ event.title|truncate:58 }}</h3>
								</a>
							</div>
							<div>
								{% if event.location %}
								<a href="{{ event.location.get_absolute_url }}" class="event-heading" style="color: #F06000;">
									<h3 style="color: #F06000;font-size: 13px;">{{ event.location.title|truncate:42 }}</h3>
								</a>
								{% else %}
									{% if event.place %}
			                            {{event.place}}
			                        {% else %}
			                            {% trans "Other"%}
			                        {% endif %}
			                    {% endif %}
							</div>
						</div>
					</div>
					
					<div class="event-date-box">
						{% if event.from_date%}
							<strong>{%trans "Date"%}: </strong>
							{% if event.from_date == event.to_date %}
				        		{{event.from_date}}
				    		{% else %}
				    			{{event.from_date}} a {{event.to_date}}
				    		{% endif %}
						{%endif%}
					</div>
					
					<div class="event-place-time-box">
						{% if event.repeat.all %}
						<strong>{%trans "Days"%}: </strong>
						{{ event.repeat.all|join:", "}}
						{% endif %}
						{% if event.time%}
						<strong> {% trans "Time"%}: </strong>{{event.time}}
						{%endif%}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div style="clear: both;"></div>
		
		<div class="new-theme-gradient-bar-hyperlink">
			<div class="general-bar new-theme-gradient-bar">
				<a href="{% url zinnia_entry_archive_index %}" style="float:left;">
					{% trans "SEE MORE NEWS" %}
				</a>
				<a href="{% url event_main %}">
					{% trans "SEE MORE EVENTS" %}
				</a>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
	<div id="new-theme-long-banner" class="banner-container outnone" style="margin: 0 auto; text-align: center; box-shadow: none;">
		{% banner_zone_iframe 175 960 300%}
	</div>
	<div class="new-theme-videos-box">
		<div class="general-bar orange-bar">
			VIDEOS
		</div>
		{% for video in videos|slice:":4" %}
			{% if forloop.counter|divisibleby:"2" %}
				<div class="video-box">
			{% else %}
				<div class="video-box" style="margin-right: 30px;">
			{% endif %}
				<div class="video-container">
	                {%youtube_video video.youtube_id 291 185%}
				</div>
				<div class="video-info-box">
					<a href="{{ video.get_absolute_url }}" style="color:#f06000;">
						<h3 class="video-desc">
							{{video.description|truncate:55}}
						</h3>
					</a>
					<div class="video-date-info">
						{{ video.datetime_added|date:"d.m.y" }} /
						<a href="{% url video_main %}" title="videos">Videos</a> /
						<a href="{{ video.get_absolute_url }}#disqus_thread">{%facebook_comments_count video.get_absolute_url%} {% trans "Comments" %}</a>
						<!--29.06.2013 / <a href="#">Actualidad</a> / <a href="#">0 Comentarios</a>-->
					</div>
				</div>
			</div>
		{% endfor %}
		<div style="clear: both;"></div>
		<a href="{% url video_main %}" class="new-theme-gradient-bar-hyperlink">
			<div class="general-bar new-theme-gradient-bar">
				<span>
					{% trans "SEE MORE VIDEOS" %}
				</span>
			</div>
		</a>
	</div>
	<div style="clear: both;"></div>
	<div class="banner-container outnone" style="margin: 0 auto; text-align: center; box-shadow: none;">
		{% banner_zone_iframe 179 468 100 1 %}
	</div>
	<div class="blog-main-box">
    	<div class="general-bar grey-bar">
			{% trans "ON THE BLOG" %}
		</div>
		{% for object in blog|slice:":2" %}
			{% if forloop.counter|divisibleby:"2" %}
				<div class="blog-photos-box">
			{% else %}
				<div class="blog-photos-box" style="margin-right: 30px;">
			{% endif %}
				<a href="{{ object.get_absolute_url }}">
					{% if object.image %}
		                <img src="{{ object.blogthumb.url }}" alt="{{ object.title }}" />
		            {% else %}
		                <img src="{% value_from_settings "STATIC_URL" %}s.gif" alt="{{ object.title }}" width=228 height=168/>
		            {% endif %}
				</a>
				<div class="blog-photos-info-box">
					<a href="{{ object.get_absolute_url }}">
						<h3 class="blog-photo-desc">
							{{ object.title|truncate:53 }}
						</h3>
					</a>
					<div class="blog-photo-date-info">
						{{ object.creation_date|date:"d.m.y" }} /
						{% for cat in object.categories.all %}
							<a href="{{ cat.get_absolute_url }}" title="{{ cat }}">{{ cat }}</a>
							{% if not forloop.last %}, {% endif %}
          				{% endfor %} /
						<a href="{{ object.get_absolute_url }}#disqus_thread">{%facebook_comments_count object.get_absolute_url%} {% trans "Comments" %}</a>
					</div>
					<div class="blog-photos-details">
						{{ object.short|truncate:165 }}
					</div>
					<a class="blog-theme-read-more" href="{{ object.get_absolute_url }}">{%  trans "Read More" %}</a>
				</div>
			</div>
		{% endfor %}
		<div style="clear: both;"></div>
		<a href="{% url zinnia_category_detail "blog" %}" class="new-theme-gradient-bar-hyperlink">
			<div class="general-bar new-theme-gradient-bar">
				<span>
					{% trans "SEE MORE BLOG" %}
				</span>
			</div>
		</a>
	</div>
	
	<div style="clear: both;"></div>
	<div class="banner-container outnone" style="margin: 0 auto; text-align: center; box-shadow: none;">
		{% banner_zone_iframe 117 468 100 1 %}
	</div>
	
	<div class="events-news-main-box">
		<div class="general-bar black-bar">
			{% trans "EVENTS AND NEWS" %}
		</div>
		{% for object in news|slice:"4:8" %}
			{% if forloop.counter == 2 or forloop.counter == 4 %}
				{% for event in upcomming_events %}
					{% if forloop.parentloop.counter == 2  and forloop.first or forloop.parentloop.counter == 4 and forloop.counter == 2%}
						<div class="events-news-box">
							<div class="column1">
								<a href="{{ event.get_absolute_url }}">
									<img src="{{ event.widgetethumb.url }}" alt="{{ event.title }}">
								</a>
							</div>
							<div class="column2">
								<div>
									<a href="{{ event.get_absolute_url }}" class="news-event-title-hyperlink">
										<h3 class="news-event-title">
											{{ event.title|truncate:53 }}
										</h3>
									</a>
									<div class="news-event-location">
										{% if event.location %}
						                    <p><a href="{{ event.location.get_absolute_url }}">{{ event.location.title }}</a></p>
						                {% else %}
						                    <p>
						                        {% if event.place %}
						                            {{event.place}}
						                        {% else %}
						                            {% trans "Other"%}
						                        {% endif %}
						                    </p>
						                {% endif %}
									</div>
								</div>
								<div class="news-event-date-info">
									{{ event.to_date|date:"d.m.y" }} / 
									{% for cat in event.categories.all %}
										<a href="{{ cat.get_absolute_url }}" title="{{ cat }}">{{ cat }}</a>
										{% if not forloop.last %}, {% endif %}
			          				{% endfor %} / 
			          				<a href="{{ event.get_absolute_url }}#disqus_thread">{%facebook_comments_count event.get_absolute_url%} {% trans "Comments" %}</a>
								</div>
								<div class="news-event-description">
									{{ event.description|truncate:155 }}
								</div>
								<a style="color: #F06000;" class="new-theme-read-more" href="{{ event.get_absolute_url }}">{%  trans "Read More" %}</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
			<div style="clear: both;"></div>
			<div class="events-news-box">
				<div class="column1">
					<a href="{{ object.get_absolute_url }}">
						<img src="{{ object.blogthumb.url }}" alt="{{ object.title }}">
					</a>
				</div>
				<div class="column2">
					<div>
						<a href="{{ object.get_absolute_url }}" class="news-event-title-hyperlink">
							<h3 class="news-event-title">
								{{ object.title|truncate:53 }}
							</h3>
						</a>
					</div>
					<div class="news-event-date-info">
						{{ object.creation_date|date:"d.m.y" }} / 
						{% for cat in object.categories.all %}
							<a href="{{ cat.get_absolute_url }}" title="{{ cat }}">{{ cat }}</a>
							{% if not forloop.last %}, {% endif %}
          				{% endfor %} / 
          				<a href="{{ object.get_absolute_url }}#disqus_thread">{%facebook_comments_count object.get_absolute_url%} {% trans "Comments" %}</a>
					</div>
					<div class="news-event-description">
						{{ object.short|truncate:155 }}
					</div>
					<a style="color: #F06000;" class="new-theme-read-more" href="{{ object.get_absolute_url }}">{%  trans "Read More" %}</a>
				</div>
			</div>
			<div style="clear: both;"></div>
		{% endfor %}
		<div class="new-theme-gradient-bar-hyperlink">
			<div class="general-bar new-theme-gradient-bar">
				<a href="{% url event_main %}" style="float:left;">
					{% trans "SEE MORE EVENTS" %}
				</a>
				<a href="{% url zinnia_entry_archive_index %}">
					{% trans "SEE MORE NEWS" %}
				</a>
			</div>
		</div>
	</div>
	<div style="clear: both;"></div>
	
	
	
	
    {% comment %}
    <div id="outline-briefs" class="outline-briefs boxed-brief">
        <div class="outline-navigation">
            <ul id="outline-titles" class="encap outnone box-shadows equal-width">
                <li><a href="#">{% trans "News" %}</a><div class="pointer-tip"></div></li>
                <li><a href="{% url location_main %}">{% trans "Locations" %}</a><div class="pointer-tip"></div></li>
                <li><a href="{% url zinnia_category_detail "blog" %}">{% trans "Blog"%}</a><div class="pointer-tip"></div></li>
                <li><a href="#">{% trans "Art and Culture" %}</a><div class="pointer-tip"></div></li>
            </ul>
        </div>
        <div id="outline-slides" class="outnone encap">
            {% cache 60 main_content %}
                <div class="outline-slide" style="min-height: 880px">
                    {% for object in news %}
                        {% include "main/blog_entry.html"%}
                    {% endfor %}
                    <p>&nbsp;</p>
                </div><!--//.outline-slide-->
                <div class="outline-slide" style="min-height: 880px">
                    {% for object in locations %}
                        {% include "main/location_entry.html"%}
                    {% endfor %}
                    <p>&nbsp;</p>
                </div><!--//.outline-slide-->
                <div class="outline-slide" style="min-height: 880px">
                    {% for object in blog %}
                        {% include "main/blog_entry.html"%}
                    {% endfor %}
                    <p>&nbsp;</p>
                </div><!--//.outline-slide-->

                <div class="outline-slide" style="min-height: 880px">
                    {% for object in art_culture %}
                        {% include "main/event_entry.html"%}
                    {% endfor %}
                    <p>&nbsp;</p>
                </div><!--//.outline-slide-->
            {% endcache %}
        </div><!--//.outline-slides-->
        <div id="outlines-list" class="outlines-list outnone box-shadows">
            <ul class="encap">
                <li><a href="{% url event_main %}">{% trans "Events" %}</a></li>
                <li><a href="{% url location_main %}">{% trans "Locations"%}</a></li>

                <li><a href="{% url zinnia_category_detail "rumba-news" %}">{% trans "Rumba News" %}</a></li>
                <li><a href="{% url zinnia_category_detail "music-news" %}">{% trans "Music News" %}</a></li>
                <li><a href="{% url zinnia_category_detail "news" %}">{% trans "Actual" %}</a></li>
                <li><a href="{% url zinnia_category_detail "sexy-news" %}">{% trans "Sexy News" %}</a></li>
                <li><a href="{% url zinnia_category_detail "bandas" %}">{% trans "Bands, Authors and Djs" %}</a></li>
                <li><a href="{% url zinnia_category_detail "blog" %}">{% trans "Blog" %}</a></li>
            </ul>
        </div><!--//.outlines-list-->
    </div><!--//.outline-briefs-->
    
    <div id="front-videos" class="front-videos encap tabs boxed-brief">
        <div class="wrapper encap">
            <div class="title flt-left"><h2>{% trans "Videos" %}</h2></div>
            <div class="tab-titles flt-right fcml0 lcmr0">
                <ul id="tab-videos-outline" class="outnone tab-navigation">
                    <li><a class="active" href="{% url video_main %}">{%  trans "See + Videos"%}</a></li>
                    <li><a class="decou sube-un-video" href="{% url video_add %}">{%  trans "Upload a Video"%}</a></li>
                </ul>
            </div><!--//.tab-titles-->
        </div><!--//.wrapper-->
        <div id="videos-content" class="videos-content tab-container box-shadows outnone">
            <div id="tab-all-videos" class="outnone tab-parts encap">
                <div class="video-slides c58l">
                    <ul>
                        {% for video in videos %}
                            <li {% if not forloop.first %}style="display:none"{% endif %}>
                                {%youtube_video video.youtube_id 350 288%}
                            </li>
                        {% endfor %}
                    </ul>
                </div><!--//.video-slides-->
                <div class="recent-video-list c42r">
                    <ul>
                        {% for video in videos %}
                            <li>
                                <a href="{{ video.get_absolute_url }}">{{video.description|slice:":30"}}{% if video.description|length > 30 %}...{% endif %} - <span>{{ video.user|user_link }}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!--//.recent-video-list-->
            </div><!--//.tab-parts-->
            <div id="tab-upload-video" class="tab-parts encap">
            </div><!--//.tab-parts-->
        </div><!--//.latest-photos-content-->
    </div><!--//.latest-photos-->
	{% endcomment %}


    <script>
        $(document).ready(function () {

            jQuery('div#front-slides div#slides').cycle({
                fx: 'scrollHorz',
                speed: 1500,
                //timeout: 0,
                sync: 1,
                containerResize: 1,
                pager: '#nav',
                easing: 'easeOutQuint',
                delay: 3000
            });

            jQuery('#main-contents #col-left #outline-briefs #outline-slides').cycle({
                fx: 'scrollHorz',
                speed: 1000,
                timeout: 0,
                sync: 1,
                activePagerClass: 'active', //-- class name used for the active pager link
                easing: 'easeOutExpo',
                pager: '#main-contents #col-left #outline-briefs ul#outline-titles',
                cleartypeNoBg: true,
                containerResize: 1,
                fit: 1,
                height: 'auto',
                pagerAnchorBuilder: function(idx, slide) {
                    //-- return selector string for existing anchor
                    return '#main-contents #col-left #outline-briefs ul#outline-titles li:eq(' + idx + ') a';
                },
                updateActivePagerLink: function(pager, currSlideIndex) {
                    $(pager).find('li').removeClass('active')
                            .filter('li:eq('+currSlideIndex+')').addClass('active');
                    $(pager).find('li').find('div.pointer-tip').hide();
                    $(pager).find('li:eq('+currSlideIndex+')').find('div.pointer-tip').show();
                },
                delay: -2000
            });


            jQuery('#main-contents #col-left #front-videos #videos-content div.video-slides ul').cycle({
                fx: 'scrollVert',
                speed: 1000,
                timeout: 0,
                sync: 1,
                activePagerClass: 'active', //-- class name used for the active pager link
                easing: 'easeInOutBack',
                containerResize: 1,
                pager:  '#main-contents #col-left #front-videos #videos-content div.recent-video-list ul',
                pagerAnchorBuilder: function(idx, slide) {
                    //-- return selector string for existing anchor
                    return '#main-contents #col-left #front-videos #videos-content div.recent-video-list ul li:eq(' + idx + ') a';
                },
                delay: -2000
            });
            jQuery('#tab-events ul.carousel-images').cycle({
                fx: 'scrollHorz',
                activePagerClass: 'active', //-- class name used for the active pager link
                speed: 1000,
                timeout: 0,
                sync: 1,
                //containerResize: 1,
                easing: 'easeOutExpo',
                next: '#carousel-next',
                prev: '#carousel-prev',
                delay: -2000
            });
            jQuery('#tab-your-photos ul.carousel-images').cycle({
                fx: 'scrollHorz',
                activePagerClass: 'active', //-- class name used for the active pager link
                speed: 1000,
                timeout: 0,
                sync: 1,
                //containerResize: 1,
                easing: 'easeOutExpo',
                next: '#carousel-next2',
                prev: '#carousel-prev2',
                delay: -2000
            });

            /*
             jQuery('#latest-photos-content ul.peoples').cycle({
             fx: 'scrollHorz',
             activePagerClass: 'active', //-- class name used for the active pager link
             speed: 1000,
             timeout: 0,
             sync: 1,
             containerResize: 1,
             easing: 'easeOutExpo',
             next: '#carousel-next',
             prev: '#carousel-prev',
             delay: -2000
             });
             */
            /*
             jQuery('#latest-photos-content ul.fotos1').cycle({
             fx: 'scrollHorz',
             activePagerClass: 'active', //-- class name used for the active pager link
             speed: 1000,
             timeout: 0,
             sync: 1,
             containerResize: 1,
             easing: 'easeOutExpo',
             next: '#carousel-next2',
             prev: '#carousel-prev2',
             delay: -2000
             });
             */

            jQuery('.latest-photos div.tab-parts').each(function (idx, el){
                var tab = $(el);
                jQuery('ul.carousel-images ul.carousel-slide li', tab).click( function() {
                    var element = $(this);
                    if (! element.hasClass('active')){
                        $('ul.carousel-images ul.carousel-slide li.active').removeClass('active');
                        element.addClass('active')
                        var addr = $('a', element).attr('href');
                        $('.photo-node', tab).hide('slide', {direction: 'left'}, 500, function(){
                            $('.photo-teasters', tab).load(addr,function(){
                                $('.photo-node', tab).show('slide', {direction: 'right'}, 500);
                                FB.XFBML.parse( $('.photo-teasters', tab).get(0) );
                            });
                        });
                    }
                    return false;
                })
            })


            /*
             jQuery('#main-contents #col-right #whats-today .box-contents ul.recent li a, #main-contents #col-right .more-news ol li a,#main-contents #col-left .node-mini-right .other-news li a, #main-contents #col-left h5.red-title a, #main-contents #col-left .locales .events-duo ul li a').poshytip({
             content: '<img width="80" height="70" alt="imgs_6" src="images/content/imgs_9.jpg"> And the day came when the risk<br />to remain tight in a bud became<br />more painful than the risk<br />it took to blossom.',
             showTimeout: 10,
             fade: false,
             slide: false,
             className: 'tip-darkgray',
             bgImageFrameSize: 11,
             offsetX: -5,
             offsetY: 10
             });
             */



        })
    </script>
{% endblock %}

{% block colright %}
    {% events_today_block %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 167 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

    <div class="split-sidebars encap">
    	<div class="box-title" style="text-align: center;">
    		<h2>
    			{% trans "Last Edition" %}
    		</h2>
    	</div>
    	<div class="new-theme-rumba-image">
    		{% banner_zone_iframe 171 300 600%}
			<!--<img src="{% value_from_settings "STATIC_URL" %}images/new-theme/rumbaCracas.png">-->
		</div>
		<div class="banner-container box-shadows outnone widget">
	        {% banner_zone_iframe 176 300 250%}
	    </div><!--//.banner-container-->
	    
	    <div id="new-theme-locales-box" class="locales-main-box">
	    	<div class="box-title" style="text-align: center;">
	    		<h2>
	    			{% trans "LOCALES" %}
	    		</h2>
	    	</div>
	    	{% for locale in locations|slice:":2" %}
	    		{% if forloop.first %}
					<div class="locale-img" style="margin-bottom: 10px;">
				{% else %}
					<div class="locale-img">
				{% endif %}
					<a href="{{ locale.get_absolute_url }}">
			            {% if locale.image_logo %}
			                <img src="{{ locale.blogthumb.url }}" alt="{{ locale.title }}" />
			            {% else %}
			                <img src="{% value_from_settings "STATIC_URL" %}s.gif" alt="{{ object.title }}" width=300 height=168/>
			            {% endif %}
			        </a>
				</div>
				<div style="position: absolute; width:0px; height: 0px;">
					{% if forloop.first %}
					<div class="slide-on-image">
					{% else %}
					<div class="slide-on-image" style="top: -25px;">
					{% endif %}
						<div class="locale-center-text" style="position: absolute; left: 0px;">{{ locale.title }}</div>
					</div>
				</div>
			{% endfor %}
			<a href= "{% url location_main %}" class="hyper-link-more-locales">
				<div class="local-grey-bar">
					<div class="locale-next-nav">{% trans "SEE MORE LOCALES" %}</div>
					<div class="img-span">
						<img src="{% value_from_settings "STATIC_URL" %}images/new-theme/right-nav-arrow.png">
					</div>
				</div>
			</a>
		</div>
		{% comment %}
		<div id="facebook-like-box" class="banner-container box-shadows outnone" style="width: 290px; border: solid 5px white; margin-top: 30px;">
            {% facebook_group %}
       </div>
       {% endcomment %}
       <div id="add-above-yourphotos-box" class="banner-container box-shadows outnone widget">
	        {% banner_zone_iframe 177 300 250%}
	   </div><!--//.banner-container-->
		
		<div class="your-photos-main-box">
			<div class="box-title" style="text-align: center;">
	    		<h2>
	    			{% trans "YOUR PHOTOS" %}
	    		</h2>
	    	</div>
		{% for photo in photos|slice:":2" %}
			{% if forloop.counter == 2 %}
				<div class="your-photo-box">
					<center>
						<a href="{% url yourphoto_details photo.id %}">
							<img style="width: 265px; height: 272px;" src="{{ photo.thumbnail.url }}" alt="{{photo.description}}" >
						</a>
					</center>
				</div>
			{% endif %}
		{% endfor %}
			<a href="{% url yourphoto_main %}" class="hyper-link-more">
				<div class="more-grey-bar">
					<div class="more-next-nav">{% trans "SEE MORE PHOTOS" %}</div>
					<div class="img-span"><img src="{% value_from_settings "STATIC_URL" %}images/new-theme/right-nav-arrow.png"></div>
				</div>
			</a>
		</div>
		
		<div id="add-below-yourphotos-box" class="banner-container box-shadows outnone widget">
	        {% banner_zone_iframe 178 300 250%}
	    </div><!--//.banner-container-->
		
			
		{% comment %}
	        <div class="c57l left">
	            {% upcoming_events_block %}
	        </div><!--//.left-->
	        <div class="c40r right">
	            <div class="placeholders">
	                <div class="box-border box-contents box-shadows">
	                    {% banner_zone_iframe 118 120 60 %}
	                </div><!--//.box-contents-->
	            </div><!--//.placeholder-->
	            <div class="placeholders mt10">
	                <div class="box-border box-contents box-shadows">
	                    {% banner_zone_iframe 119 120 240 %}
	                </div>
	                <!--//.box-contents-->
	            </div><!--//.placeholder-->
	            <div class="banner-container box-shadows outnone widget">
	                {% banner_zone_iframe 115 120 600 %}
	            </div><!--//.banner-container-->
	        </div><!--//.right-->
		{% endcomment %}
    </div><!--//.split-sidebars-->


	<div class="box-title" style="text-align: center;margin-bottom:5px;">
		<h2>
			{% trans "LATEST TWEETS" %}
		</h2>
	</div>
    <div class="banner-container box-shadows outnone" style="width: 290px; border: solid 5px white;">
    	{% comment %}
        {% if 0.5|randomv%}
            {% facebook_group %}
        {% else %}
            {% include "main/twitter_list.html" %}
        {% endif %}
        {% endcomment %}
        {% include "main/twitter_list.html" %}
    </div>
    
    <div class="art-culture-main-box">
		<div class="box-title" style="text-align: center;margin: 30px 0 5px 0;">
    		<h2>
    			{% trans "ART AND CULTURA" %}
    		</h2>
    	</div>
		{% for object in art_culture|slice:":3" %}
			<a href="{{ object.get_absolute_url }}" class="hyperlink-art-culture-image">
	            {% if object.image %}
	                <img src="{{ object.blogthumb.url }}" alt="{{ object.title }}" />
	            {% else %}
	                <img src="{% value_from_settings "STATIC_URL" %}s.gif" alt="{{ object.title }}" width=290 height=152/>
	            {% endif %}
	        </a>
			
			<div class="art-culture-info-box">
				<div style="min-height: 36px;">
					<a href="{{ object.get_absolute_url }}" class="art-culture-title">
						{{ object.title|truncate:60 }}
					</a>
					<div class="art-culture-location">
						{% if object.location %}
						<a href="{{ object.location.get_absolute_url }}">{{ object.location.title|truncate:60 }}</a>
	                	{% else %}
                        	{% if object.place %}
                            	{{object.place|truncate:60}}
	                        {% else %}
	                            {% trans "Other"%}
	                        {% endif %}
		                {% endif %}
					</div>
				</div>
				<div class="date-info">
					{% if object.from_date == object.to_date %}
			            {{object.from_date|date:"d.m.Y"}}
			        {% else %}
			            {{object.from_date|date:"d.m.Y"}} a {{object.to_date|date:"d.m.Y"}}
			        {% endif %}
			        {% if object.repeat.all %}({{ object.repeat.all|join:", "}}){% endif %}
				</div>
			</div>
			
		{% endfor %}
		<a href="#" class="hyper-link-more">
			<div class="more-grey-bar">
				<div class="more-next-nav">{% trans "SEE MORE ART AND CULTURE" %}</div>
				<div class="img-span"><img src="{% value_from_settings "STATIC_URL" %}images/new-theme/right-nav-arrow.png"></div>
			</div>
		</a>
	</div>
	
	<div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 172 300 500 %}
    </div><!--//.banner-container-->

{% endblock %}

