<!--/* OpenX iFrame Tag v2.8.7 */-->


<!--
<iframe class="opnx_banner" id='aa{{ rand }}' name='aa{{ rand }}' src='http://ads.2rumba.com/www/delivery/afr.php?zoneid={{ zone_id }}&amp;cb={{ rand }}' frameborder='0' scrolling='no' width="{{ width }}" height="{{ height }}" allowtransparency='true'>
    <a href='http://ads.2rumba.com/www/delivery/ck.php?n=aa{{ rand }}&amp;cb={{ rand }}' target='_blank'>
        <img src='http://ads.2rumba.com/www/delivery/avw.php?zoneid={{ zone_id }}&amp;cb={{ rand }}&amp;n=aa{{ rand }}' border='0' alt='' />
    </a>
</iframe>-->




<script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://ads.2rumba.com/www/delivery/ajs.php':'http://ads.2rumba.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid={{ zone_id }}");
   document.write ('&amp;cb={{ rand }}');
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script><noscript><a href='http://ads.2rumba.com/www/delivery/ck.php?n=a7d8b130&amp;cb={{ rand }}' target='_blank'><img src='http://ads.2rumba.com/www/delivery/avw.php?zoneid={{ zone_id}}&amp;cb=INSERT_RANDOM_NUMBER_HERE&amp;n=a7d8b130' border='0' alt='' /></a></noscript>


<script>
	$.ajax({
	  url: "http://ads.2rumba.com/www/delivery/ajs.php?zoneid={{ zone_id }}&cb={{ rand }}&charset="+document.charset+"&loc="+escape(window.location),
	  success: function(data){
	    alert("success");
	  }
	});
</script>