<!--/* OpenX iFrame Tag v2.8.7 */-->

<iframe class="opnx_banner" id='aa{{ rand }}' name='aa{{ rand }}' src='http://ads.2rumba.com/www/delivery/afr.php?zoneid={{ zone_id }}&amp;cb={{ rand }}' frameborder='0' scrolling='no' width="{{ width }}" height="{{ height }}" allowtransparency='true'>
    <a href='http://ads.2rumba.com/www/delivery/ck.php?n=aa{{ rand }}&amp;cb={{ rand }}' target='_blank'>
        <img src='http://ads.2rumba.com/www/delivery/avw.php?zoneid={{ zone_id }}&amp;cb={{ rand }}&amp;n=aa{{ rand }}' border='0' alt='' />
    </a>
</iframe>
