<!-- <div class="widget-latest-tweets box-shadows outnone widget  box-contents"> -->
	<a class="twitter-timeline" border-color="#ffffff" data-tweet-limit="5" href="https://twitter.com/Rumbacaracas" data-widget-id="358706655699034112">Tweets by @Rumbacaracas</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	{% comment %}
	
	<script src="http://widgets.twimg.com/j/2/widget.js"></script>
	<script>
	new TWTR.Widget({
	  version: 2,
	  type: 'profile',
	  rpp: 4,
	  interval: 6000,
	  width: 300,
	  height: 220,
	  theme: {
	    shell: {
	      background: '#e0e0e0',
	      color: '#000000'
	    },
	    tweets: {
	      background: '#ffffff',
	      color: '#000000',
	      links: '#267dc5'
	    }
	  },
	  features: {
	    scrollbar: true,
	    loop: false,
	    live: true,
	    hashtags: true,
	    timestamp: true,
	    avatars: false,
	    behavior: 'all'
	  }
	}).render().setUser('rumbacaracas').start();
	</script>
	{% endcomment %}
<!-- </div> -->
        
        
