{% load i18n %}
{% load tools %}

{% if photos %}
<tr>
  <td><h3 style="color:#898989 !important;font-size:22px !important;position:relative !important;text-transform:uppercase !important;top:6px !important;z-index:10 !important;margin:0;">{% trans "Your Photos" %}</h3> </td>
</tr>
<tr>
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#FFFFFF" style="border: 1px solid #A6A6A6; background:#FFFFFF; box-shadow: 2px 3px 3px #A6A8A8;-moz-box-shadow: 2px 3px 3px #A6A8A8;-webkit-box-shadow: 2px 3px 3px #A6A8A8;filter:progid:DXImageTransform.Microsoft.dropShadow(color=#A6A8A8, offX=2, offY=2, positive=true);">
      <tr>
        <td colspan="3" height="15px"></td>
      </tr>
      <tr>
        <td height="200px" width="250px" colspan="3" align="center" style="padding: 0 20px; text-align: center">
          <img src="{% value_from_settings "FULL_BASE_URL" %}{{ photos.0.newsthumb.url }}" alt="{{ photos.0.description }}" style="width: 250px;" />
        </td>
      </tr>
      <tr>
        <td colspan="3" height="15px"></td>
      </tr>

      {% for photo in photos %}
      <tr>
        <td width="25px"></td>
        <td style="font-size: 11px; line-height: 18px; font-family: Arial;"><a href="{% value_from_settings "FULL_BASE_URL" %}{{ photo.get_absolute_url }}" style="font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#000000 !important;">{{ photo.description }}</a><br />
          Por <span style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#D22323; text-decoration:none;">{{ photo.user.username }}</span><br />
          <a href="{% value_from_settings "FULL_BASE_URL" %}{% url yourphoto_main %}" style="font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:bold; color:#4A4A4A !important; text-decoration:underline;">Ver todos las fotos &raquo;</a> </td>
        <td width="25px"></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="3" height="15px"></td>
      </tr>
    </table>
  </td>
</tr>
{% endif %}