{% extends "base.html" %}
{% load zinnia_tags i18n %}
{% load dumper tools%}
{% load facebook%}
{% load openx%}
{% load widgets%}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs "->" "News"%}
{% endblock %}
{% block pushdown %}{% banner_zone_iframe 181 960 300%}{% endblock %}
{% block colleft %}
	<div class="node-container locales box-shadows encap">
	<div class="title-wrap encap">
		<span class="flt-left"><h2 class="title">{% block titlehdr %}{%trans "News"%}{% endblock %}</h2></span>
		<span class="flt-right">
		  <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
	        <li>
	        	{% if category.slug == "blog" %}
	        		<a class="socializer-15" href="{% url news_add_blog %}">
						<span style="padding-left:5px">{%trans "Add Article"%}</span>
					</a>
        		{%else%}
        		{% with first_cat=object.categories.all|first %}
					{% if first_cat.slug == "blog"%}
						<a class="socializer-15" href="{% url news_add_blog %}">
							<span style="padding-left:5px">{%trans "Add Article"%}</span>
						</a>
					{%else%}
						<a class="socializer-7" href="{% url news_add %}">
							<span style="padding-left:5px">{%trans "Add News"%}</span>
						</a>
					{% endif %}
				{% endwith %}
        		{% endif %}
			</li>
	      </ul>
		</span>
	</div><!--//.title-wrap-->
	{% block content %}
	{% endblock %}
	</div><!--//.node-container-->
{% endblock %}



{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 114 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

    <div class="banner-container box-shadows outnone widget" style="width: 300px;">
        {% if 0.5|randomv%}
            {% facebook_group %}
        {% else %}
            {% include "main/twitter_list.html" %}
        {% endif %}
    </div>

    <div class="split-sidebars encap">
      <div class="c57l left">
        {% news_list %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 118 120 60 %}
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 119 120 240 %}
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
            {% banner_zone_iframe 115 120 600 %}
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}

