{% extends "base.html" %}
{% load zinnia_tags tagging_tags i18n %}
{% load dumper tools%}
{% load facebook%}

{% block breadcrumbs %}
  {% zinnia_breadcrumbs "->" "News"%}
{% endblock %}

{% block colleft %}
	<div class="node-container locales box-shadows encap">
	<div class="title-wrap encap">
		<span class="flt-left"><h2 class="title">{% block titlehdr %}{%trans "News"%}{% endblock %}</h2></span>
		<span class="flt-right">
		  <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
	        <li>
	        	{% if category.slug == "blog" %}
	        		<a class="socializer-15" href="/news/blog/add">
						<span style="padding-left:5px">{%trans "Add Article"%}</span>
					</a>
        		{%else%}
        		{% with first_cat=object.categories.all|first %}
					{% if first_cat.slug == "blog"%}
						<a class="socializer-15" href="/news/blog/add">
							<span style="padding-left:5px">{%trans "Add Article"%}</span>
						</a>
					{%else%}
						<a class="socializer-7" href="/news/add">
							<span style="padding-left:5px">{%trans "Add News"%}</span>
						</a>
					{% endif %}
				{% endwith %}
        		{% endif %}
			</li>
	      </ul>
		</span>
	</div><!--//.title-wrap-->
	{% block content %}
	{% endblock %}
	</div><!--//.node-container-->
{% endblock %}

{% block colright %}
{{ block.super }}
<div class="banner-container box-shadows outnone widget" style="width: 300px;">
  {% facebook_group %}
</div>
{% endblock %}