{% extends "zinnia/base.html" %}
{% load i18n %}

{% block title %}{% trans "Categories" %}{% endblock %}

{% block titlehdr %}
{% trans "Categories" %}
{% endblock %}


{% block content %}
<div class="node entrevistas encap">
	<div class="node-mini-left-news c65l">
  	{% for object, structure in object_list|tree_info %}
	    {% if structure.new_level %}<ul><li>{% else %}</li><li>{% endif %}
	      <a class="seguir-link-big" href="{{ object.get_absolute_url }}" title="{{ object }}">{{ object }}</a> 
	      {% blocktrans count object.entries_published_set.count as entry_count %}{{ entry_count }} entries{% endblocktrans %}
	    {% for level in structure.closed_levels %}</li></ul>{% endfor %}
	  {% endfor %}
	</div>
</div>
{% endblock %}
