{% extends "zinnia/base.html" %}
{% load i18n zinnia_tags %}
{% load gplus %}
{% load tools %}
{% load openx widgets facebook twitter%}

{% block advbodycls %}section-blog{% endblock %}

{% block title %}{% if category %}{{ category }}{% endif %}{% if tag %}{% trans "Tag" %} {{ tag }}{% endif %}{% if author %}{% trans "Author" %} {{ author }}{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %}{% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block titlehdr %}
{% if category %}
	{{ category.title }}
{% else %}
	{{block.super}}
{% endif %}
{% endblock %}



{% block content %}

{% if tag %}
<h1>{% trans "Tag" %} : {{ tag }}</h1>
{% endif %}




<style type="text/css">
.news-list .photos-share-options {
    margin-bottom: 30px !important;
}
.news-list dl.encap {
    margin: 0 !important;
}
.news-list img.main-image {
    border: 1px solid #898989;
}
.news-list div.mnh {
    min-height: 145px;
}
</style>
    
<div class="node entrevistas encap news-list">
	{% for object in object_list %}
        <div class="encap">
            <dl class="encap">

              {% if object.id = 12004 %}
                  <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
                  <span class="submitted">
                      {% trans "on" %} {{ object.creation_date|date:"d.m.Y" }}
                  </span>
                  <a href="{{ object.get_absolute_url }}">
                    <img src="http://media.rumbacaracas.com/uploads/news/2012/12/11/look_nuvo_col2.jpg" />
                  </a>  
              {% else %}

                <dt class="c45l">
                    <a href="{{ object.get_absolute_url }}">
                        <img class="main-image" alt="{{ object.title }}" src="{{ object.newsthumb.url }}">
                    </a>
                </dt>
                <dd class="c55r">
                <div class="mnh">
                    <h3><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h3>
                    <span class="submitted">
                        {%  if not category %}
                            {% for cat in object.categories.all%}
                              <a class="force-red" href="{{ cat.get_absolute_url }}" title="{{ cat }}">{{ cat }}</a>
                              {% if not forloop.last %}, {% endif %}
                            {% endfor %} /
                        {% endif %}
                    
                        {% if object.author %}
                            {% trans "Written by" %} <span class="vcard author">{{ object|urlize_author_source }}</span>
                        {% else %}
                            {% trans "Written" %}
                        {% endif %}
                        {% trans "on" %} {{ object.creation_date|date:"d.m.Y" }}
                    </span>

                    <p>{{ object.short }}</p>
              
                    <a href="{{ object.get_absolute_url }}" class="read-more">{% trans "Read More" %}</a>
                </div>

                </dd>
            {% endif %}
            </dl>
            <div class="photos-share-options">
                <ul class="teaser-options encap outnone fcml0 lcmr0">
                    <li class="pl0">
                        <a href="{{object.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
                            <span>{%facebook_comments_count object.get_absolute_url%}</span>
                        </a>
                    </li>
                    <li>
                        {% facebook_like object.get_absolute_url%}
                    </li>
                    <li>
                        {% twitter_share object.get_absolute_url object.title%}
                    </li>
                    <li class="br-none">
                        {% gplus object.get_absolute_url%}
                    </li>
                </ul><!--//.teaser-options-->
            </div>
        </div>
    {% empty %}
        {% trans "No entries yet." %}
    {% endfor %}
<!-- //.node-mini-right removed by saqib -->
</div><!--//.node-->


{% if is_paginated %}

    {% zinnie_paginator %}

{% endif %}
{% endblock %}

{% block admin_tools %}
  {% if category and perms.zinnia.change_category %}
  <li>
    <a href="{% url admin:zinnia_category_change category.pk %}" title="{% trans "Edit the category" %}">
      {% trans "Edit the category" %}
    </a>
  </li>
  {% endif %}
  {% if author and perms.auth.change_user %}
  <li>
    <a href="{% url admin:auth_user_change author.pk %}" title="{% trans "Edit the author" %}">
      {% trans "Edit the author" %}
    </a>
  </li>
  {% endif %}
{% endblock %}


{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 114 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

    <div class="banner-container box-shadows outnone widget" style="width: 300px;">
        {% if 0.5|randomv%}
            {% facebook_group %}
        {% else %}
            {% include "main/twitter_list.html" %}
        {% endif %}
    </div>

    <div class="split-sidebars encap">
      <div class="c57l left">
        {% upcoming_events_list %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 118 120 60 %}
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 119 120 240 %}
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
            {% banner_zone_iframe 115 120 600 %}
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}
