{% extends "zinnia/base.html" %}
{% load i18n zinnia_tags %}
{% load gplus tools openx%}
{% load facebook twitter widgets %}
{% block title %}{{ object.title }}{% endblock %}


{% block titlehdr %}
	{% for cat in object.categories.all%}
	      {{ cat }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
{% endblock %}

{% if object %}
    {% block fbmeta %}
        <meta property="og:title" content="{{ object.title }}"/>
        <meta property="og:image" content="{{ object.thumbnail.url }}"/>
        <meta property="og:url" content="{% value_from_settings "FULL_BASE_URL" %}{{ object.get_absolute_url }}"/>
        <meta property="og:type" content="article" />
    {% endblock %}
{% endif %}

{% block pushdown %}{% banner_revive_float 18 960 60 "a30d61ff" %}{% endblock %}

{% block content %}
{% with object.html_content|safe as object_content %}

<div id="entry-{{ object.pk }}" class="node music-news encap {% if object.featured %} featured{% endif %}">
    <h2 class="title">{{object.title }}</h2>{{ object.cat }}
    <span class="submitted">
        {% if object.author_profile and object.author_profile != "" %}
            <a href="{% url ath_profile object.author_profile.user.username %}" target="_blank">{% trans "Written by" %} <span class="vcard author">{{ object.author_profile }}</span>
        {% else %}
        	{% if object.author and object.author != "" %}
        		<a href="http://{{ object.author }}" target="_blank">{% trans "Written by" %} <span class="vcard author">{{object.author|safe}}</span>
        	{% else %}
            	{% trans "Written" %}
            {% endif %}
        {% endif %}
		{% trans "on" %} {{ object.creation_date|date:"d.m.Y" }}</a>
	</a>
	<div class="content encap">
		{% if object.image and not object.preview_as_image%}
			<img class="main-image2 fix-width" src="{{ object.image.url }}" alt="{{ object.title }}" />
		{% endif %}
        {% autoescape off%}
		    {{object_content}}
        {% endautoescape %}
		{% if object.source%}
		<p> 
			<strong>
				{% trans "+ info: " %}{{object.source|urlize_target_blank }}
			</strong>
        </p>
        {% endif %}
        
            <div class="photos-share-options" style="margin-top: 10px;margin-bottom:0">
        <ul class="teaser-options encap outnone fcml0 lcmr0">
            <li class="pl0">
                <a href="{{object.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
                    <span>{%facebook_comments_count object.get_absolute_url%}</span>
                </a>
            </li>
            <li>
                {% facebook_like object.get_absolute_url 50%}
            </li>
            <li>
                {% twitter_share object.get_absolute_url object.title%}
            </li>
            <li class="br-none">
                {% gplus object.get_absolute_url%}
            </li>
        </ul><!--//.teaser-options-->
    </div>
        
	</div><!--//.content-->
</div><!--//.node-->
    <div class="banner-container box-contents outnone widget">
    </div><!--//.banner-container-->
    
<div class="encap" id="disqus_thread">
	{%facebook_comments object.get_absolute_url%}
</div>
{% endwith %}
{%posts_same_category object%}
{% endblock %}

{% block widget_ultimas_noticias %}
  	<div class="c57l left">
    	{% news_list2 5 "False" 5 %}
  	</div><!--//.left-->
{% endblock widget_ultimas_noticias %}


{% block admin_tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url admin:zinnia_entry_change object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock %}
