{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}


{% block titlehdr %}
	{% for cat in object.categories.all%}
	      {{ cat }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
{% endblock %}


{% block content %}
{% with object.html_content|safe as object_content %}

<div id="entry-{{ object.pk }}" class="node music-news encap {% if object.featured %} featured{% endif %}">
    <h2 class="title">{{object.title }}</h2>
    <span class="submitted">
		{% trans "Written by" %} {% for author in object.authors.all %}
	    <span class="vcard author">
	      {{ author }}
	    </span>{% if not forloop.last %}, {% endif %}
	    {% endfor %}
		{% trans "on" %} {{ object.creation_date|date:"d.m.Y" }}
	</span>
	<div class="content encap">
		{% if object.image %}
			<img class="main-image2" src="{{ object.image.url }}" alt="{{ object.title }}" />
		{% endif %}
		{{object_content}}
	</div><!--//.content-->
</div><!--//.node-->

{% endwith %}
{% endblock %}



{% block admin_tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url admin:zinnia_entry_change object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock %}
