{% extends "zinnia/base.html" %}
{% load i18n zinnia_tags %}
{% load gplus %}
{% load facebook twitter%}
{% block title %}{{ object.title }}{% endblock %}


{% block titlehdr %}
	{% for cat in object.categories.all%}
	      {{ cat }}{% if not forloop.last %}, {% endif %}
    {% endfor %}
{% endblock %}


{% block content %}
{% with object.html_content|safe as object_content %}

<div id="entry-{{ object.pk }}" class="node music-news encap {% if object.featured %} featured{% endif %}">
    <h2 class="title">{{object.title }}</h2>
    <span class="submitted">
        {% if object.author %}
            {% trans "Written by" %} <span class="vcard author">{{ object.author }}</span>
        {% else %}
            {% trans "Written" %}
        {% endif %}
		{% trans "on" %} {{ object.creation_date|date:"d.m.Y" }}
	</span>
    <div class="photos-share-options" style="border-top: 1px dotted black;padding: 7px 0 7px;margin: 0">
		<ul class="teaser-options encap outnone fcml0 lcmr0">
			<li class="pl0">
				<a href="{{object.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
					<span>{%facebook_comments_count object.get_absolute_url%}</span>
				</a>
			</li>
			<li>
				{% facebook_like object.get_absolute_url 50%}
			</li>
			<li>
				{% twitter_share object.get_absolute_url object.title%}
			</li>
            <li class="br-none">
				{% gplus object.get_absolute_url%}
			</li>
		</ul><!--//.teaser-options-->
	</div>
    
	<div class="content encap">
		{% if object.image %}
			<img class="main-image2" src="{{ object.newsthumb.url }}" alt="{{ object.title }}" />
		{% endif %}
        {% autoescape off%}
		    {{object_content}}
        {% endautoescape %}
		{% if object.source%}
		<p> 
			<strong>
				{% trans "+ info: " %}{{object.source|urlize }}
			</strong>
        </p>
        {% endif %}                    
	</div><!--//.content-->
</div><!--//.node-->
<div class="encap" id="disqus_thread">
	{%facebook_comments object.get_absolute_url%}
</div>
{% endwith %}
{% endblock %}



{% block admin_tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url admin:zinnia_entry_change object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock %}
