{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load paging %}
{% load openx %}
{% load cache %}
{% load widgets %}
{% load youtube %}
{% load listtools %}
{% load facebook %}
{% load listtools %}
{% block advbodycls %}front{% endblock %}

{% block corner %}{% endblock %}
{% block pushdown %}{% endblock %}

{% block colleft %}
        <div id="outline-briefs" class="outline-briefs boxed-brief">
        	<div class="outline-navigation">
            <ul id="outline-titles" class="encap outnone box-shadows equal-width">
              <li><a href="#">{% trans "News" %}</a><div class="pointer-tip"></div></li>
              <li><a href="{% url location_main %}">{% trans "Locations" %}</a><div class="pointer-tip"></div></li>
              <li><a href="{% url zinnia_category_detail "blog" %}">{% trans "Blog"%}</a><div class="pointer-tip"></div></li>
              <li><a href="#">{% trans "Art and Culture" %}</a><div class="pointer-tip"></div></li>
            </ul>
          </div>
            <div id="outline-slides" class="outnone encap">
                {% cache 60 main_content %}
                    <div class="outline-slide" style="min-height: 880px">
                        {% for object in news %}
                            {% include "main/blog_entry.html"%}
                        {% endfor %}
                        <p>&nbsp;</p>
                    </div><!--//.outline-slide-->
                    <div class="outline-slide" style="min-height: 880px">
                        {% for object in locations %}
                            {% include "main/location_entry.html"%}
                        {% endfor %}
                        <p>&nbsp;</p>
                    </div><!--//.outline-slide-->
                    <div class="outline-slide" style="min-height: 880px">
                        {% for object in blog %}
                            {% include "main/blog_entry.html"%}
                        {% endfor %}
                        <p>&nbsp;</p>
                    </div><!--//.outline-slide-->

                    <div class="outline-slide" style="min-height: 880px">
                        {% for object in art_culture %}
                            {% include "main/event_entry.html"%}
                        {% endfor %}
                        <p>&nbsp;</p>
                    </div><!--//.outline-slide-->
                {% endcache %}
            </div><!--//.outline-slides-->
          <div id="outlines-list" class="outlines-list outnone box-shadows">
          	<ul class="encap">
                <li><a href="{% url event_main %}">{% trans "Events" %}</a></li>
                <li><a href="{% url location_main %}">{% trans "Locations"%}</a></li>

                <li><a href="{% url zinnia_category_detail "rumba-news" %}">{% trans "Rumba News" %}</a></li>
                <li><a href="{% url zinnia_category_detail "music-news" %}">{% trans "Music News" %}</a></li>
                <li><a href="{% url zinnia_category_detail "news" %}">{% trans "Actual" %}</a></li>
                <li><a href="{% url zinnia_category_detail "sexy-news" %}">{% trans "Sexy News" %}</a></li>
                <li><a href="{% url zinnia_category_detail "bandas" %}">{% trans "Bands, Authors and Djs" %}</a></li>
           	    <li><a href="{% url zinnia_category_detail "blog" %}">{% trans "Blog" %}</a></li>
          	</ul>
          </div><!--//.outlines-list-->
        </div><!--//.outline-briefs-->

<script>
	$(document).ready(function () {

        jQuery('div#front-slides div#slides').cycle({
			fx: 'scrollHorz',
			speed: 1500,
			timeout: 0,
			sync: 1,
			containerResize: 1,
			pager: '#nav',
			easing: 'easeOutQuint',
			delay: -2000
	    });

        jQuery('#main-contents #col-left #outline-briefs #outline-slides').cycle({
            fx: 'scrollHorz',
            speed: 1000,
            timeout: 0,
            sync: 1,
            activePagerClass: 'active', //-- class name used for the active pager link
            easing: 'easeOutExpo',
            pager: '#main-contents #col-left #outline-briefs ul#outline-titles',
            cleartypeNoBg: true,
            containerResize: 1,
            fit: 1,
            height: 'auto',
            pagerAnchorBuilder: function(idx, slide) {
                //-- return selector string for existing anchor
                return '#main-contents #col-left #outline-briefs ul#outline-titles li:eq(' + idx + ') a';
            },
            updateActivePagerLink: function(pager, currSlideIndex) {
                $(pager).find('li').removeClass('active')
                        .filter('li:eq('+currSlideIndex+')').addClass('active');
                $(pager).find('li').find('div.pointer-tip').hide();
                $(pager).find('li:eq('+currSlideIndex+')').find('div.pointer-tip').show();
            },
            delay: -2000
        });


        jQuery('#main-contents #col-left #front-videos #videos-content div.video-slides ul').cycle({
            fx: 'scrollVert',
            speed: 1000,
            timeout: 0,
            sync: 1,
            activePagerClass: 'active', //-- class name used for the active pager link
            easing: 'easeInOutBack',
            containerResize: 1,
            pager:  '#main-contents #col-left #front-videos #videos-content div.recent-video-list ul',
            pagerAnchorBuilder: function(idx, slide) {
                //-- return selector string for existing anchor
                return '#main-contents #col-left #front-videos #videos-content div.recent-video-list ul li:eq(' + idx + ') a';
            },
            delay: -2000
        });
        jQuery('#tab-events ul.carousel-images').cycle({
            fx: 'scrollHorz',
            activePagerClass: 'active', //-- class name used for the active pager link
            speed: 1000,
            timeout: 0,
            sync: 1,
            //containerResize: 1,
            easing: 'easeOutExpo',
            next: '#carousel-next',
            prev: '#carousel-prev',
            delay: -2000
        });
        jQuery('#tab-your-photos ul.carousel-images').cycle({
            fx: 'scrollHorz',
            activePagerClass: 'active', //-- class name used for the active pager link
            speed: 1000,
            timeout: 0,
            sync: 1,
            //containerResize: 1,
            easing: 'easeOutExpo',
            next: '#carousel-next2',
            prev: '#carousel-prev2',
            delay: -2000
        });

        /*
        jQuery('#latest-photos-content ul.peoples').cycle({
            fx: 'scrollHorz',
            activePagerClass: 'active', //-- class name used for the active pager link
            speed: 1000,
            timeout: 0,
            sync: 1,
            containerResize: 1,
            easing: 'easeOutExpo',
            next: '#carousel-next',
            prev: '#carousel-prev',
            delay: -2000
	    });
        */
        /*
        jQuery('#latest-photos-content ul.fotos1').cycle({
            fx: 'scrollHorz',
            activePagerClass: 'active', //-- class name used for the active pager link
            speed: 1000,
            timeout: 0,
            sync: 1,
            containerResize: 1,
            easing: 'easeOutExpo',
            next: '#carousel-next2',
            prev: '#carousel-prev2',
            delay: -2000
	    });
        */

        jQuery('.latest-photos div.tab-parts').each(function (idx, el){
            var tab = $(el);
            jQuery('ul.carousel-images ul.carousel-slide li', tab).click( function() {
                var element = $(this);
                if (! element.hasClass('active')){
                    $('ul.carousel-images ul.carousel-slide li.active').removeClass('active');
                    element.addClass('active')
                    var addr = $('a', element).attr('href');
                    $('.photo-node', tab).hide('slide', {direction: 'left'}, 500, function(){
                        $('.photo-teasters', tab).load(addr,function(){
                            $('.photo-node', tab).show('slide', {direction: 'right'}, 500);
                            FB.XFBML.parse( $('.photo-teasters', tab).get(0) );
                        });
                    });
                }
                return false;
            })
        })

        
/*
        jQuery('#main-contents #col-right #whats-today .box-contents ul.recent li a, #main-contents #col-right .more-news ol li a,#main-contents #col-left .node-mini-right .other-news li a, #main-contents #col-left h5.red-title a, #main-contents #col-left .locales .events-duo ul li a').poshytip({
            content: '<img width="80" height="70" alt="imgs_6" src="images/content/imgs_9.jpg"> And the day came when the risk<br />to remain tight in a bud became<br />more painful than the risk<br />it took to blossom.',
            showTimeout: 10,
            fade: false,
            slide: false,
            className: 'tip-darkgray',
            bgImageFrameSize: 11,
            offsetX: -5,
            offsetY: 10
        });
*/



	})
</script>
{% endblock %}

{% block colright %}
{% events_today_block %}
<div class="banner-container box-shadows outnone widget">
    {% banner_zone_iframe 114 300 250%}
</div><!--//.banner-container-->
<div class="clear-block block block-views widget widget-calendar">
    {% month_cal%}
</div>

<div class="split-sidebars encap">
  <div class="c57l left">
    {% upcoming_events_block %}
  </div><!--//.left-->
  <div class="c40r right">
    <div class="placeholders">
      <div class="box-border box-contents box-shadows">
        {% banner_zone_iframe 118 120 60 %}
      </div><!--//.box-contents-->
    </div><!--//.placeholder-->
    <div class="placeholders mt10">
      <div class="box-border box-contents box-shadows">
        {% banner_zone_iframe 119 120 240 %}
      </div>
      <!--//.box-contents-->
    </div><!--//.placeholder-->
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 115 120 600 %}
    </div><!--//.banner-container-->
  </div><!--//.right-->
</div><!--//.split-sidebars-->

<div class="banner-container box-shadows outnone" style="width: 300px;">
    {% if 0.5|randomv%}
        {% facebook_group %}
    {% else %}
        {% include "main/twitter_list.html" %}
    {% endif %}
</div>

{% endblock %}

