<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Rumbabogotá.com</title>
    <link rel="shortcut icon" href="http://rumbabogota.com/favicon.ico">
    <link href="http://rumbabogota.com/media/css/base.css" rel="stylesheet" type="text/css" media="screen, projection">
    <link href="http://rumbabogota.com/media/style.css" rel="stylesheet" type="text/css" media="screen, projection">

    <script type="text/javascript" src="http://rumbabogota.com/media/js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function() {;
            $('input[name^=event]')
        });

        function selectAll()
        {
            $('input[name^=object_]').each(function() {
                this.checked = true;
            });
        }

        function deselectAll(){
            $('input[name^=object_]').each(function() {
                this.checked = false;
            });
        }
    </script>

    <style>
        .albums .fotos-left + .fotos-left {
            margin-left:  30px;
        }
    </style>
</head>
<body>
    <div class="container encap" style="width: 750px;">
        <div id="header-tertiary" class="header-tertiary encap">
            <div class="rumba-logo outnone c25l">
                <h1>
                    <a href="/" title="Rumbabogota Inicio"><img src="http://rumbabogota.com/media/images/rb_logo.png" alt="Rumbabogota.com"></a>
                    <span>El sitio de todas las rumbas</span>
                </h1>
            </div>

            <div id="top-menus-wrapper" class="top-menus-wrapper outnone c75r">
                <ul id="top-menu-secondary" class="top-menu-secondary flt-right encap fcpl0 lcpr0">
                    <li><a href="{% url facebook_events_list %}">Eventos</a></li>
                    <li><a href="{% url facebook_albums_list %}">Fotos</a></li>
                </ul>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div id="footer-tertiary">

            <span class="txt-right">
                <p>
                    <span class="uppercase">Rumbabogota.com</span>, C.A. © 2009-2011 Todos los Derechos Reservados<br>
                    <a href="/terminos_de_uso/">Términos de Uso</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:rumba@rumbabogota.com">rumba@rumbabogota.com</a></p>
            </span>
        </div>
    </div>
</body>
</html>