{% load i18n %}
<div class="node gente bb-none encap">
	<div class="wrapper encap">
	  <div class="c75l">
	  	<h2 class="title">{{photo.description}}</h2>
	    <span class="submitted">{{photo.datetime_added|date:"d/m/Y"}}<span>&nbsp;|&nbsp;</span><span class="author-meta">{% trans "Submitted by"%} {{photo.get_user_link}}</span></span>
	  </div><!--//.c75l-->
	  <div class="c20r txt-right mt15 outnone">
	    
	  </div><!--//.c20l-->
	</div><!--//.wrapper-->
	
	<div class="image-navigations encap outnone">
	  <a href="/yourphotos/{{photo.get_prev.id}}" class="gente-prev" title="Previous image"><span class="hidden">Previous</span></a>
	  <a href="/yourphotos/{{photo.get_next.id}}" class="gente-next" title="Next image"><span class="hidden">Next</span></a>
	</div>
	<div class="images-preview outnone" style="height:600px">
		
	  <ul class="image-teaser-slides encap">
	    <li><img src="{{photo.bigimg.url}}"/></li>
	  </ul><!--//.image-teaser-slides-->
	</div><!--//.images-preview-->
	<div class="ratings fivestar-form-item fivestar-user-text fivestar-smart-stars fivestar-average-stars fivestar-labels-hover fivestar-processed" style="border-bottom: none;">
		
	</div>
	<div style="width: 472px; height: 60px; margin: 0 auto;" class="banner-container box-border box-contents outnone widget p5">
	  <a href="#"><img src="/media/images/banners/banner_8.jpg" alt="Ads"></a>
	</div>
</div><!--//.node-->