{% load i18n %}
{% load openx %}
{% load facebook twitter%}
<div class="node gente bb-none encap">
	<div class="wrapper encap">
	  <div class="c75l">
	  	<h2 class="title">{{photo.description}}</h2>
	    <span class="submitted">{{photo.datetime_added|date:"d/m/Y"}}<span>&nbsp;|&nbsp;</span><span class="author-meta">{% trans "Submitted by"%} {{photo.get_user_link}}</span></span>
	  </div><!--//.c75l-->
	  <div class="c20r txt-right mt15 outnone">
	  </div><!--//.c20l-->
	</div><!--//.wrapper-->
	
	<div class="image-navigations encap outnone">
	  <a href="/yourphotos/{{photo.get_prev.id}}" class="gente-prev" title="Previous image"><span class="hidden">Previous</span></a>
	  <a href="/yourphotos/{{photo.get_next.id}}" class="gente-next" title="Next image"><span class="hidden">Next</span></a>
	</div>
	<div class="images-preview outnone" style="height:600px">
	  <ul class="image-teaser-slides encap">
	    <li>
			<div class="wraptocenter">
				<span></span>
				<img src="{{photo.bigimg.url}}"/>
			</div>
		</li>
	  </ul><!--//.image-teaser-slides-->
	</div><!--//.images-preview-->
	<div class="photos-share-options">
		<ul class="teaser-options encap outnone fcml0 lcmr0">
			<li class="pl0">
				<a href="{{photo.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
					<span>{%facebook_comments_count photo.get_absolute_url%}</span>
				</a>
			</li>
			<li>
				{% facebook_like photo.get_absolute_url 50%}
			</li>
			<li class="br-none">
				{% twitter_share photo.get_absolute_url photo.description%}
			</li>
		</ul><!--//.teaser-options-->
	</div>
						
	<div style="margin: 0 auto;" class="banner-container box-border box-contents outnone widget p5">
        {% comment %}
        {% banner_zone 103 %}
        {% endcomment %}
	</div>
	<div class="encap" id="disqus_thread">
		{%facebook_comments photo.get_absolute_url%}
	</div>
</div><!--//.node-->
