{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Your photos | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% block colleft %}
<div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title">{% trans "Your Photos"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        <li><a class="socializer-9" href="/yourphotos/add" title="{% trans "Add Photo" %}"><span class="hidden">{% trans "Add Photo" %}</span></a></li>
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div  id="details-node">
  	{% include "yourphotos/details_node.html" with show_img="1" %}
  </div>
</div><!--//.node-container-->
<script>
	$(document).ready(function () {
		/*
		$('#divContent').click(function(){
		   $('#content').slideUp('slow').load('info.php', function() {
		     $(this).slideDown('slow');
		   });
		});
*/
		 $('.gente-prev').live('click', function(){
		 	var addr = $(this).attr('href');
		 	$('.images-preview ul').hide('slide', {direction: 'right'}, 500, function(){
			 	$('#details-node').load(addr,function(){
			 		$('.images-preview ul').show('slide', {direction: 'left'}, 500);
			 		FB.XFBML.parse(document.getElementById('details-node'));	
			 	});	
		 	});
		 	return false;
		 });
		 $('.gente-next').live('click', function(){
		 	var addr = $(this).attr('href');
		 	$('.images-preview ul').hide('slide', {direction: 'left'}, 500, function(){
			 	$('#details-node').load(addr,function(){
			 		$('.images-preview ul').show('slide', {direction: 'right'}, 500);
			 		FB.XFBML.parse(document.getElementById('details-node'));	
			 	});	
		 	});
		 	
		 	return false;
		 });
	})
</script>
{% endblock %}

{% block colright %}
<div class="banner-container box-shadows outnone widget" style="width: 297px; height: 247px;">
          <a href="#"><img alt="Ads" src="/media/images/banners/banner_3.jpg" /></a>
</div><!--//.banner-container-->
{% endblock %}
