{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Your photos | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load openx %}
{% load gplus %}
{% load widgets %}
{% load paging %}
{% load listtools %}
{% load facebook twitter %}

{% block advbodycls %}section-yourphotos{% endblock %}


{% block colleft %}
<style>
	.yourphotos-tab-contents {
		background: #ffffff;
		padding-top: 30px !important
	}
	#main-contents #col-left .fotos-archives .std-archives ul.std-archives-list li {
	  	margin: 0 22px !important;
	}

</style>

<div class="node-container tus-fotos box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title">{% trans "Your Photos"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        <li><a class="socializer-9 upload-photo" href="/yourphotos/add"><span>{%trans "Upload a Photo"%}</span></a></li>
      </ul>
    </span>
  </div><!--//.title-wrap-->
	<div class="node">
		<div class="wrapper encap">
			<h2 class="title"><a href="/yourphotos/{{latest.id}}">{{latest.description}}</a></h2>
			<span class="submitted">{{latest.datetime_added|date:"d.m.Y"}}<span>&nbsp;|&nbsp;</span><span class="author-meta">{% trans "Submitted by"%} {{latest.user|user_link}}</span></span>
		</div><!--//.wrapper-->
		<div class="content" style="min-height: 335px;">
			<div class="std-thumbnail outnone">
                <a href="/yourphotos/{{latest.id}}">
                <div class="wraptocenter">
                    <span></span>
                    <img src="{{latest.bigimg.url}}">
                </div>
                </a>
            </div>
		</div>
		
		<div class="photos-share-options">
			<ul class="teaser-options encap outnone fcml0 lcmr0">
				<li class="pl0">
					<a class="socializer-1 with-comment-count" href="{{latest.get_absolute_url}}#disqus_thread">
						<span>{%facebook_comments_count latest.get_absolute_url%}</span>
					</a>
				</li>
				<li>
					{% facebook_like latest.get_absolute_url%}
				</li>
				<li>
					{% twitter_share latest.get_absolute_url latest.description%}
				</li>
                <li class="br-none">
                    {% gplus latest.get_absolute_url%}
                </li>
			</ul><!--//.teaser-options-->
		</div><!--//.photos-share-options-->
	</div><!--//.node-->
</div><!--//.node-container-->
	<div class="merged-container box-shadows fotos-archives encap">
		<div class="merged-contents">
			<div class="tab-titles encap" id="photo-anchor">
		      <ul class="outnone encap">
		        <li class="box-shadows">
		        	<a href="/yourphotos/latest#photo-anchor" {% if active_tab == "latest" %} class="active"{% endif %}>
		        		{% trans "Latest Photos"%}
		    		</a>
		        </li>
		        <li class="box-shadows">
		        	<a href="/yourphotos/sexy#photo-anchor" {% if active_tab == "sexy" %} class="active"{% endif %}>
		        		{% trans "Sexy"%}
		    		</a>
		        </li>
		        <li class="box-shadows">
		        	<a href="/yourphotos/rumbas#photo-anchor" {% if active_tab == "rumbas" %} class="active"{% endif %}>
		        		{% trans "Rumbas"%}
		    		</a>
		        </li>
		        <li class="box-shadows">
		        	<a href="/yourphotos/amigos#photo-anchor" {% if active_tab == "amigos" %} class="active"{% endif %}>
		        		{%trans "Amigos"%}
		    		</a>
		        </li>
		        <li class="box-shadows">
		        	<a href="/yourphotos/humor#photo-anchor" {% if active_tab == "humor" %} class="active"{% endif %}>
		        		{% trans "Humor"%}
		    		</a>
				</li>
		      </ul>
		    </div><!--//.tab-titles-->
		    <div class="tab-containers encap">
				<div class="std-archives yourphotos-tab-contents encap">
					<ul class="std-archives-list  encap outnone">
						{% for photo in current_page.object_list    %}
                            {% if forloop.counter0 and forloop.counter0|divisibleby:4 %}
                                <li style="clear: both; width:100%;padding: 0"></li>
                            {% endif %}
							<li>
								<div class="std-thumbnail"><a href="/yourphotos/{{photo.id}}"><img src="{{photo.thumbnail.url}}"></a></div>
								<div class="std-details decou">
									<h6><a href="/yourphotos/{{photo.id}}">{{photo.description}}</a></h6>
									<span class="author-meta">{% trans "Submitted by"%} {{photo.user|user_link}}</span>
									<div class="fivestar-widget clear-block fivestar-widget-5">
										{% facebook_like photo.get_absolute_url 184%}
									</div>
								</div><!--//.std-details-->
							</li>
						{% empty %}
    						<li>{% trans "Sorry, no photo in this category"%}</li>
						{% endfor%}
						<div class="cflt"></div>
						
					</ul><!--//.video-archives-list-->
					{% if current_page.object_list%}
						{% common_paginator 2 "photo-anchor"%}
					{% endif%}
				</div><!--//.encap-->
			</div>
		</div><!--//.merged-contents-->
	</div><!--//.merged-container-->
<script>
	$(document).ready(function () {
		$('.std-thumbnail img').hover(
			function(){
				$(this).css("border-color","#C52121");
			},
			function() {
				$(this).css("border-color","#898989");
			}	
		);
	})
</script>
{% endblock %}


{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 100 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

{% endblock %}



