{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Your videos | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load youtube %}
{% load facebook twitter %}

{% block colleft %}
<div class="node-container videos box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title">{%trans "Videos"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
		<li><a class="socializer-12 upload-video" href="/videos/add"><span>{%trans "Upload a video"%}</span></a></li>
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node bb-none encap">
	<div class="wrapper encap">
		<h2 class="title">{{video.description}}</h2>
		<span class="submitted">{{video.datetime_added|date:"d.m.Y"}}<span>&nbsp;|&nbsp;</span><span class="author-meta">{% trans "Submitted by"%} {{video.get_user_link}}</span></span>
    </div><!--//.wrapper-->
	<div class="content">
		{{video.youtube_id|youtube_video_from_id}}
	</div>
	<div class="video-share-options">
		<ul class="teaser-options encap outnone fcml0 lcmr0">
			<li class="facebook">
				{% facebook_like video.get_absolute_url%}
			</li>
			<li class="pl0">
				<a href="{{video.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
					<span>{%facebook_comments_count video.get_absolute_url%}</span>
				</a>
			</li>
			<li class="twitter">
				{% twitter_share video.get_absolute_url video.description%}	
			</li>
		</ul><!--//.teaser-options-->
	</div>
  </div><!--//.node-->
  <div style="width: 472px; height: 60px; margin: 0 auto;" class="banner-container box-border box-contents outnone widget p5">
      <a href="#"><img src="/media/images/banners/banner_8.jpg" alt="Ads"></a>
    </div>
  <div class="encap" id="disqus_thread">
	{%facebook_comments video.get_absolute_url%}
  </div>
</div><!--//.node-container-->
{% endblock %}

{% block colright %}
<div class="banner-container box-shadows outnone widget" style="width: 297px; height: 247px;">
          <a href="#"><img alt="Ads" src="/media/images/banners/banner_3.jpg" /></a>
</div><!--//.banner-container-->
{% endblock %}
