{% load i18n %}
<div class="box-title">
     <h2  style="top: 5px">{% trans "Events for the month" %}</h2>
</div>
<div class="box-contents box-shadows outnone" style="background-color: #6C6C6C;border: 1px solid #000000; ">
    <div id="datepicker">
    </div>
    <div class="feed-icon">
        <div style="text-align: left;">
            <a title="ical" class="ical-icon" href="/events/calendar">
                <img title="{% trans "Expand CALENDAR" %}" alt="{% trans "Expand CALENDAR" %}" src="/media/images/sprites/browse-calendar.gif">
                {% trans "Expand CALENDAR" %}
            </a></div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        // Datepicker
        $('#datepicker').datepicker({
            inline: true,
            onSelect: function(dateText, inst) {
                document.location.href = "/events/by-category/day"+"/"+inst.selectedYear+"/"+inst.selectedMonth+"/"+inst.selectedDay + "#event-anchor"
                return false;
            }
        });
    });
</script>
