{% load i18n %}
<div class="box-title">
     <a href="/events/calendar">
         <h2>{% trans "Events for the month" %}</h2>
     </a>
</div>
<div id="datepicker" class="box-contents box-shadows outnone">
</div>
<script type="text/javascript">
    $(function(){
        // Datepicker
        $('#datepicker').datepicker({
            inline: true,
            onSelect: function(dateText, inst) {
                document.location.href = "/events/by-category/day"+"/"+inst.selectedYear+"/"+inst.selectedMonth+"/"+inst.selectedDay + "#event-anchor"
                return false;
            }
        });
    });
</script>
