{% load i18n %}
{% load listtools %}
{% load tools %}
<div id="whats-today" class="whats-today widget outnone">
    <div class="box-title"><h2 style="font-size: 29px;">{% trans "What's today"%}</h2></div><!--//.box-title-->
    <div class="box-border box-contents box-shadows">
        <div class="parts-wrapper">
            {% for day_name,day, dlength in days %}
                <ul class="recent zebra-ul inner-cycle" style="height: 430px;overflow: hidden;{% if not forloop.first %}display:none;{% endif %}">
                    {% for row in day|main_slider_split:6 %}
                        <!-- <ul> -->
                        <div class="country-event-main">
            				<div class="country-event-center">
                            {% for event, dt in row%}
                                <!-- <li> -->
                            	<div class="country-event-box">
                                    <a href="{{ event.get_absolute_url }}">
                                    	<img src="{{ event.thumbnail.url }}">
                                    	<div class="country-evnent-box-text-wrap">
                                    		{% comment %}
					                        <div class="text-on-img">
					                            {{ event.title|slice:":30" }}
					                        </div>
					                        {% endcomment %}
					                        <div class="text-below-image">
					                        	{{ event.title|slice:":30" }}
					                        	{% comment %}
					                            {% if event.location %}
	                                                {{ event.location.title|slice:":30" }}
	                                            {% else %}
	                                                {% if event.place %}
	                                                    {{event.place|slice:":30"}}
	                                                {% else %}
	                                                    {% trans "Other"%}
	                                                {% endif %}
	                                            {% endif %}
	                                            {% endcomment %}
					                        </div>
					                        <div class="time-div">
					                        	<div style="float: left" class="time-text">
					                        		{% if event.location %}
		                                                {{ event.location.title|slice:":20" }}
		                                            {% else %}
		                                                {% if event.place %}
		                                                    {{event.place|slice:":20"}}
		                                                {% else %}
		                                                    {% trans "Other"%}
		                                                {% endif %}
		                                            {% endif %}
					                        	</div>
					                            <div class="time-text">
					                            	{% if event.time|length == 3 %}
					                                	{{event.time|slice:":0"}}{{event.time|slice:"3:"}}
					                                {% else %}
					                                	{{event.time|slice:":1"}}{{event.time|slice:"4:"}}
					                                {% endif %}
					                            </div>
					                        </div>
					                    </div>
                                         <!-- 
                                        -
                                        <span>
                                            
                                        </span> -->
                                    </a>
                                <!-- </li> -->
                                </div>
                            {% endfor %}
							</div>
						</div>
                        <!-- </ul> -->
                    {% endfor %}
                    {% if day|length > 6 %}
                    	<div class="navigation-box">
		                    <a class="left-nav-arrows" href="#">
		                    </a>
		                    <div class="navigation-box-center-text">
		                        <a href="{% url event_by_category_day %}">{% trans "More Events Today" %}</a>
		                    </div>
		                    <a class="right-nav-arrows" href="#">
		                    </a>
		                </div>
                        <!-- <div class="navigation flt-right pt5">
                            <a href="#" class="navi-prev"><span class="hidden">{%  trans "Previous"%}</span></a>
                            <a href="#" class="navi-next"><span class="hidden">{% trans "Next"%}</span></a>
                        </div> -->
                    {% endif %}
                </ul>
            {% endfor %}
        </div><!--//.parts-wrapper-->
        <div class="whats-today-taxonomy encap">
            <ul class="taxonomies fcpl0 lcpr0">
                {% for day_name,day, url in days %}
                    <li><a href="{{ url }}">{{ day_name }}</a></li>
                {% endfor %}

            </ul>
            <ul class="fcpl0 lcpr0">
                <li class="all-events" ><a href="{% url event_calendar %}">{% trans "All Events" %}</a></li>
            </ul>
            
        </div><!--//.whats-today-taxonomy-->
    </div><!--//.box-contents-->
</div><!--//.whats-today-->


<script>
    $.fn.cycle.transitions.scrollBothWays = function($cont, $slides, opts) {
        $cont.css('overflow', 'hidden');
        opts.before.push($.fn.cycle.commonReset);
        // custom transition fn (trying to get it to scroll forward and backward)
        opts.fxFn = function(curr, next, opts, cb, fwd) {
            var w = $cont.height();
            opts.cssFirst = { top: 0 };
            opts.animIn = { top: 0 };
            if (fwd) {
                opts.cssBefore = { top: w, left: 0 };
                opts.animOut = { top: 0 - w };
            } else {
                opts.cssBefore = { top: -w, left: 0 };
                opts.animOut = { top: w };
            }
            ;
            var $l = $(curr), $n = $(next);
            var speedIn = opts.speedIn, speedOut = opts.speedOut, easeIn = opts.easeIn, easeOut = opts.easeOut, animOut = opts.animOut, animIn = opts.animIn;
            $n.css(opts.cssBefore);
            var fn = function() {
                $n.show();
                $n.animate(animIn, speedIn, easeIn, cb);
            };
            $l.animate(animOut, speedOut, easeOut, function() {
                if (opts.cssAfter) $l.css(opts.cssAfter);
                if (!opts.sync) fn();
            });
            if (opts.sync) fn();
        };
    };

    $(document).ready(function () {

        var updateActivePagerLink = function(pager, currSlide, clsName) {
            $.fn.cycle.updateActivePagerLink(pager, currSlide, clsName);
            var el = $('li a', pager).eq(currSlide);
            $('.whats-today-taxonomy .all-events a').attr('href', el.attr('href'));
       };


        jQuery('#main-contents #col-right #whats-today .box-contents .parts-wrapper').cycle({
            fx: 'scrollHorz',
            speed: 1000,
            timeout: 0,
            sync: 1,
            activePagerClass: 'active', //-- class name used for the active pager link
            easing: 'easeOutQuint',
            containerResize: 1,
            pager: '#main-contents #col-right #whats-today .box-contents div.whats-today-taxonomy ul.taxonomies',
            //next: '#main-contents #col-right #whats-today .box-contents .whats-today-taxonomy a.navi-next',
            //prev: '#main-contents #col-right #whats-today .box-contents .whats-today-taxonomy a.navi-prev',
            pagerAnchorBuilder: function(idx, slide) {
                //-- return selector string for existing anchor
                return '#main-contents #col-right #whats-today .box-contents .whats-today-taxonomy ul li:eq(' + idx + ') a';
            },
            delay: -2000,
            updateActivePagerLink: updateActivePagerLink
        });




        $('#main-contents #col-right #whats-today .box-contents .parts-wrapper ul.inner-cycle').each(function(){
            var day_el = $(this);
            day_el.cycle({
                fx: 'scrollHorz',
                speed: 1000,
                timeout: 0,
                sync: 1,
                activePagerClass: 'active', //-- class name used for the active pager link
                easing: 'easeOutQuint',
                //continuous: true,
                containerResize: 1,
                slideExpr: 'div.country-event-main',
                next: $('a.right-nav-arrows',day_el),
                prev: $('a.left-nav-arrows',day_el),
                delay: -2000
            });
        })


	})
</script>
{% comment %}
$('div.child-slideshow').cycle({
		fx: 'turnLeft',
		timeout: 2000,
		slideExpr: 'img'
	}).cycle('pause');

    $('div.parent-slideshow').cycle({
		fx: 'scrollUp',
		speed: 300,
		timeout: 0,
		slideExpr: '>div.slide',
		pager: 1,
		pagerAnchorBuilder: function(i) {
			return $('div.parent-pager a:eq(' + i + ')');
    	},
		after: function(curr,next,opts) {
			var cmd = opts.currSlide == 1 ? 'resume' : 'pause';
			$('div.child-slideshow').cycle(cmd);
		}
	});
{% endcomment %}
