{% load i18n %}
{% load tools %}
{% load facebook %}
<div class="ultimas-fotos widget outnone">
  <div class="box-title"><h2>{% trans "Latest Photos" %}</h2></div>
  <div class="decou pl5 pr2">
    <ul>
        {% for event in events %}
            <li>
                <h6><a href="{{event.get_absolute_url}}" title="{{event.title}}">{{event.title}}</a></h6>
                <p>
                    {% if event.location %}
                        <a href="{{event.location.get_absolute_url}}">{{ event.location.title }}</a>
                    {% else %}
                        {{ event.place }}
                    {% endif %}
                </p>
                <p>{{ event.date|date:"d/m/Y" }}</p>
              </li>
        {% endfor%}
    </ul>
  </div><!--//.box-contents-->
</div><!--//.ultimas-fotos-->
