{% load i18n %}
<div class="clear-block block block-simplenews box-shadows box-border box-contents widget block-7 odd" id="block-simplenews-7">
  <div class="box-title"><h5>{% trans "Sign up to receive our free emails" %}</h5><span>E-Rumba</span></div>
  <div class="box-border box-contents">
    <p>{% trans "Newsletter with a calendar of events for the week" %}</p>
    <form  method="post" action="/subscribe/">
        {% csrf_token %}
      <div>
        <div id="edit-mail-wrapper" class="form-item">
          <label for="widget_email">{% trans "Email:" %} <span title="This field is required." class="form-required">*</span></label>
          <input type="text" class="form-text required" value="" size="28" id="edit-mail" name="widget_email" maxlength="128" />
        </div>
        <input type="submit" class="form-submit" value="{% trans "Subscribe" %}" id="edit-submit" name="op" />
      </div>
    </form>
  </div>
</div>