{% load i18n %}
{% load tools %}
{% load facebook %}
<div class="your-photos outnone" id="block-your-photos">
  <div class="box-title"><h2>{% trans "Your photos" %}</h2></div>
  <div class="box-border box-contents box-shadows decou">
    <ul>
        {% for photo in photos %}
            <li>
                <a href="{{photo.get_absolute_url}}">
                    <img src="{{photo.widgetethumb.url}}" alt="{{photo.description}}"/>
                </a>
                <h6><a href="{{photo.get_absolute_url}}">{{ photo.description }}</a></h6>
                <p>{% trans "Photo by" %} {{ photo.user|user_link }}</p>
                <p>{{photo.datetime_added|date:"d.m.Y"}}</p>
              </li>
        {% endfor%}
    </ul>
  </div><!--//.box-contents-->
</div><!--//.your-photos-->