{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "People | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load paging %}

{% block advbodycls %}section-videos{% endblock %}

{% block colleft %}
<div class="node-container videos box-shadows encap"> 
  <div class="title-wrap encap"> 
    <span class="flt-left"><h2 class="title">{{group_name}}</h2></span> 
    <span class="flt-right"> 
     <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        	<li><a class="socializer-8 publish-event" href="{% url event_add %}"><span>{% trans "Add event"%}</span></a></li>
      	</ul>
    </span> 
  </div><!--//.title-wrap--> 
  <div class="node bb-none encap"> 
		<div class="photo-archives encap" style="border-top:none; margin-top:0px;"> 
			<div class="node-mini-left photos-mod" style="border-right: none;"> 
				<div class="encap"> 
					<ul class="photo-archives-list encap outnone"> 
                    {% for event in current_page.object_list %}
						{% if forloop.counter0 and forloop.counter0|divisibleby:4 %}
                            <li style="clear: both; width:100%;padding: 0"></li>
                        {% endif %}
                        <li>
	                      <div class="photo-thumbnail">
							<a href="{%url people_details slug=event.slug%}"><img alt="{{event.title}}" src="{{event.smallthumb.url}}"></a>
						  </div> 
	                      <div class="photo-details decou"> 
	                        <h6><a href="{%url people_details slug=event.slug%}">{{event.title}}</a></h6> 
	                        <span class="author-meta">{{event.city}} {{event.date|date:"d.m.y"}}</span> 
	                      </div><!--//.photo-details--> 
	                    </li>

                     {% endfor %}
					</ul><!--//.photo-archives-list--> 
			</div><!--//.encap--> 
		</div><!--//.node-mini-left--> 
	</div><!--//.video-archives--> 

	{% if current_page.object_list%}
		{% common_paginator%}
	{% endif%}

  </div><!--//.node--> 
</div><!--//.node-container-->
<script>
	$(document).ready(function () {
		$('.photo-thumbnail img').live('mouseover',
			function(){
				$(this).css("border-color","#C52121");
			}
		);
		$('.photo-thumbnail img').live('mouseout',
			function() {
				$(this).css("border-color","#898989");
			}	
		)
	})
</script>
{% endblock %}

