{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "People | Rumbacaracas" %}{% if event %} | {{ event.title }}{% endif %}{% endblock %}
{% load tools %}
{% load paging %}
{% load gplus %}
{% load openx %}
{% load widgets %}
{% load facebook twitter%}

{% if event %}
    {% block fbmeta %}
        <meta property="og:title" content="{{ event.title }}"/>
        <meta property="og:image" content="{{ event.smallthumb.url }}"/>
        <meta property="og:url" content="{% value_from_settings "FULL_BASE_URL" %}{{ event.get_absolute_url }}"/>
        <meta property="og:type" content="article" />
    {% endblock %}
{% endif %}



{% block colleft %}
<div class="node-container eventos box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title">{%trans "Event"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        	<li><a class="socializer-8 publish-event" href="{% url event_add %}"><span>{% trans "Add event"%}</span></a></li>
      	</ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node encap">
    <div class="photos-share-options" style="border-top:none;margin-top: -20px; margin-bottom: 20px">
		<ul class="teaser-options encap outnone fcml0 lcmr0">
			<li class="pl0">
				<a href="{{event.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
					<span>{%facebook_comments_count event.get_absolute_url%}</span>
				</a>
			</li>
			<li>
				{% facebook_like event.get_absolute_url 50%}
			</li>
			<li>
				{% twitter_share event.get_absolute_url event.title%}
			</li>
            <li class="br-none">
                {% gplus event.get_absolute_url%}
            </li>
		</ul><!--//.teaser-options-->
	</div>

    <div class="eventos-left c60l outnone">
      <span class="teaser-image"><img src="{{event.widethumb.url}}" alt="{{event.title}}"/></span>
      
    </div>
    <div class="content eventos">
      <h2 class="title">{{event.title}}</h2>
      <span class="submitted">{% if event.city%}{{event.city}} {%endif%}{{event.date|date:"d.m.y"}}
        <span>&nbsp;|&nbsp;</span>
        {% if event.location%}
            <a class="author-link" href="{{ event.location.get_absolute_url }}">{{event.location}}</a>
        {% else %}
            {% if event.place %}
                {{event.place}}
            {% else %}
                {% trans "Other"%}
            {% endif %}
        {% endif %}
      </span>
      {% autoescape off%}
          {% if event.article%}
            {{event.article|linebreaks}}
          {%endif%}
      {% endautoescape %}

	  {% if event.author or event.author_email%}	
	      <p><strong>{% trans "Reporter"%}@:</strong> 
			{% if event.author%}<span class="brickred">{{event.author}}</span>{%endif%}
			{% if event.author and event.author_email%}<br />{%endif%}
			{% if event.author_email%}<strong>{{event.author_email}}</strong>{%endif%}
		  </p>
	  {%endif%}
    </div><!--//.content-->
  </div><!--//.node-->
  <div class="recent-events-list">
	{% for photo in current_page.object_list    %}
		{% if forloop.counter0|divisibleby:3 %}
			{% if not forloop.first%}
					</div><!--//.list-part-->
				</div><!--//.encap-->
			{% endif %}
			<div class="encap row outnone">
		{% else %}
			</div><!--//.list-part-->
		{% endif %}
		<div class="list-part {% if forloop.counter0|divisibleby:3 %}first{% else %}{% if forloop.counter|divisibleby:3 %}last{% endif %}{% endif %}">

        <a href="{% url people_slider photo.event.slug photo.id %}"><img width="185" src="{{photo.thumb.url}}" alt="{{photo.description}}" /></a>
        <div class="teaser">
          {{photo.description}}
          <ul class="teaser-options encap outnone ptb5 fcml0 lcmr0">
			<li><a class="to1 with-comment-count" href="{{photo.get_absolute_url}}#disqus_thread">
					<span style="padding-right: 10px">{%facebook_comments_count photo.get_absolute_url%}</span>
				</a>
			</li>
			<li class="dropper br-none">
              <a class="to3" href="#">{% trans "Share"%}</a>
              <ul>
                <li><div>{% twitter_share photo.get_absolute_url photo.description%}</div></li>
                <li><div>{% facebook_like photo.get_absolute_url 90 0%}</div></li>
                <li><div>{% facebook_send photo.get_absolute_url%}</div></li>
                <li><div>{% gplus photo.get_absolute_url%}</div></li>
              </ul>
            </li>
            
          </ul>
          
        </div><!--//.teaser-->
		
		{% if forloop.last %}
				</div><!--//.list-part-->
			</div><!--//.encap-->
		{% endif %}

	{% endfor %}

	{% if current_page.object_list%}
		{% common_paginator%}
	{% endif%}
  </div><!--//.recent-events-list-->
    <div class="banner-container box-contents outnone widget">
      {% banner_zone_iframe 117 600 60%}
    </div><!--//.banner-container-->

  <div class="encap" id="disqus_thread">
  	{%facebook_comments event.get_absolute_url%}
  </div>
					
</div><!--//.node-container-->

<script>
	$(document).ready(function () {
		$('.teaser-image img, .list-part img').live('mouseover',
			function(){
				$(this).css("border-color","#F16000");
			}
		);
		$('.teaser-image img, .list-part img').live('mouseout',
			function() {
				$(this).css("border-color","#898989");
			}	
		)
	})
</script>
{% endblock %}


{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 114 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

    <div class="banner-container box-shadows outnone widget" style="width: 300px;">
          {% if 0.5|randomv%}
            {% facebook_group %}
        {% else %}
            {% include "main/twitter_list.html" %}
        {% endif %}
    </div>



    <div class="split-sidebars encap">
      <div class="c57l left">
        {% people_list %}
        {% art_culture_block %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 118 120 60 %}
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 119 120 240 %}
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
            {% banner_zone_iframe 115 120 600 %}
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}

