{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "People | Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load gplus %}
{% load openx %}
{% load widgets %}
{% load facebook twitter %}
{% block bannermain %}   {% revive_banner 1 800 100 "ae59f500" %} {% endblock %}

{% block colleft %}
<div class="node-container box-shadows encap">
	<div class="title-wrap encap">
	<span class="flt-left"><h2 class="title">{% trans "Photos"%}</h2></span>
	<span class="flt-right">
	  <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        	<li><a class="socializer-8 publish-event" href="{% url event_add %}"><span>{% trans "Add event"%}</span></a></li>
      	</ul>
	</span>
	  </div><!--//.title-wrap-->
	  <div class="node encap">
      <div class="photos-share-options" style="border-top:none;margin-top: -20px; margin-bottom: 20px">
		<ul class="teaser-options encap outnone fcml0 lcmr0">
			<li class="pl0">
				<a href="{{latest.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
					<span>{%facebook_comments_count latest.get_absolute_url%}</span>
				</a>
			</li>
			<li>
				{% facebook_like latest.get_absolute_url 50%}
			</li>
			<li>
				{% twitter_share latest.get_absolute_url latest.title%}
			</li>
            <li class="br-none">
				{% gplus latest.get_absolute_url%}
			</li>

		</ul><!--//.teaser-options-->
	</div>

	<div class="content fotos">
      <h3>{% trans "Latest photos"%}</h3>
	  <h2 class="title"><a href="{%url people_details slug=latest.slug%}">{{latest.title}}</a></h2>
	  <span class="submitted">
		{% if latest.city%}{{latest.city}}<span>&nbsp;</span>{% endif %}
        {{latest.date|date:"d.m.y"}}
        <span>&nbsp;|&nbsp;</span>
        {% if latest.location%}
            <a class="author-link" href="{{ latest.location.get_absolute_url }}">{{latest.location}}</a>
        {% else %}
            {% if latest.place %}
                {{latest.place}}
            {% else %}
                {% trans "Other"%}
            {% endif %}
        {% endif %}
	  </span>
      <div class="fotos-left outnone">
	        <span class="teaser-image"><a href="{%url people_details slug=latest.slug%}">
                {% if latest.image %}<img src="{{latest.fullwidth.url}}" alt="{{latest.title}}"/> {% else %} <br /> {% endif %}
            </a></span>
      </div>
	  <p>
		{% if latest.article %}
			{{latest.article|truncate:300}}
	    {% endif %}
	  </p>
	  <div class="mt15"><a href="{%url people_details slug=latest.slug%}" class="read-more-red">{%trans "Read More"%}</a></div>
	</div><!--//.content-->
	  </div><!--//.node-->
	  <div class="banner-container box-border box-contents outnone widget">
	  </div><!--//.banner-container-->
	  <div class="recent-fotos-list">
	{% for group, description,latest_event, events in groups %}

		{% if forloop.counter0|divisibleby:2 %}
			{% if not forloop.first%}
					</div><!--//.c49r-->
				</div><!--//.row-->
			{% endif %}
			<div class="encap row outnone">
				<div class="c48l">
		{% else %}
				</div><!--//.c49l-->
	  		<div class="c48r">
		{% endif %}
		
    	<h3>{{description}}</h3>
		    <a href="{%url people_details slug=latest_event.slug%}" class="recent-image">
				{% if latest_event.image%}
					<img alt="{{latest_event.title}}" src="{{latest_event.squarethumb.url}}" />
				{%else%}
					<br />
				{%endif%}
			</a>
		    <ul class="decou">
				{% for event in events %}
			      <li>
			        <h5 class="red-title"><a href="{%url people_details slug=event.slug%}">{{event.title}}</a></h5>
			        <p><span>{{event.date|date:"d.m.y"}}</span>
					{% if event.location%}
						<span class="bold">
							<a href="{% url location_details event.location.slug %}">{{event.location.title}}</a>
						</span>
					{%else%}
                        <span class="bold">
                            {% trans "Other"%}
                        </span>
                    {% endif %}
                    {% comment %}
            	    <span class="last">
						<a href="{{event.get_absolute_url}}#disqus_thread">
							{%facebook_comments_count event.get_absolute_url%}
						</a>
					</span>
					{% endcomment %}
					</p>
			      </li>
				{%endfor%}
		    </ul>
		    <a class="read-more-red" href="{% url people_category group %}">{%trans "View more"%}</a>

		{% if forloop.last %}
				</div><!--//.c49r-->
			</div><!--//.row-->
		{% endif %}

	{%endfor%}
  </div><!--//.recent-events-list-->
</div><!--//.node-container-->
<script>
	$(document).ready(function () {
		$('.teaser-image img, .recent-image img').live('mouseover',
			function(){
				$(this).css("border-color","#F16000");
			}
		);
		$('.teaser-image img, .recent-image img').live('mouseout',
			function() {
				$(this).css("border-color","#898989");
			}	
		)
	})
</script>

{% endblock %}

{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% revive_banner 9 300 250 "a72c0636" %}
    </div><!--//.banner-container-->

    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

    <div class="banner-container box-shadows outnone widget">
        {% revive_banner 10 300 250 "a796f138" %}
    </div><!--//.banner-container-->
    {% subscribe_block %}

    <div class="split-sidebars encap">
      <div class="c57l left">
        {% news_list2 %}
        {% yourphotos_block %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}


