{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "People | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load openx %}
{% load facebook twitter %}
{% block colleft %}

<div class="node-container box-shadows encap">
	<div class="title-wrap encap">
	<span class="flt-left"><h2 class="title">{% trans "Photos"%}</h2></span>
	<span class="flt-right">
	  <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
	  </ul>
	</span>
	  </div><!--//.title-wrap-->
	  <div class="node encap">
	<div class="fotos-left c60l outnone">
	  <h3>{% trans "Latest photos"%}</h3>
	  <span class="teaser-image"><a href="{%url people_details slug=latest.slug%}">
		{% if latest.image %}<img src="{{latest.widethumb.url}}" alt="{{latest.title}}"/> {% else %} <br /> {% endif %}
		</a></span>
	  <ul class="lfleft encap outnone fcml0 lcmr0">
	  	
  		<li>
	  		<a class="socializer-10" href="{{latest.get_absolute_url}}#disqus_thread">
				<span>{%facebook_comments_count latest.get_absolute_url%}</span>
			</a>
		</li>
  		<li>
			{% twitter_share latest.get_absolute_url latest.title%}
		</li>
        {% comment %}
	    <li><a class="socializer-11" href="{%url people_details slug=latest.slug%}">
			<span>{% trans "Photos:"%} {{latest.photo_set.all|length}}</span></a>
		</li>
		{% endcomment %}
		<li class="mr10">
	  		{% facebook_like latest.get_absolute_url 60%}
  		</li>
	  </ul>
	</div>
	<div class="content c40r fotos">
	  <h2 class="title"><a href="{%url people_details slug=latest.slug%}">{{latest.title}}</a></h2>
	  <span class="submitted">
		{% if latest.city%}{{latest.city}} {% endif %}{{latest.date|date:"d.m.y"}}
	  </span>
	  <p>
		{% if latest.article %}
			{{latest.article|truncate:300|linebreaks}}
	    {% endif %}
	  </p>
	  <div class="mt15"><a href="{%url people_details slug=latest.slug%}" class="read-more-red">{%trans "Read More"%}</a></div>
	</div><!--//.content-->
	  </div><!--//.node-->
	  <div class="banner-container box-border box-contents outnone widget">
          {% banner_zone_iframe 102 600 60%}
	  </div><!--//.banner-container-->
	  <div class="recent-fotos-list">
	{% for group, description,latest_event, events in groups %}

		{% if forloop.counter0|divisibleby:2 %}
			{% if not forloop.first%}
					</div><!--//.c49r-->
				</div><!--//.row-->
			{% endif %}
			<div class="encap row outnone">
				<div class="c48l">
		{% else %}
				</div><!--//.c49l-->
	  		<div class="c48r">
		{% endif %}
		
    	<h3>{{description}}</h3>
		    <a href="{%url people_details slug=latest_event.slug%}" class="recent-image">
				{% if latest_event.image%}
					<img alt="{{latest_event.title}}" src="{{latest_event.squarethumb.url}}" />
				{%else%}
					<br />
				{%endif%}
			</a>
		    <ul class="decou">
				{% for event in events %}
			      <li>
			        <h5 class="red-title"><a href="{%url people_details slug=event.slug%}">{{event.title}}</a></h5>
			        <p><span>{{event.date|date:"d.m.y"}}</span>
					{% if event.location%}
						<span class="bold">
							<a href="/locations/{{event.location.slug}}">{{event.location.title}}</a>
						</span>
					{%endif%}
					<span class="last">
						<a href="{{event.get_absolute_url}}#disqus_thread">
							{%facebook_comments_count event.get_absolute_url%}
						</a>
					</span>
					</p>
			      </li>
				{%endfor%}
		    </ul>
		    <a class="read-more-red" href="/people/category/{{group}}">{%trans "View more"%}</a>

		{% if forloop.last %}
				</div><!--//.c49r-->
			</div><!--//.row-->
		{% endif %}

	{%endfor%}
  </div><!--//.recent-events-list-->
</div><!--//.node-container-->
<script>
	$(document).ready(function () {
		$('.teaser-image img, .recent-image img').live('mouseover',
			function(){
				$(this).css("border-color","#C52121");
			}
		);
		$('.teaser-image img, .recent-image img').live('mouseout',
			function() {
				$(this).css("border-color","#898989");
			}	
		)
	})
</script>

{% endblock %}

