{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "People | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load openx %}
{% block colleft %}
<link type="text/css" rel="stylesheet" href="/media/css/jquery-ui.css" />
<div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">

    <span class="flt-left"><h2 class="title addlocationhdr">{% trans "Hiring photographers"%}</h2></span>
    <span class="flt-right">
	  <img src="/media/images/logo.png" width="76" height="40" vspace="6" alt="" title="" />
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node gente bb-none encap" id="add-form">
	<br />
  	{% if request.GET.completed %}
          <h2>{% trans "Thanks for your interest in hiring our photography services. <br /> We will contact you shortly!"%}</h2>
    {% else %}
    <div style="text-align: left;">
	    <div><h2>{% trans "GRAPHIC SPECIALIST REGISTRATION EVENT."%}</h2></div>
	    <div>{% trans "The largest staff of professional photographers for photographic and video record of the event:" %}</div>
	    <div>{% trans "Product launches, sales conventions, press conferences, weddings, birthdays, graduations etc. proposed." %}</div>
	    <div>{% trans "Includes:" %}</div>
	    <div><b>{% trans "RECORD PHOTO:" %}</b></div>
	    <div>{% trans "Event Review" %}</div>
	    <div>{% trans "Delivery of all the photos. Minimum 60 photos" %}</div>
	    <div>{% trans "Time photographer at the event 3 hours" %}</div>
	    <div>{% trans "Optional www.rumbacaracas.com Publishing." %}</div>
	    <div>{% trans "Price: Bs 3000" %}</div>
	    <div>{% trans "Does not include lighting equipment." %}</div>
	    <div>{% trans "For weddings and events that warrant lighting conditions will be agreed with the client." %}</div>
	    <div>{% trans "Design and print photo album. Optional. Price negotiable" %}</div>
	    <div>{% trans "RECORD VIDEO" %}</div>
	    <div>{% trans "Video of 3 min, full HD" %}</div>
	    <div>{% trans "Insertion VIMEO, Youtube and rumbacaracas.com." %}</div>
	    <div>{% trans "Price: Bs 20,000" %}</div>
    </div>
    
    
    <h2>{% trans "Fill the following form to hire a photo service for a public or private event:"%}</h2>
    {% if form.non_field_errors %}
        <div id="form-error">
            {% trans "The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after review the following errors:" %}
            {{ form.non_field_errors }}
        </div>
    {% endif %}
  	<form enctype="multipart/form-data" method="post" action="" id="addform">
    	{% csrf_token %}
		<div>
	      <table border="0" cellpadding="7" cellspacing="0" width="100%">
	        {% for field in form %}

				{% if field.name == 'information' %}
				  	<tr>
				    	<td colspan="2">
                            <span class="space"></span>
							{{ field.label_tag }}
							{% if field.errors %}	
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
			      	</tr>
				  	<tr>
				        <td colspan="2">{{ field }}</td>
			      	</tr>
				{% else %}
					<tr>
						<td width="250">
                            {% if field.field.required %}
                                <span class="mandatory">*</span>
                            {% else %}
                                <span class="space"></span>
                            {% endif %}
							{{ field.label_tag }}
							{% if field.errors %}
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
						<td class="textbox">
                            {% if field.name == 'date' %}
                                <span class="calendar">
								{{ field }}
							</span>
                            {% else %}
								{{ field }}
                            {% endif%}
                        </td>
		        	</tr>
				{% endif %}
			{% endfor %}
			<tr>
		        <td colspan="2"><small><span class="space"> </span>{% trans "The fields marked with"%} <span class="mandatory">*</span> {% trans "are required"%}</small></td>
		    </tr>
			<tr>
				<td colspan="2" align="center">
				  <br />
		          <input type="reset" id="BtnClear" value="{% trans "Reset"%}" class="button" />
		          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		          <input type="submit" id="BtnSubmit" value="{% trans "Submit"%}" class="button" />
				</td>
			</tr>


	      </table>
		  <hr />
		</div>
	</form>
    {% endif %}
	<br />
	<br />
	{% include "main/banner_103.html" %}
  </div><!--//.node-->
</div><!--//.node-container-->

<script>
    Array.prototype.hasObject = (
      !Array.indexOf ? function (o)
      {
        var l = this.length + 1;
        while (l -= 1)
        {
            if (this[l - 1] === o)
            {
                return true;
            }
        }
        return false;
      } : function (o)
      {
        return (this.indexOf(o) !== -1);
      }
    );
	$(document).ready(function () {
		$('#addform input[type=reset]').click(function(){
			$(':input','#addform')
			 .not(':button, :submit, :reset, :hidden')
			 .val('')
			 .removeAttr('checked')
			 .removeAttr('selected');
			 return false;	
		});

        //Changed format
        $(".calendar input").datepicker({
            showOn          : "button",
            buttonImage     : "/media/images/icons/calendar.jpg",
            buttonImageOnly : true,
            dateFormat      : "dd/mm/yy"
        });


    })
</script>

{% endblock %}
