{% load i18n %}
{% load openx %}
{% load gplus %}
{% load facebook twitter%}
<div class="node gente bb-none encap">
	<div class="wrapper encap">
	  <div class="c75l">
	  	<h2 class="title"><a href="{%url people_details slug=photo.event.slug%}">{{photo.event.title}}</a></h2>
	    <span class="submitted">
			{%if photo.event and photo.event.city%}{{photo.event.city}} {%endif%}{{photo.datetime_added|date:"d.m.y"}}

            {%if photo.event and photo.event.location%}
                <span>&nbsp;|&nbsp;</span>
                <a class="author-link" href="{{photo.event.location.get_absolute_url}}">
                    {{photo.event.location.title}}
                </a>
            {%else%}
                <span>&nbsp;|&nbsp;</span>
                {% trans "Other"%}
            {%endif%}


		</span>
	  </div><!--//.c75l-->
	  <div class="c20r txt-right mt15 outnone">
	    
	  </div><!--//.c20l-->
	</div><!--//.wrapper-->

	<div class="image-navigations encap outnone">
	  <a href="{% url people_slider photo.event.slug photo.get_prev.id %}?resetCache" class="gente-prev" title="{% trans "Previous image"%}"><span class="hidden">{% trans "Previous"%}</span></a>
	  <a href="{% url people_slider photo.event.slug photo.get_next.id %}?resetCache" class="gente-next" title="{% trans "Next image"%}"><span class="hidden">{% trans "Next"%}</span></a>
	</div>
	<div class="images-preview outnone" style="min-height:150px">
	  <ul class="image-teaser-slides encap">
	    <li>
            <img src="{{photo.fullwidth.url}}"/>
		</li>
	  </ul><!--//.image-teaser-slides-->
	</div><!--//.images-preview-->
    <h6>{{photo.description}}</h6>
	<div class="photos-share-options">
		<ul class="teaser-options encap outnone fcml0 lcmr0">
			<li class="pl0">
				<a href="{{photo.get_absolute_url}}#disqus_thread" class="socializer-1 with-comment-count">
					<span>{%facebook_comments_count photo.get_absolute_url%}</span>
				</a>
			</li>
			<li>
				{% facebook_like photo.get_absolute_url 50%}
			</li>
			<li>
				{% twitter_share photo.get_absolute_url photo.description%}
			</li>
            <li>
				{% gplus photo.get_absolute_url%}
			</li>
			<li class="br-none">
				<a href="{%url people_details slug=photo.event.slug%}" class="decou me-gusta">{% trans "All photos"%}</a>
			</li>
		</ul><!--//.teaser-options-->
	</div>
    
	{% include "main/banner_103.html" %}
	<div class="encap" id="disqus_thread">
		{%facebook_comments photo.get_absolute_url%}
	</div>
</div><!--//.node-->