{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "People | Rumbacaracas" %}{% if photo %} | {{ photo.description }}{% endif %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load openx %}
{% load widgets %}


{% if photo %}
    {% block fbmeta %}
        <meta property="og:title" content="{{ photo.description }}"/>
        <meta property="og:image" content="{{ photo.thumb.url }}"/>
        <meta property="og:url" content="{% value_from_settings "FULL_BASE_URL" %}{{ photo.get_absolute_url }}"/>
        <meta property="og:type" content="article" />
    {% endblock %}
{% endif %}

{% block sattelite %}{% banner_zone_overflow 121 %}{% endblock %}

{% block corner %}{{block.super}}{% endblock %}

{% block colleft %}


<div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title">{% trans "People"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        	<li><a class="socializer-8 publish-event" href="{% url event_add %}"><span>{% trans "Add event"%}</span></a></li>
      	</ul>
    </span>
  </div><!--//.title-wrap-->
  <div  id="details-node">
  	{% include "people/slider_node.html" with show_img="1" %}
  </div>
</div><!--//.node-container-->
<script>
	$(document).ready(function () {
		 $('.gente-prev').live('click', function(){
		 	$.doTimeout( 'loop', false );
		 	var addr = $(this).attr('href');
		 	window.gourl = addr;
		 	$('.images-preview ul').hide('slide', {direction: 'right'}, 500, function(){
			 	$('#details-node').load(addr,function(){
			 		$('.images-preview ul').show('slide', {direction: 'left'}, 500);
                     FB.XFBML.parse(document.getElementById('details-node'));
                     $.ajax({ url: 'http://platform.twitter.com/widgets.js', dataType: 'script', cache:true});
                     gapi.plusone.go(document.getElementById('details-node'));
                     $('.opnx_banner').each(function(idx, el){
                        $(el).attr("src", $(el).attr("src"));
                    });
                    $.doTimeout( 'loop', 500, function(){reloadBanners();});
			 	});	
		 	});
		 	
		 	return false;
		 });
        $('.gente-next').live('click', function() {
        	$.doTimeout( 'loop', false );
            var addr = $(this).attr('href');
            window.gourl = addr;
            $('.images-preview ul').hide('slide', {direction: 'left'}, 500, function() {
                $('#details-node').load(addr, function() {
                    $('.images-preview ul').show('slide', {direction: 'right'}, 500);
                    FB.XFBML.parse(document.getElementById('details-node'));
                    $.ajax({ url: 'http://platform.twitter.com/widgets.js', dataType: 'script', cache:true});
                    gapi.plusone.go(document.getElementById('details-node'));
                    $('.opnx_banner').each(function(idx, el) {
                        $(el).attr("src", $(el).attr("src"));
                    });
                    $.doTimeout( 'loop', 500, function(){reloadBanners();});
                });
            });
            
            return false;
        });
		$('.image-teaser-slides img').live('mouseover',
			function(){
				$(this).css("border-color","#F16000");
			}
		);
		$('.image-teaser-slides img').live('mouseout',
			function() {
				$(this).css("border-color","#898989");
			}	
		)
	})
</script>
{% endblock %}


{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% revive_banner 9 300 250 "a72c0636" %}
    </div><!--//.banner-container-->

    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>

    <div class="banner-container box-shadows outnone widget">
        {% revive_banner 10 300 250 "a796f138" %}
    </div><!--//.banner-container-->
    {% subscribe_block %}

    <div class="split-sidebars encap">
      <div class="c57l left">
        {% people_list %}
        {% art_culture_block %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 118 120 60 %}
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 119 120 240 %}
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
            {% banner_zone_iframe 115 120 600 %}
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}


