{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Magazine | Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load paging %}
{% load widgets %}
{% load openx %}
{% load listtools %}
{% load facebook twitter %}


{% block breadcrumbs %}
    <a href="/">{% trans "Home" %}</a>
    <span>&nbsp;→&nbsp;</span>
    <a class="active" href="{% url magazine_main %}">{% trans "Magazine" %}</a>
{% endblock %}

{% block colleft %}
    <div class="node-container guia-impressa box-shadows encap">
    <div class="title-wrap encap">
        <span class="flt-left"><h2 class="title">{% trans "Magazine"%}</h2></span>
            <span class="flt-right">
              <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
              </ul>
            </span>
    </div><!--//.title-wrap-->
    <div class="node encap">
        <div class="printed-guide">
            <div class="edition encap">
                <h2 class="title">{% trans "Last Edition" %}</h2>
                <div class="current-edition c35l outnone">
                    <!--Empieza fotosguia, aqui va el embedded code de Issuu-->
                    {% if last_magazine_issuu_code %}
                    <div id="fotoguia">
                        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="width:188px;height:376px" id="18243ebe-a98c-6dd0-69f4-f306493a31e1" >
                            <param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;shareMenuEnabled=false&amp;documentId={{ last_magazine_issuu_code }}" />
                            <param name="allowfullscreen" value="true"/>
                            <param name="menu" value="false"/>
                            <param name="wmode" value="transparent"/>
                            <embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:188px;height:376px" flashvars="mode=mini&amp;shareMenuEnabled=false&amp;documentId={{ last_magazine_issuu_code }}" />
                        </object>
                    </div><!--Termina fotosguia, aqui va el embedded code de Issuu-->
                    {% endif %}
                </div><!--//.current-edition-->
                <div class="current-edition-desc c65r outnone">
                    {{ last_magazine_anotate }}
                </div><!--//.current-edition-desc-->
            </div><!--//.edition-->
			

			

    {% if albums|length > 0 %}
    <div class="recent-guides encap outnone edition" style="border-top: 1px dotted black;padding: 15px 0;margin-top: 15px">

        <h2 class="title">
            {% trans "Previous Editions" %}
            <select name="album_name" id="albums_list_options" style="position: relative; top: -3px; left: 20px;">
            {% for album in albums %}
                <option value="{{ album.folder.folderId }}"{% if default_album.folder.folderId == album.folder.folderId %} selected="selected"{% endif %}>{{ album.folder.name }}</option>
            {% endfor %}
            </select>
        </h2>

        <script type="text/javascript">
            $("#albums_list_options").change(function(event, element)
            {
                var albumId = $(this).val();
                var albumUrl = "http://static.issuu.com/widgets/shelf/index.html?folderId={album_id}&theme=theme3&rows=2&amp;thumbSize=medium&roundedCorners=false&showTitle=true&showAuthor=false&shadow=true&effect3d=true";
                albumUrl = albumUrl.replace('{album_id}', albumId);
                $('#bibliotecaguia > iframe')[0].src = albumUrl;
            });
        </script>

        <div id="bibliotecaguia">
            <iframe src="http://static.issuu.com/widgets/shelf/index.html?folderId={{ default_album.folder.folderId }}&amp;theme=theme3&amp;rows=2&amp;thumbSize=medium&amp;roundedCorners=false&amp;showTitle=true&amp;showAuthor=false&amp;shadow=true&amp;effect3d=true" width="100%" height="370" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div><!--termina biblioteca -->


    </div><!--//.recent-guides-->
    {% endif %}


    <div class="recent-guides encap outnone edition" style="border-top: 1px dotted black;padding: 15px 0;">
        <h2 class="title">
            {% trans "Notebook" %}
            <select name="notebook_name" id="notebooks_list_options" style="position: relative; top: -3px; left: 20px;">
            {% for notebook in notebooks %}
                <option value="{{ notebook.folder.folderId }}"{% if default_notebook.folder.folderId == notebook.folder.folderId %} selected="selected"{% endif %}>{{ notebook.folder.name }}</option>
            {% endfor %}
            </select>
        </h2>

        <script type="text/javascript">
            $("#notebooks_list_options").change(function(event, element)
            {
                var albumId = $(this).val();
                var albumUrl = "http://static.issuu.com/widgets/shelf/index.html?folderId={album_id}&theme=theme3&rows=2&amp;thumbSize=medium&roundedCorners=false&showTitle=true&showAuthor=false&shadow=true&effect3d=true";
                albumUrl = albumUrl.replace('{album_id}', albumId);
                $('#cuadernos > iframe')[0].src = albumUrl;
            });
        </script>

        <div id="cuadernos">
           <iframe src="http://static.issuu.com/widgets/shelf/index.html?folderId=f3f145cc-390f-4237-b659-6b58ac9a10f4&amp;theme=theme3&amp;rows=2&amp;thumbSize=medium&amp;roundedCorners=false&amp;showTitle=true&amp;showAuthor=true&amp;shadow=true&amp;effect3d=true" width="100%" height="370" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
        </div><!--termina cuaderno -->

    </div><!--//.recent-guides-->

    </div><!--//.printed-guide-->
    </div><!--//.node-->
    </div><!--//.node-container-->
{% endblock %}


{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 114 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>
    {% subscribe_block %}

    <div class="split-sidebars encap">
      <div class="c57l left">
        {% location_block %}
        {% art_culture_block %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 118 120 60 %}
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 119 120 240 %}
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
            {% banner_zone_iframe 115 120 600 %}
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}

