{% load i18n %}
{% load facebook_tags %}
{% load facebook %}
{% load twitter %}
{% load tools %}
{% load twitter_tags %}
{% load openx %}
{% load gplus %}
{% load widgets %}
{% load socialregistration_tags %}
{% load googlesearch_inclusion_tags %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %}</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <meta property="fb:app_id" content="195992407109917">
    <meta property="og:site_name" content="Rumbabogota.com"/>
    {% block fbmeta %}
        <meta property="og:title" content="Rumbabogota.com"/>
        <meta property="og:image" content="{% value_from_settings "FULL_BASE_URL" %}/media/images/logos/RB.png"/>
	{% endblock %}

	<link rel="shortcut icon" href="favicon.ico" />
	
	<link href="/media/css/base.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/media/css/typo.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/media/css/forms.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/media/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/media/css/jquery.lightbox-0.5.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/media/js/tip-darkgray/tip-darkgray.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/media/js/uniform/css/uniform.default.css" type="text/css" media="screen" charset="utf-8" />
	<link href="/media/css/addforms.css" rel="stylesheet" type="text/css" media="screen, projection" />

    <link type="text/css" href="/media/css/custom-ui-theme/jquery-ui-1.8.14.custom.css" rel="stylesheet" />


	<script type="text/javascript" src="/media/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="/media/js/menus.js"></script>
	<script type="text/javascript" src="/media/js/site.js"></script>
	<script type="text/javascript" src="/media/js/cycle.js"></script>
	
    <script type="text/javascript" src="/media/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script type="text/javascript" src="/media/js/jquery.ui.datepicker-es.js"></script>

    
    <script type="text/javascript" src="/media/js/jquery.lightbox-0.5.js"></script>
    <script src="/media/js/uniform/jquery.uniform.js" type="text/javascript"></script>
    
	<!--[if lte IE 6]><link href="/media/css/ie6fix.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE 7]><link href="/media/css/ie7fix.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE]><script defer="defer" type="text/javascript" src="/media/js/iefixes.js"></script><![endif]-->
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="/media/js/selectivizr.js"></script>
		<noscript><link rel="stylesheet" href="/media/css/ie-fallback.css" /></noscript>
	<![endif]-->

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24865295-1']);
      _gaq.push(['_setDomainName', '.rumbabogota.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</head>
<body class=" {% block advbodycls %}{% endblock %}">
	{% facebook_js_tag %}
	{% twitter_js_tag %}
  <div id="header-primary" class="header-primary no-deco outnone">
    <div class="container">
    	<div class="rows encap">

         <div class="sec-left flt-left">

          <ul class="top-menu-social">
		{% if request.user.is_authenticated %}
            {% if request.facebook and  request.facebook.uid%}
                <li class="greating_pic">
                    <fb:profile-pic uid="{{ request.facebook.uid }}" facebook-logo="true" linked="false" size="square" width="40" height="40"></fb:profile-pic>
                </li>
            {% endif %}
		    <li class="opcion0 greating">
                {% trans "Hello" %}<br />
                {% if request.facebook and  request.facebook.uid%}
                    <fb:name uid="{{ request.facebook.uid }}" linked="false" useyou="false"></fb:name>
                {% else %}
                    {% if request.user.first_name and  request.user.last_name%}
                        {{ request.user.first_name }} {{ request.user.last_name}}
                    {% else %}
                        {{ request.user.username }}
                    {% endif %}
                {% endif %}
            </li>
            <li class="sepL force-right">&nbsp;</li>
            <li class="opcion0 force-right">
                <a href="{% url social_logout %}" class="logout" onclick="javascript:FB.logout(function(response){ document.location = '{% url social_logout %}' })">
					{% trans "Logout" %}
				</a>
			</li>
		{% else %}
            <li class="btnfacebook1">{% facebook_button %}</li>
            <li class="opcion0"> {%trans "or"%} </li>
            <li class="btntwitter1">{% twitter_button %}</li>
            <li class="sepL">&nbsp;</li>
		{% endif %}            


          </ul>

          <ul id="top-menu-primary" class="top-menu-primary">

            <li>
              <a href="/">{% trans "Public" %}</a>
              <ul>
                <li><a class="publica-tus-eventos" href="/events/add">{% trans "Add Event" %}</a></li>
                <li><a class="sube-tus-fotos" href="/yourphotos/add">{% trans "Upload Your Photo" %}</a></li>
                <li><a class="publica-una-noticia" href="/news/add">{% trans "Add News" %}</a></li>
                <li><a class="envianos-tus-local" href="/locations/add">{% trans "Add Location" %}</a></li>
                <li><a class="monta-tus-videos" href="/videos/add">{% trans "Upload Video" %}</a></li>
                <li><a class="en-el-blog" href="/news/blog/add">{% trans "Add Article" %}</a></li>
              </ul>
            </li>

          </ul>
         </div><!--//.flt-left-->

        <div class="sec-right flt-right">
        	<ul class="encap flt-right fcml0 lcmr0">

            <li class="sepRpar">&nbsp;</li>
             <li class="sobre1"><a href="/subscribe" class="fotosobre1"></a></li>
          	<li class="newsletter-subscribe"><a href="/subscribe">E-RUMBA<br /><span>{% trans "subscription" %}</span></a></li>
           	<li class="sepB">&nbsp;</li>
            <li class="siguenosft">{%trans "Follow:"%}</li>
            
			<!-- http://twitter.com/about/resources/followbutton -->
            
          	<li class="social-freak"><a class="facebook-fanpage" href="http://www.facebook.com/rumbabogotacom" target="_blank"><span class="hidden">{% trans "Follow us on Facebook"%}</span></a></li>
            <li class="social-freak"><a class="twitter-page" href="http://twitter.com/#!/rumbabogota" target="_blank"><span class="hidden">{% trans "Follow us on Twitter"%}</span></a></li>
            

            <li class="sepBL">&nbsp;</li>
            <li class="top-search-form">
            	{% googlesearch_input %}
			</li>

          </ul>
        </div><!--//.flt-right-->
      </div><!--//.rows-->
    </div><!--//.container-->
  </div><!--//.header-primary-->
  <div class="container encap">
    <div id="header-secondary" class="header-secondary encap">
      <div class="date c14l txt-right mr10">
        <h2>
          <p class="week fp24">{% now "l" %}</p>
          <p class="day fp29">{% now "j" %}</p>
          <p class="month fp13">{% now "F" %}</p>
          <p class="year fp13">{% now "Y" %}</p>
         </h2>
      </div><!--//.date-->
      <div class="banner-container txt-right outnone" align="right">
          {% banner_zone_iframe 99 800 100 %}
	</div><!--//.banner-container-->
      <br class="cflt" />
    </div><!--//.header-secondary-->
    <div id="header-tertiary" class="header-tertiary encap">
    	<div class="rumba-logo outnone c25l">
      	<h1><a href="/" title="{% trans "Rumbabogota Home"%}"><img src="/media/images/rb_logo.png" alt="Rumbabogota.com" /></a><span>El sitio de todas las rumbas</span></h1>
      </div><!--//.logo-->
      <div id="top-menus-wrapper" class="top-menus-wrapper outnone c75r">
      	<ul id="top-menu-secondary" class="top-menu-secondary flt-right encap fcpl0 lcpr0">
        	<li><a href="/videos">{% trans "Videos" %}</a></li>
          <li><a href="/news/categories/blog">{% trans "Blog"%}</a></li>
        	<li class="medios">
                <a href="#">{% trans "Media" %}</a>
                <ul>
                  <li><a href="/about/products/web">{% trans "Web" %}</a></li>
                  <li><a href="/about/products/newsletter">{% trans "Newsletter" %}</a></li>
                  <li><a href="/magazine">{% trans "Printed Editions" %}</a></li>
                  <li><a href="/about/products/events">{% trans "Events" %}</a></li>
                </ul>
       	  </li>
      	  <li><a href="/about">{% trans "About Us" %}</a></li>
      	</ul>
        <div class="cflt"></div>
      	<ul id="top-menu-tertiary" class="top-menu-tertiary flt-right encap">
        	<li class="calendario">
            <h3><a href="/events">{% trans "Events"%}</a></h3>
            <ul>
              <li><a href="/events/by-category/day">{% trans "For Today"%}</a></li>
              <li><a href="/events/by-category/tomorrow">{% trans "For Tomorrow"%}</a></li>
              <li><a href="/events/by-category/week">{% trans "For a Week"%}</a></li>
              <li><a href="/events/by-category/month">{% trans "For a Month"%}</a></li>
            </ul>
          </li>
      	  <li class="secciones">

          	<h3><a href="/locations/">{% trans "Location" %}</a></h3>
            {% show_location_menu %}
          </li>
        	<li class="fotos">
          	<h3><a href="#">{%trans "Fotos"%}</a></h3>
            <ul>
              <li><a href="/people">{%trans "People & Events"%}</a></li>
              <li><a href="/yourphotos">{% trans "Your photos"%}</a></li>
            </ul>
          </li>
          <li class="noticias">
          	<h3><a href="/news">{% trans "News" %}</a></h3>
            <ul>
              <li><a href="/news/categories/rumba-news">{% trans "Rumba News" %}</a></li>
            <li><a href="/news/categories/music-news">{% trans "Music News" %}</a></li>
            <li><a href="/news/categories/news">{% trans "Actual" %}</a></li>
            <li><a href="/news/categories/interviews">{% trans "Interviews" %}</a></li>
            <li><a href="/news/categories/dj-mix">{% trans "Dj Mix" %}</a></li>
            </ul>
          </li>
      	</ul>
      </div><!--//.top-menus-wrapper-->
      <br class="cflt" />
    </div><!--//.header-tertiary-->
    {{br}}
    <div class="breadcrumb">
	{% block breadcrumbs %}
    	{% for breadcrumb in request.breadcrumbs %}
    		{% if forloop.last %}
    			<a class="active" href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
    		{% else %}
    			<a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a><span>&nbsp;→&nbsp;</span>
    		{% endif %}
		{% endfor %}
	{% endblock %}
    </div>
    <div id="main-contents" class="main-contents encap">
    	<div id="col-left" class="col-left">
			{% block colleft %}{% endblock %}
      	</div><!--//.col-left-->
	  <div id="col-right" class="col-right">
        {% block colright %}
            <div class="banner-container box-shadows outnone widget">
                {% banner_zone_iframe 100 300 250%}
            </div><!--//.banner-container-->
            <div class="clear-block block block-views widget widget-calendar">
                {% month_cal%}
            </div>
        {% endblock %}
      </div><!--//.col-left-->
    	<br class="cflt" />
    </div><!--//.main-contents-->
    <div id="footer-primary" class="footer-primary box-shadows">
      <div class="banner-container outnone">
        {% banner_zone_iframe 99 800 100 %}
      </div><!--//.banner-container-->
    </div><!--//.footer-primary-->
    <div id="footer-secondary" class="footer-secondary">
      <div class="footer-links encap equal-width">
        <div class="c16_6l">
          <h2>{% trans "Events"%}</h2>
          <ul>
          	<li><a href="/events/by-category/day">{% trans "For Today"%}</a></li>
            <li><a href="/events/by-category/tomorrow">{% trans "For Tomorrow"%}</a></li>
            <li><a href="/events/by-category/week">{% trans "For a Week"%}</a></li>
            <li><a href="/events/by-category/month">{% trans "For a Month"%}</a></li>
          </ul>
        </div>
        <div class="c16_6l">
            <h2>{% trans "Locations" %}</h2>
          {% show_location_menu %}
        </div>
        <div class="c16_6l">
          <h2>{% trans "Content" %}</h2>
          <ul>
            <li><a href="/people">{% trans "Photos" %}</a></li>
            <li><a href="/yourphotos">{% trans "Your photos" %}</a></li>
            <li><a href="/videos">{%  trans "Videos" %}</a></li>
            <li><a href="/news/categories/blog">{% trans "Blog" %}</a></li>
          </ul>
        </div>
        <div class="c16_6l">
          <h2>{% trans "News" %}</h2>
          <ul>
            <li><a href="/news/categories/rumba-news">{% trans "Rumba News" %}</a></li>
            <li><a href="/news/categories/music-news">{% trans "Music News" %}</a></li>
            <li><a href="/news/categories/news">{% trans "Actual" %}</a></li>
            <li><a href="/news/categories/interviews">{% trans "Interviews" %}</a></li>
            <li><a href="/news/categories/dj-mix">{% trans "Dj Mix" %}</a></li>
          </ul>
        </div>
        <div class="c16_6l">
          <h2>{% trans "Media" %}</h2>
          <ul>
              <li><a href="/about/products/web">{% trans "Web" %}</a></li>
              <li><a href="/about/products/newsletter">{% trans "Newsletter" %}</a></li>
              <li><a href="/magazine">{% trans "Printed Editions" %}</a></li>
              <li><a href="/about/products/events">{% trans "Events" %}</a></li>
          </ul>
        </div>
        <div class="c16_6r">
          <h2>{% trans "About Us" %}</h2>
          <ul>
            <li><a href="/about/products">{% trans "Products" %}</a></li>
            <li><a href="/about/partners">{% trans "Partners" %}</a></li>
            <li><a href="/about/contacts">{% trans "Contacts" %}</a></li>
          </ul>
        </div>
      </div><!--//.footer-links-->
    </div><!--//.footer-secondary-->

    <div id="footer-tertiary">
      <span class="txt-left">
        <a href="/"><img src="/media/images/logos/RB.png" width="100" alt="" title="" /></a>
        <a href="http://www.rumbacaracas.com/" target="_blank"><img src="/media/images/logos/RC.png" width="100" alt="" title="" /></a>
        <a href="http://www.rumbavenezuela.com/" target="_blank"><img src="/media/images/logos/RV.png" width="100" alt="" title="" /></a>
        <a href="http://www.rumbamiami.com" target="_blank"><img src="/media/images/logos/RM.png" width="100" alt="" title="" /></a>
      </span>

      <span class="txt-right">
        <p><span class="uppercase">Rumbabogota.com</span>, C.A. &copy; 2009-{% now "Y" %} Todos los Derechos Reservados<br /><a href="/terms_of_use">{% trans "Terms of Use" %}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="mailto:rumba@rumbabogota.com">rumba@rumbabogota.com</a></p>
      </span>
    </div><!--//.footer-tertiary-->
  </div><!--//.container-->
  
<script>
	$(document).ready(function () {
		jQuery("#footer-tertiary .txt-left img").mouseover(function( )
		{
			$(this).attr("src", $(this).attr("src").replace(".png", "_on.png"));
		});
		
		jQuery("#footer-tertiary .txt-left img").mouseout(function( )
		{
			$(this).attr("src", $(this).attr("src").replace("_on.png", ".png"));
		});
	})
</script>

{% gplus_js_tag %}

</body>
</html>