{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login| Rumbabogota" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load openx %}
{% block colleft %}
<div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title addphotohdr">{% trans "Login"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node gente bb-none encap">
	<br />
  	<p>{% trans 'You should be logged in to perform this operation. Click "Connect with Facebook" or "Connect with twitter" to log in.'%}</p>
  </div><!--//.node-->
</div><!--//.node-container-->
{% endblock %}
