<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="refresh" content="30;URL=http://www.rumbacaracas.com" />
<title>Rumbacaracas.com | El Sitio de Todas las Rumbas</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>

    <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-801353-1']);
    _gaq.push(['_setDomainName', '.rumbacaracas.com']);
    _gaq.push(['_trackPageview']);

    var realreferrer = $.cookie("realreferrer");
    if (realreferrer) {
        $.cookie('realreferrer', null);
        _gaq.push(['_setReferrerOverride', realreferrer ]);
    }

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();


    </script>
   <link rel="stylesheet" href="http://media.rumbacaracas.com/CACHE/css/79e4414ee196.css" type="text/css" media="screen, projection" />
<style type="text/css">
.contenedor{

width: 1000px;
height: 650px;
left: 50%;
top: 50%;
margin-left: -500px;
margin-top: -325px;
position: absolute;
text-align: center;
vertical-align: middle;
}
</style>   
</head>

<body>
<div class="contenedor"><a href="http://www.rumbacaracas.com"><b>Saltar Publicidad</b></a><br /><br /><script type='text/javascript'><!--//<![CDATA[
   var m3_u = (location.protocol=='https:'?'https://ads.2rumba.com/www/delivery/ajs.php':'http://ads.2rumba.com/www/delivery/ajs.php');
   var m3_r = Math.floor(Math.random()*99999999999);
   if (!document.MAX_used) document.MAX_used = ',';
   document.write ("<scr"+"ipt type='text/javascript' src='"+m3_u);
   document.write ("?zoneid=50");
   document.write ('&amp;cb=' + m3_r);
   if (document.MAX_used != ',') document.write ("&amp;exclude=" + document.MAX_used);
   document.write (document.charset ? '&amp;charset='+document.charset : (document.characterSet ? '&amp;charset='+document.characterSet : ''));
   document.write ("&amp;loc=" + escape(window.location));
   if (document.referrer) document.write ("&amp;referer=" + escape(document.referrer));
   if (document.context) document.write ("&context=" + escape(document.context));
   if (document.mmm_fo) document.write ("&amp;mmm_fo=1");
   document.write ("'><\/scr"+"ipt>");
//]]>--></script>
</div>
</body>
</html>
