{% load openx %}
{% load i18n %}
{% load zinnia_tags %}
{% load erumba %}
{% load tools %}

<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#FFFFFF'>
<style type="text/css">
body{
	background: url({{ STATIC_URL }}images/bg_body.jpg) repeat !important;
	font-size:12px;
	font-weight:normal;
	margin: 0;
	padding: 0;
	color:#4A4A4A;
	font-family:Arial, Helvetica, sans-serif;"
}
a, a:link, a:visited{
	color: #F06000 !important;
	outline: none !important;
	text-decoration: none !important;
	font-size: 12px;
}
h2{
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 20px !important;
	font-weight: bold !important;
	color: #F06000 !important;
	border-bottom: 1px dotted #9F9F9F !important;
	padding: 0 0 10px !important;
}
h3{
	color: #898989 !important;
	font-size: 22px !important;
	position: relative !important;
	text-transform: uppercase !important;
	top: 6px !important;
	z-index: 10 !important;
	margin: 0;
}
h4{
	font-size:18px !important;
	font-weight:normal !important;
	color:#000000 !important;
	text-decoration:none !important;
	padding: 0 0 10px !important;
	border-bottom: 1px solid #A3A3A3 !important;
	margin: 0 0 10px !important;
	text-transform: uppercase !important;
}
</style>
<table width="100%" cellpadding="0" cellspacing="0" background="{% value_from_settings "STATIC_URL" %}images/bg_body.jpg" style="padding: 25px 0 0 0;">
  <tr>
    <td>
      <table width="890px" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <div style="width: 890px; overflow: hidden">
                <table width="890px" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        {# Logo #}
                        <td width="270" rowspan="4">
                          <img src="{% value_from_settings "STATIC_URL" %}images/rb_logo.png" alt="newsletter logo" width="225px" height="119px" hspace="0" vspace="0" border="0" align="middle" style="display:block; margin-top: 30px;" />
                        </td>
                    </tr>
                    <tr>
                        <td align="left" width="350" height="50px" style="font-size:48px; margin-top:20px;"> E-rumba&nbsp;<strong style="font-weight:bold; color:#F06000; font-size:12px;">Del {{ from_date|date:"d M" }} al {{ to_date|date:"d M" }}</strong> </td>
                        <td align="left" width="150" height="50px">&nbsp;</td>
                        <td align="right" width="250" height="50px"><img src="{% value_from_settings "STATIC_URL" %}images/abrir.jpg" alt="newsletter logo" width="199px" height="29px" hspace="0" vspace="0" border="0" align="middle" style="display:block; margin-top: 50px;" /></td>
                    </tr>
                    <tr>
                        <td colspan="3" height="30px"><img src="{% value_from_settings "STATIC_URL" %}images/fade_bar.gif" alt="newsletter logo" height="6px" hspace="0" vspace="0" border="0" align="middle" style="display:block;" /> </td>
                    </tr>
                    <tr>
                        <td colspan="3" height="25px">
                            <table align="center" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td width="300px" style="color:#3B5998; font-size:11px;" height="25px"  align="right" ><strong>rumbacaracas</strong> on Facebook </td>
                                    <td width="100px" align="right"><a href="http://www.facebook.com/rumbacaracas" target="_blank"><img src="{% value_from_settings "STATIC_URL" %}images/me.jpg" alt="newsletter logo" width="78px" height="23px" hspace="0" vspace="0" border="0" style="display:block;" /></a></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
          </td>
        </tr>
        <tr>
          <td height="50px"></td>
        </tr>
			</table>
			<table width="890px" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td width="570px" style="vertical-align: top;">
          	<table cellpadding="0" cellspacing="0" border="0" width="570px" style="border: 1px solid #EBEDEC; background:#FFFFFF; box-shadow: 2px 3px 3px #A6A8A8;-moz-box-shadow: 2px 3px 3px #A6A8A8;-webkit-box-shadow: 2px 3px 3px #A6A8A8;filter:progid:DXImageTransform.Microsoft.dropShadow(color=#A6A8A8, offX=2, offY=2, positive=true);">
              <tr>
                <td colspan="3" style="background-color:#CD2222;" height="05px"></td>
              </tr>
              <tr>
                <td colspan="3" height="20px"></td>
              </tr>
              <tr>
                <td colspan="3" height="200px" align="center">
                  {% banner_zone_email 107 %}
                </td>
              </tr>
              <tr>
                <td colspan="3" height="20px"></td>
              </tr>
              <tr>
                <td colspan="3" align="left" style="padding: 0 22px 0 25px"><h2 style="font-family:Arial, Helvetica, sans-serif !important;font-size:20px !important;font-weight:bold !important;color:#F06000 !important;border-bottom:1px dotted #9F9F9F !important;padding:0 0 10px !important;">{% trans "Upcoming Events" %}</h2></td>
              </tr>
              {% upcoming_events from_date to_date %}
              <tr>
                <td colspan="3" height="200px" style="border-top: 1px dotted #9F9F9F !important;border-bottom: 1px dotted #9F9F9F !important; padding: 20px 0;" align="center">
                  {% banner_zone_email 109 %}
                </td>
              </tr>
              <tr>
                <td colspan="3" height="30px"></td>
              </tr>
            </table>
          </td>
          <td width="20px">&nbsp;</td>
          <td width="300px" valign="top">
            <table cellpadding="0" cellspacing="0" border="0" width="300px" align="center">
              {% latests_photos %}
              <tr>
                <td style="border: 1px solid #EBEDEC; background:#FFFFFF; box-shadow: 2px 3px 3px #A6A8A8;-moz-box-shadow: 2px 3px 3px #A6A8A8;-webkit-box-shadow: 2px 3px 3px #A6A8A8;filter:progid:DXImageTransform.Microsoft.dropShadow(color=#A6A8A8, offX=2, offY=2, positive=true);">
                	{% banner_zone_email 110 %}
                </td>
              </tr>
              {% get_recent_entries 4 "erumba/tags/last_news.html" %}
              {% last_yourphotos 1 %}
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3" height="50px"></td>
        </tr>
        <tr>
          <td align="center" colspan="3" style="font-size: 11px; line-height: 18px; font-family: Arial;">
						<a href="{% value_from_settings "FULL_BASE_URL" %}" style="font-size:11px; font-weight:normal; color:#F06000; text-decoration:none;">Rumbacaracas.com</a> , C.A. &copy; 1999 - 2009. Todos los Derechos Reservado<br />
            Cont&aacute;ctenos: <a href="mailto:rumba@rumbacaracas.com" style="font-size:11px; font-weight:normal; color:#F06000; text-decoration:none;">rumba@rumbacaracas.com</a><br />
            Este sistema de env&iacute;o de emails debe ser utilizado &uacute;nicamente para aquellas correos registrados en nuestra p&aacute;gina web <a href="{% value_from_settings "FULL_BASE_URL" %}/" style="font-size:11px; font-weight:normal; color:#F06000; text-decoration:none;">rumbacaracas.com</a><br />
            <br />
            Si no desea recibir m&aacute;s nuestro E-rumba, [unsuscribe]Haz click aqu&iacute;[/unsuscribe]</td>
        </tr>
        <tr>
          <td colspan="3" height="50px"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
