{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Locations | Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load openx %}
{% block colleft %}
<div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">

    <span class="flt-left"><h2 class="title addlocationhdr">{% trans "Add Location"%}</h2></span>
    <span class="flt-right">
	  <img src="{{ STATIC_URL }}images/logo.png" width="76" height="40" vspace="6" alt="" title="" />
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node gente bb-none encap" id="add-form">
	<br />
  	{% if completed %}<h2>{% trans "Your photos successfully uploaded and will be reviewed shortly!"%}</h2>{% endif %}
	<h2>{% trans "Submit Your Location:"%}</h2>
    {% if form.non_field_errors %}
        <div id="form-error">
            {% trans "The operation could not be performed because one or more error(s) occurred.<br />Please resubmit the form after review the following errors:" %}
            {{ form.non_field_errors }}
        </div>
    {% endif %}
  	<form enctype="multipart/form-data" method="post" action="" id="addform">
    	{% csrf_token %}
		<div>
	      <table border="0" cellpadding="7" cellspacing="0" width="100%">
	        {% for field in form %}

				{% if field.name == 'owner' %}
					<tr>
						<td colspan="2"><h2 class="red">{%trans "Contact Information"%}</h2></td>
					</tr>
				{% endif %}

				{% if field.name == 'description' %}
				  	<tr>
				    	<td colspan="2">
                            <span class="mandatory">*</span>
							{{ field.label_tag }}
							{% if field.errors %}	
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
			      	</tr>
				  	<tr>
				        <td colspan="2">{{ field }}</td>
			      	</tr>
				{% else %}
				{% if field.name == 'phone_1' %}
					<tr>
						<td width="250">
							{% if field.field.required %}
								<span class="mandatory">*</span>
							{% else %}
								<span class="space"></span>
							{% endif %}
							{{ field.label_tag }}
							{% if field.errors %}
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
						<td class="textbox"><span class="phone">{{ field }}</span>&nbsp; 
							{% if not errors%}<a href="#" onclick="$('#Phone2').show('blind'); $(this).remove( ); return false;">{% trans "Add other"%}</a>{%endif%}
						</td>
		        	</tr>
				{% else %}
				{% if field.name == 'area' %}
					<tr>
						<td width="250">
                            <span class="mandatory">*</span>
							<span class="citytext">{% trans "City" %} / </span>{{ field.label_tag }}
							{% if field.errors %}
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
						<td class="textbox"><span class="citytext">Caracas / </span>{{ field }}</td>
                    </tr>
				{% else %}
				{% if field.name == 'phone_2' %}
					<tr id="Phone2" {% if not errors%}style="display:none;"{%endif%}>
						<td width="250">
							{% if field.field.required %}
								<span class="mandatory">*</span>
							{% else %}
								<span class="space"></span>
							{% endif %}
							{{ field.label_tag }}
							{% if field.errors %}
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
						<td class="textbox"><span class="phone">{{ field }}</span></td>
		        	</tr>
				{% else %}
					<tr  {% if field.name == 'restaurant' and not field.errors %}style="display: none;" class="hidden_restaurant" {% endif %}>
						<td width="250">
							{% if field.field.required or field.name == 'restaurant' or field.name == 'address' or field.name == 'hours_of_operation' or field.name == 'days_of_operation' or field.name == 'music' or field.name == 'image_logo' %}
								<span class="mandatory">*</span>
							{% else %}
								<span class="space"></span>
							{% endif %}
							{{ field.label_tag }}
							{% if field.errors %}
					        		<br/>{{ field.errors }}
				        	{% endif%}
						</td>
						<td class="textbox">{{ field }}</td>
		        	</tr>
				{% endif %}
				{% endif %}
                {% endif %}
				{% endif %}
			{% endfor %}
			<tr>
		        <td colspan="2"><small><span class="space"> </span>{% trans "The fields marked with"%} <span class="mandatory">*</span> {% trans "are required"%}</small></td>
		    </tr>
			<tr>
				<td colspan="2" align="center">
				  <br />
		          <input type="reset" id="BtnClear" value="{% trans "Reset"%}" class="button" />
		          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		          <input type="submit" id="BtnSubmit" value="{% trans "Submit"%}" class="button" />
				</td>
			</tr>


	      </table>
		  <hr />
		</div>
	</form>
	<br />
	<br />
	{% include "main/banner_103.html" %}
  </div><!--//.node-->
</div><!--//.node-container-->

<script>
    Array.prototype.hasObject = (
      !Array.indexOf ? function (o)
      {
        var l = this.length + 1;
        while (l -= 1)
        {
            if (this[l - 1] === o)
            {
                return true;
            }
        }
        return false;
      } : function (o)
      {
        return (this.indexOf(o) !== -1);
      }
    );
	$(document).ready(function () {
		$('#addform input[type=reset]').click(function(){
			$(':input','#addform')
			 .not(':button, :submit, :reset, :hidden')
			 .val('')
			 .removeAttr('checked')
			 .removeAttr('selected');
			 return false;	
		});

        function renderRestaurant(element){
            var selected = $(element).val();
            // #TODO Remove Magic number
            if(selected && selected.hasObject('11')) {
                $('#addform .hidden_restaurant').show();
            } else {
                $('#addform .hidden_restaurant').hide();
                $('#addform .hidden_restaurant select').val('');
            }
        }
        $('#addform #id_type').change(function() {
            renderRestaurant(this);
        });
        renderRestaurant($('#addform #id_type').get(0));
	})
</script>

{% endblock %}
