{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Locations | Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load facebook %}
{% load paging %}
{% load cache %}

{% block advbodycls %}section-videos{% endblock %}

{% block colleft %}
<div class="node-container videos box-shadows encap"> 
  <div class="title-wrap encap"> 
    <span class="flt-left"><h2 class="title">{{group_name}}</h2></span>
    <span class="flt-right"> 
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0"> 
      </ul> 
    </span> 
  </div><!--//.title-wrap--> 
  <div class="node bb-none encap">
      <table class="event-filters ptb8" width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top: 20px;">
          <tbody>
            <tr>
              <td  align="left" style="width: 120px;">
                <label for="locations-list">{% trans "List of all locations"%}:</label>
              </td>
              <td valign="middle" align="left" style="width: 300px;" colspan="2">
                <select name="locations-list" id="locations-list" style="width: 300px;">
                    {% cache 60 location_select_category group_name%}
                        <option value="">{% trans "Select a location"%}</option>
                        {% for location in all_locations %}
                            <option value="{{location.slug}}">{{location.title}}</option>
                        {% endfor %}
                    {% endcache %}
                </select>
              </td>
            </tr>
          </tbody>
        </table>

		<div class="photo-archives encap" style="border-top:none; margin-top:0px;"> 
			<div class="node-mini-left photos-mod" style="border-right: none;"> 
				<div class="encap"> 
					<ul class="photo-archives-list encap outnone"> 
                    {% for location in current_page.object_list %}
                        {% if forloop.counter0 and forloop.counter0|divisibleby:4 %}
                            <li style="clear: both; width:100%;padding: 0"></li>
                        {% endif %}
						<li> 
	                      <div class="photo-thumbnail">
							<a href="{% url location_details location.slug %}"><img alt="{{location.title}}" src="{{location.smallthumb.url}}"></a>
						  </div> 
	                      <div class="photo-details decou"> 
	                        <h6><a href="{% url location_details location.slug %}">{{location.title}}</a></h6>
	                        <span class="author-meta">{{location.description|truncate:70}}</span>
	                      </div><!--//.photo-details-->
	                    </li>
                     {% endfor %}
					</ul><!--//.photo-archives-list--> 
			</div><!--//.encap--> 
		</div><!--//.node-mini-left--> 
	</div><!--//.video-archives--> 

	{% if current_page.object_list%}
		{% common_paginator%}
	{% endif%}

  </div><!--//.node--> 
</div><!--//.node-container-->
<script>
	$(document).ready(function () {
		$('.photo-thumbnail img').live('mouseover',
			function(){
				$(this).css("border-color","#F16000");
			}
		);
		$('.photo-thumbnail img').live('mouseout',
			function() {
				$(this).css("border-color","#898989");
			}	
		)
	})
    $("#locations-list").change(function () {
        var slug = $("#locations-list").val();
        if (slug != '') {
            window.location.href = '{% url location_main %}'+ slug;
        }
    })


</script>
{% endblock %}

