{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Locales | Rumbabogota" %}{% endblock %}

{% load tools %}

{% block colleft %}
<div class="title-wrap encap">
	<span class="flt-left"><h2 class="title">{% trans "Locations"%}</h2></span>
	<span class="flt-right">
	  
	</span>
</div><!--//.title-wrap-->
{% if location %}
<div class="node locales-details encap">
<div class="node-mini-left c65l">
  <div class="contents">
    <h2>{{location.title}}</h2>
    <div class="locales-desc">
      <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
    	{% if location.type.all%}
          <tr>
            <td><strong>{% trans "Category"%}:</strong></td>
            <td>{{location.type.all|join:", "}}</td>
          </tr>
        {% endif %}
		{% if location.address%}
    	  <tr>
            <td><strong>{% trans "Address" %}:</strong></td>
            <td>{{location.address}}</td>
          </tr>
		{% endif %}
		{% if location.area or location.city%}
          <tr>
            <td><strong>{% trans "City"%}:</strong></td>
            <td>{% if location.city%}{{location.city}}, {% endif %}{% if location.area%}{{location.area.title}}{% endif %}
            	<span class="location-map outnone ml25">
            		<a href="http://map.google.es/maps?q={{location.address|add:" "|add:location.area|add:" "|add:location.city|urlencode }}">{% trans "Map"%}</a>
        		</span>
            </td>
          </tr>
        {% endif %}
		{% if location.phone_1%}          
          <tr>
            <td><strong>{% trans "Phone 1"%}:</strong></td>
            <td>{{location.phone_1}}</td>
          </tr>
        {% endif %}
		{% if location.phone_2%}          
          <tr>
            <td><strong>{% trans "Phone 2"%}:</strong></td>
            <td>{{location.phone_2}}</td>
          </tr>
        {% endif %}
		{% if location.url%}          
          <tr>
            <td><strong>{% trans "Web"%}:</strong></td>
            <td><a href="{{location.url}}">{{location.url}}</a></td>
          </tr>
        {% endif %}
		{% if location.email%}          
          <tr>
            <td><strong>{% trans "Email"%}:</strong></td>
            <td>{{location.email}}</td>
          </tr>
        {% endif %}
		{% if location.hours_of_operation%}          
          <tr>
            <td><strong>{% trans "Working hours"%}:</strong></td>
            <td>{{location.hours_of_operation}}</td>
          </tr>
        {% endif %}
		{% if location.restaurant.all%}
          <tr>
            <td><strong>{% trans "Restaurant"%}:</strong></td>
            <td>{{location.restaurant.all|join:", "}}</td>
          </tr>
        {% endif %}
        {% if location.music%}
          <tr>
            <td><strong>{% trans "Music type"%}:</strong></td>
            <td>{{location.music.title}}</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
      <div class="locales-contents">
      	{{location.description|linebreaks}}
      </div><!--//.event-contents-->
    </div><!--//.event-desc-->
  </div><!--//.contents-->
</div><!--//.node-mini-left-->
<div class="node-mini-right c32r">
  <div class="locales-info outnone">
    <div class="locales-image-teaser">
    	{% if location.image_logo%} 
      	<a class="image" href="{{location.image_logo.url}}"><img src="{{location.logo.url}}" /></a>
      	{% endif %}
    </div><!--//.event-image-teaser-->
  </div><!--//.event-info-->
</div><!--//.node-mini-right-->
</div><!--//.node-->

<script type="text/javascript" charset="utf-8">
	jQuery(document).ready(function(){
		$('div.locales-desc tr:odd').addClass('odd');
		$('div.locales-desc tr:even').addClass('even');		
	});
</script>



{% endif %}

<div class="tab-containers event-detail-filters">
	<table class="event-filters ptb8" width="100%" border="0" cellpadding="0" cellspacing="0">
	  <tbody>
	    <tr>
	      <td valign="middle" align="left" colspan="3">
	        <h3>{% trans "Find locations"%}</h3>
	      </td>
	    </tr>
	    <tr>
	      <td style="width: 120px;">
	        <label for="events-list">{% trans "List of all locations"%}:</label>
	      </td>
	      <td valign="middle" align="left" style="width: 300px;" colspan="2">
	        <select name="events-list" id="events-list" style="width: 300px;">
	        	<option value="">{% trans "Select a location"%}</option>
	        	{% for location in all_locations %}
	        		<option value="{{location.slug}}">{{location.title}}</option>
				{% endfor %}
	        </select>
	      </td>
	    </tr>
	  </tbody>
	</table>
	<div id="outline-briefs" class="outline-briefs eventos-outline">
	  <div class="outline-navigation">
	    <ul id="outline-titles" class="encap outnone">
	      <li{% if active_tab == "category" %} class="active"{% endif %}><a href="/locations/by-category">{% trans "By Category"%}</a><div {% if active_tab == "category" %}style="display: block"{% endif %} class="pointer-tip"></div></li>
	      <li{% if active_tab == "area" %} class="active"{% endif %}><a href="/locations/by-area">{% trans "By Area"%}</a><div {% if active_tab == "area" %}style="display: block"{% endif %} class="pointer-tip"></div></li>
	      <li{% if active_tab == "music" %} class="active"{% endif %}><a href="/locations/by-music">{% trans "By music"%}</a><div {% if active_tab == "music" %}style="display: block"{% endif %} class="pointer-tip"></div></li>
	      <li{% if active_tab == "food" %} class="active"{% endif %}><a href="/locations/by-food">{% trans "By Type of Food"%}</a><div {% if active_tab == "food" %}style="display: block"{% endif %} class="pointer-tip"></div></li>
	    </ul>
	  </div><!--//.outline-navigation-->
	</div><!--//#outline-briefs-->
	
	<div id="events-category-wrapper" class="events-category-wrapper outnone">
	<ul class="event-tab-contents">
		<li>
	      <div id="events-accordion" class="events-accordion encap">
	  		{% for group, locations_page, locations_paginator in groups %}
	        <a class="accordion-title" href="#"><span class="category-title">{{group}}</span><span class="status">&nbsp;</span></a>
	        <div class="local-listing encap">
	          <ul class="encap">
				{% for location in locations_page.object_list %}
					{% if forloop.counter = 4 %}
						</ul>
						<ul class="encap">	
					{% endif %}		
					<li class="location-preview">
		              <h4>
		              	<a href="/locations/{{location.slug}}">
		              		{% if location.image_logo %}
		              			<img src="{{ location.thumbnail.url }}" alt="{{location.title}}" />
	              			{% else %}
	              				<div class="empty encap"></div>
	              			{%endif%}
	              	  	</a>
	              	  </h4>
		              <h3 class="decou"><a href="/locations/{{location.slug}}">{{location.title}}</a></h3>
		              <p>{{location.description|truncate:70}}</p>
		            </li>
				{% endfor %}
			  </ul>
				{% locations_paginator 3 %}
			</div><!--//.local-listing-->
			{% endfor %}
		</div><!--//.events-accordion-->
		<script type="text/javascript" charset="utf-8">
			jQuery(document).ready(function(){
				jQuery('#main-contents .tab-containers .events-category-wrapper ul.event-tab-contents .events-accordion').accordion({
					header: 'a.accordion-title',
			      	fillSpace: false,
			      	autoheight: true
			    });
			    jQuery('#main-contents .tab-containers .events-category-wrapper ul.event-tab-contents .events-accordion').accordion(
			    	"activate", {{ active_group }}
		    	);
			});
		</script>
		</li>
	</ul><!--//.event-tab-contents-->
	</div><!--//.events-category-wrapper-->
</div><!--//.tab-containers-->

<script>
	$(document).ready(function () {
		$("#events-list").change(function () {
			var slug = $("#events-list").val();
			if (slug != '') {
				window.location.href = '/locations/'+ slug;	
			}
        })
	})
	
</script>

{% endblock %}

{% block colright %}
<div class="banner-container box-shadows outnone widget" style="width: 297px; height: 247px;">
          <a href="#"><img alt="Ads" src="/media/images/banners/banner_3.jpg" /></a>
</div><!--//.banner-container-->
{% endblock %}
