{% load socialregistration_tags %}
{% load tools %}
{% comment %}
<fb:login-button autologoutlink="true" scope="email,user_birthday,status_update,publish_stream"></fb:login-button>
{% endcomment %}

<form class="connect-button" name="login" method="post" action="{% if logged_in %}{% url facebook_connect %}{% else %}{% url facebook_login %}{% endif %}">
{% social_csrf_token %}
{% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
{% endif %}
<input type="image" class="btnfacebook" onclick="facebookConnect(this.form);return false;" src="{% value_from_settings "STATIC_URL" %}images/s.gif" />
</form>
