{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Login Error | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% block colleft %}
<div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left"><h2 class="title addphotohdr">{% trans "Login Error"%}</h2></span>
    <span class="flt-right">
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node gente bb-none encap">
	<br />
  	<p>{% trans "There is a error in facebook connect"%}</p>
  </div><!--//.node-->
</div><!--//.node-container-->

{% endblock %}
