{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Subscription | Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load openx %}
{% load socialregistration_tags %}
{% block colleft %}
<link type="text/css" rel="stylesheet" href="/media/css/jquery-ui.css" />
    <div class="node-container gente box-shadows encap">
  <div class="title-wrap encap">
    <span class="flt-left">
        <h2 class="title">
            {% trans "Subscription"%}
        </h2>
	</span>
    <span class="flt-right">
	  <img src="/media/images/logo.png" width="76" height="40" vspace="6" alt="" title="" />
      <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
      </ul>
    </span>
  </div><!--//.title-wrap-->
  <div class="node gente bb-none encap" id="add-form">
	    <br />
    	{% trans "Please provide additional information to complete Subscription"%}
            <form action="." method="post"  id="addform">
            {% social_csrf_token %}

            <div>
              <table border="0" cellpadding="7" cellspacing="0" width="100%">
                {% for field in form %}
                    <tr>
                        <td width="250">
                            {% if field.field.required %}
								<span class="mandatory">*</span>
							{% else %}
								<span class="space"></span>
							{% endif %}
                            {{ field.label_tag }}
                            {% if field.errors %}
                                    <br/>{{ field.errors }}
                            {% endif%}
                        </td>
                        <td class="textbox">
                            {% if field.name == 'birthday' %}
                                <span class="calendar">
                                    {{ field }}
                                </span>
                            {% else %}
                                {{ field }}
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="2"><small><span class="space"> </span>{% trans "The fields marked with"%} <span class="mandatory">*</span> {% trans "are required"%}</small></td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                      <br />
                      <input type="reset" id="BtnClear" value="{% trans "Reset"%}" class="button" />
                      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <input type="submit" id="BtnSubmit" value="{% trans "Submit"%}" class="button" />
                    </td>
                </tr>
              </table>
              <hr />
            </div>
        </form>
	<br />
	<br />
	{% include "main/banner_103.html" %}
  </div><!--//.node-->
</div><!--//.node-container-->


<script>
	$(document).ready(function () {
		$('#addform input[type=reset]').click(function(){
			$(':input','#addform')
			 .not(':button, :submit, :reset, :hidden')
			 .val('')
			 .removeAttr('checked')
			 .removeAttr('selected');
			 return false;
		});
        $(".calendar input").datepicker({
			showOn          : "button",
			buttonImage     : "/media/images/icons/calendar.jpg",
			buttonImageOnly : true,
			dateFormat      : "dd/mm/yy"
		});
	})
</script>


{% endblock %}
