{% extends "events/events_base.html" %}
{% load i18n %}
{% block title %}{% trans "Events | Rumbabogota" %}{% endblock %}
{% load tools %}
{% block eventscontent %}
<div id="events-calendar-wrapper" class="events-calendar-wrapper outnone">
<ul class="event-tab-contents">
  <li>
    <table class="events-calendar" width="100%" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>{% trans "Sunday" %}</th>
          <th>{% trans "Monday" %}</th>
          <th>{% trans "Tuesday" %}</th>
          <th>{% trans "Wednesday" %}</th>
          <th>{% trans "Thursday" %}</th>
          <th>{% trans "Friday" %}</th>
          <th>{% trans "Saturday" %}</th>
        </tr>
      </thead>
      <tbody>
      	{% for row in calendar %}
        <tr>
            {% for day,items in row  %}
        	<td{% ifequal day today.day  %} class="today"{% endifequal %}>
        		{% if day %}
                    <h3><a href="/events/by-category/day/{{year}}/{{month}}/{{day}}">{{ day }}</a></h3>
                    {% if items %}
	                    <div class="events-listing">
	                      <ul class="events">
	                      	{% for item, date in items|slice:":4" %}
		                        <li
		                        {% if forloop.first %}
		                         class="selected"
		                         {% endif %}
		                         >
		                          <a href="/events/{{item.slug}}">
		                          	<span class="event-image">
		                          		<img src="{{item.square.url}}">
	                          		</span>
	                          	  </a>
		                          <a href="/events/{{item.slug}}" class="anchor-event-name">
		                          	<span class="event-name">{{ item.title }}</span>
	                          	  </a>
		                        </li>
	                        {% endfor %}
	                      </ul>
	                      <div class="event-count decou"><a href="/events/by-category/day/{{year}}/{{month}}/{{day}}">{{items|length}} {% trans "Events"%}</a></div>
	                    </div><!--//.events-listing-->
                    {% endif %}
          		{% else %}
          			&nbsp;
          		{% endif %}
              </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    	
    	jQuery(document).ready(function(){
    		var last_active = [];
    		$('#main-contents .tab-containers table.events-calendar tbody td .events-listing ul').each(function(ul_index) {
    			var current_ul = this;
    			last_active[ul_index] = $('li.selected', current_ul).get(0);
    			
    			$('li a.anchor-event-name', current_ul).click(function(){
    				var current_li = $(this).parent().get(0);
    				
    				if ( current_li == last_active[ul_index]) {
    					return true;
    				}

    				$('img', last_active[ul_index]).hide("blind", { direction: "vertical" }, 500, function(){
    					$(last_active[ul_index]).removeClass('selected');
    				});
    				
    				$('img', current_li).show("blind", { direction: "vertical" }, 500, function(){
    					$(last_active[ul_index]).removeClass('selected');
    					$(current_li).addClass('selected');
    				});
    				
					last_active[ul_index] = current_li;
    				return false;	
    			})
  			});
		});
		</script>
  </li>
</ul>
</div><!--//.events-calendar-wrapper-->
{% endblock %}
