{% extends "events/events_base.html" %}
{% load i18n %}
{% block title %}{% trans "Events | Rumbacaracas" %}{% endblock %}
{% load tools %}


{% block eventscontent %}
<div id="events-calendar-wrapper" class="events-calendar-wrapper outnone">
<ul class="event-tab-contents">
  <li>
    <table class="events-calendar" width="100%" border="0" cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th>{% trans "Sunday" %}</th>
          <th>{% trans "Monday" %}</th>
          <th>{% trans "Tuesday" %}</th>
          <th>{% trans "Wednesday" %}</th>
          <th>{% trans "Thursday" %}</th>
          <th>{% trans "Friday" %}</th>
          <th>{% trans "Saturday" %}</th>
        </tr>
      </thead>
      <tbody>
      	{% for row in calendar %}
        <tr>
            {% for day,items in row  %}
        	<td{% ifequal day today.day  %} class="today"{% endifequal %}>
        		{% if day %}
                    <h3><a href="{% url event_by_category_day_full year month day %}#eventos-anclaje">{{ day }}</a></h3>
                    {% if items %}
	                    <div class="events-listing">
	                      <ul class="events">
	                      	{% for item, date in items|slice:":4" %}
		                        <li
		                        {% if forloop.first %}
		                         class="selected"
		                         {% endif %}
		                         >
		                          <a href="{% url event_details item.slug %}">
		                          	<span class="event-image">
		                          		<img src="{{item.square.url}}">
	                          		</span>
	                          	  </a>
		                          <a href="{% url event_details item.slug %}" class="anchor-event-name">
		                          	<span class="event-name">{{ item.title }}</span>
	                          	  </a>
		                        </li>
	                        {% endfor %}
	                      </ul>
	                      <div class="event-count decou"><a href="{% url event_by_category_day_full year month day %}#eventos-anclaje">{{items|length}} {% trans "Events"%}</a></div>
	                    </div><!--//.events-listing-->
                    {% endif %}
          		{% else %}
          			&nbsp;
          		{% endif %}
              </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <script type="text/javascript" charset="utf-8">
    	
    	jQuery(document).ready(function(){
    		var last_active = [];
    		$('#main-contents .tab-containers table.events-calendar tbody td .events-listing ul').each(function(ul_index) {
    			var current_ul = this;
				
    			last_active[ul_index] = $('li.selected', current_ul).get(0);
    			
				function slide(options, additions) {
					options = $.extend({
						easing: "swing",
						duration: 500
					}, options, additions);
					if ( !options.toHide.size() ) {
						options.toShow.animate({height: "show"}, options);
						return;
					}
					var hideHeight = options.toHide.height(),
						showHeight = options.toShow.height(),
						difference = showHeight / hideHeight;
					

					options.toShow.css({ height: 0, overflow: 'hidden' }).show();
					options.toHide.filter(":hidden")
						.end()
						.filter(":visible")
						.animate({height:"hide"}
					,{
						step: function(now) {
							var current = (hideHeight - now) * difference;
							if ($.browser.msie || $.browser.opera) {
								current = Math.ceil(current);
							}
							options.toShow.height( current );
						},
						duration: options.duration,
						easing: options.easing,
						complete: function() {
							options.toShow.css("height", "auto");
						}
					});
				};

    			$('li a.anchor-event-name', current_ul).click(function(){
    				var current_li = $(this).parent().get(0);
    				
    				if ( current_li == last_active[ul_index]) {
    					return true;
    				}
					
					var options = {}, additions = {};
					options['toShow'] = $('span.event-image', current_li);
					options['toHide'] = $('span.event-image', last_active[ul_index]);

					$(current_li).addClass('selected');
					
					slide(options, additions);
 
					/*
    				$('img', last_active[ul_index]).hide("blind", { direction: "vertical" }, 500, function(){
    					$(last_active[ul_index]).removeClass('selected');
    				});
    				
    				$('img', current_li).show("blind", { direction: "vertical" }, 500, function(){
    					$(last_active[ul_index]).removeClass('selected');
    					$(current_li).addClass('selected');
    				});
    				*/

					last_active[ul_index] = current_li;
    				return false;	
    			})
  			});
		});
		</script>
  </li>
</ul>
</div><!--//.events-calendar-wrapper-->
{% endblock %}
