{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Events | Rumbabogota" %}{% endblock %}
{% load tools %}
{% load openx %}
{% load gplus %}
{% load widgets %}
{% load listtools %}
{% load facebook twitter%}
{% block colleft %}

<div class="node-container eventos box-shadows encap">
<div class="title-wrap encap">
<span class="flt-left"><h2 class="title">{% trans "Events"%}</h2></span>
<span class="flt-right">
    <ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        <li><a class="socializer-8 publish-event" href="/events/add"><span>{% trans "Add event"%}</span></a></li>
    </ul>
</span>
</div><!--//.title-wrap-->
<div class="node evento-details encap">
<div class="node-mini-left c65l">
<div class="contents">
<h2>{{event.title}}</h2>
<div class="social-share mb10">
</div><!--//.social-share-->

<div class="event-desc">
  <table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
	{% if event.category%}
      <tr>
        <td><strong>{% trans "Category"%}:</strong></td>
        <td>{{event.category}}</td>
      </tr>
	{%endif%}
	{% if event.from_date%}
      <tr>
        <td><strong>{%trans "Date"%}:</strong></td>
        <td>
        	{% if event.from_date == event.to_date %}
        		{{event.from_date}}
    		{% else %}
    			{{event.from_date}} - {{event.to_date}}
    		{% endif %}
    	</td>
      </tr>
	{%endif%}
	{% if event.repeat.all %}
	  <tr>
        <td><strong>{%trans "Days of week"%}:</strong></td>
        <td>
        	{{ event.repeat.all|join:", "}}
    	</td>
      </tr>
	{% endif %}
	{% if event.time%}
      <tr>
        <td><strong>{% trans "Time"%}:</strong></td>
        <td>{{event.time}}</td>
      </tr>
	{%endif%}
	{% if event.location or event.place%}
      <tr>
        <td><strong>{% trans "Location"%}:</strong></td>
	    {% if event.location %}
		    <td><a href="/locations/{{event.location.slug}}">{{event.location.title}}</a></td>
	    {%else%}
		    <td>
                {% if event.place %}
                    {{event.place}}
                {% else %}
                    {% trans "Other"%}
                {% endif %}
            </td>
	    {%endif%}        	
      </tr>
	{%endif%}
	{% if event.address%}
      <tr>
        <td><strong>{% trans "Address"%}:</strong></td>
        <td>{{event.address}}</td>
      </tr>
	{%endif%}
	{% if event.area or event.city%}
      <tr>
        <td><strong>{% trans "City, Area"%}:</strong></td>
        <td>{% if event.city%}{{event.city}}, {% endif %}{% if event.area%}{{event.area.title}}{% endif %}
        	<span class="location-map outnone ml25">
        		<a target="_blank" href="{{ event|google_map_link}}">{% trans "Map"%}</a>
    		</span>
        </td>
      </tr>
    {% endif %}
	{% if event.price%}
      <tr>
        <td><strong>Fee:</strong></td>
        <td>{{event.price}}</td>
      </tr>
	{%endif%}
	{% if location.music%}
      <tr>
        <td><strong>{% trans "Music type"%}:</strong></td>
        <td>{{location.music.title}}</td>
      </tr>
    {% endif %}
	{% if event.email%}
      <tr>
        <td><strong>{% trans "Email"%}:</strong></td>
        <td><a href="mailto:{{event.email}}">{{event.email}}</a></td>
      </tr>
	{%endif%}
	{% if event.url%}
      <tr>
        <td><strong>{% trans "Web"%}:</strong></td>
        <td><a href="{{event.url}}">{{event.url}}</a></td>
      </tr>
	{%endif%}
	{% if event.location.phone_1 or event.location.phone_2 or event.phone%}
      <tr>
        <td><strong>Info:</strong></td>
        <td>
        	{% if event.location.phone_1 or event.location.phone_2 %}
        		{% if event.location.phone_1 %}{{event.location.phone_1}}, {% endif%}{% if event.location.phone_2 %}{{event.location.phone_2}}{% endif%}
        	{% else %}
        		{{event.phone}}
        	{% endif %}
    	</td>
      </tr>
	{%endif%}
    </tbody>
  </table>
  <div class="event-contents">
    {{event.description|linebreaks}}
  </div><!--//.event-contents-->
</div><!--//.event-desc-->
  </div><!--//.contents-->
</div><!--//.node-mini-left-->
<div class="node-mini-right c32r">
  <div class="event-info outnone">
<div class="event-image-teaser">
	{% if event.image %}
  	<a class="image" href="{{event.maxs.url}}">
  		<img src="{{event.eventlogo.url}}" />
  	<span class="lightbox" href="{{event.image.url}}">{% trans "Zoom"%}</span>
  	</a>
  	{% endif %}
  
</div><!--//.event-image-teaser-->
  </div><!--//.event-info-->
  <div class="share-options">
    <ul class="socializer encap outnone">
      <li>
      	<a href="{{event.get_absolute_url}}#disqus_thread" class="socializer-14">
      		({%facebook_comments_count event.get_absolute_url%}) {% trans "comments"%}
      	</a>
  	</li>
  	<li>
		{% facebook_like event.get_absolute_url%}
	</li>
	<li>
		{% twitter_share event.get_absolute_url event.title%}
	</li>
    <li style="height:36px">
		{% gplus event.get_absolute_url%}
	</li>
	
    </ul>
  </div>
  
</div><!--//.node-mini-right-->
  </div><!--//.node-->
  <div class="encap" id="disqus_thread">
  	{%facebook_comments event.get_absolute_url%}
  </div>
  
  <div class="tab-containers event-detail-filters">
<table class="event-filters ptb8" width="100%" border="0" cellpadding="0" cellspacing="0">
  <tbody>
<tr>
  <td valign="middle" align="left" colspan="2">
    <h3>{% trans "Find Events" %}</h3>
  </td>
</tr>
<tr>
  <td style="width: 105px;">
    <label for="events-list">{% trans "List of Events"%}:</label>
  </td>
  <td valign="middle" align="left" style="width: 420px;">
    <select name="events-list" id="events-list" style="width: 300px;">
		<option value="">{% trans "Select a event"%}</option>
    	{% for event in all_events %}
      		<option value="{{event.slug}}">{{event.title}}</option>
  		{% endfor %}
    </select>
  </td>
</tr>
<tr>
  <td style="width: 105px;">
    <label for="events-list">{% trans "List of Locations"%}:</label>
  </td>
  <td valign="middle" align="left" style="width: 420px;">
    <select name="locations-list" id="locations-list" style="width: 300px;">
		<option value="">{% trans "Select a location"%}</option>
    	{% for location in all_locations %}
      		<option value="{{location.slug}}">{{location.title}}</option>
  		{% endfor %}
    </select>
  </td>
</tr>
  </tbody>
</table>
<div id="outline-briefs" class="outline-briefs eventos-outline">
  <div class="outline-navigation">
<ul id="outline-titles" class="encap outnone">
  <li><a href="/events/by-category#event-anchor">By Category</a><div class="pointer-tip"></div></li>
  <li><a href="/events/by-location#event-anchor">By Location</a><div class="pointer-tip"></div></li>
  <li><a href="/events/by-area#event-anchor">By Area</a><div class="pointer-tip"></div></li>
  <li><a href="/events/by-music#event-anchor">By Music</a><div class="pointer-tip"></div></li>
  <li><a href="/events/calendar#event-anchor"><img class="search-calendar" alt="{% trans "Calendar"%}" src="/media/images/blank.gif" />{% trans "Calendar"%}</a><div class="pointer-tip"></div></li>
</ul>
  </div><!--//.outline-navigation-->
</div><!--//#outline-briefs-->
<div id="events-category-wrapper" class="events-category-wrapper outnone">
  
</div><!--//.events-category-wrapper-->
  </div><!--//.tab-containers-->
  
<script>
	$(document).ready(function () {
		jQuery(document).ready(function(){
			$('div.event-desc tr:odd').addClass('odd');
			$('div.event-desc tr:even').addClass('even');		
		});
		
		$("#events-list").change(function () {
			var slug = $("#events-list").val();
			if (slug != '') {
				window.location.href = '/events/'+ slug;	
			}
        })
        $("#locations-list").change(function () {
			var slug = $("#locations-list").val();
			if (slug != '') {
				window.location.href = '/locations/'+ slug;	
			}
        })
        jQuery('#main-contents .tab-containers .events-category-wrapper ul.event-tab-contents .events-accordion').accordion({
			header: 'a.accordion-title',
	      	fillSpace: false,
	      	navigation: true,
	      	autoheight: true,
	    });

		$('.event-image-teaser a.image').lightBox({
			imageLoading: '/media/images/lightbox-ico-loading.gif',
			imageBtnClose: '/media/images/lightbox-btn-close.gif',
			imageBtnPrev: '/media/images/lightbox-btn-prev.gif',
			imageBtnNext: '/media/images/lightbox-btn-next.gif',
			imageBlank: '/media/images/lightbox-blank.gif'
		}); 
	})
</script>
</div><!--//.node-container-->
{% endblock %}


{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 100 300 250%}
    </div><!--//.banner-container-->
    <div class="clear-block block block-views widget widget-calendar">
        {% month_cal%}
    </div>
    {% subscribe_block %}

    <div class="split-sidebars encap">
      <div class="c57l left">
        {% upcoming_events_list %}
      </div><!--//.left-->
      <div class="c40r right">
        <div class="placeholders">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 104 120 60 %}
          </div><!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="placeholders mt10">
          <div class="box-border box-contents box-shadows">
            {% banner_zone_iframe 105 120 240 %}
          </div>
          <!--//.box-contents-->
        </div><!--//.placeholder-->
        <div class="banner-container box-shadows outnone widget">
            {% banner_zone_iframe 101 120 600 %}
        </div><!--//.banner-container-->
      </div><!--//.right-->
    </div><!--//.split-sidebars-->
{% endblock %}
