{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Locales | Rumbacaracas" %}{% endblock %}
{% load cache %}
{% load tools %}
{% load openx %}
{% load widgets %}

{% block bannermain %}   {% banner_zone_iframe 168 800 100 %} {% endblock %}
{% block bannerfooter %}   {% banner_zone_iframe 168 800 100 %} {% endblock %}
{% block pushdown %}{% banner_zone_iframe 169 960 300%}{% endblock %}

{% block colleft %}
<div class="node-container eventos-para-hoy box-shadows encap">
<div class="title-wrap encap">
	<span class="flt-left">
		<h2 class="title">
		{% if period == "day"%}{% trans "Events For Today"%}{% endif %}
		{% if period == "tomorrow"%}{% trans "Events For Tomorrow"%}{% endif %}
		{% if period == "week" %}{% trans "Events For a Week"%}{% endif %}
		{% if period == "month" %}{% trans "Events For a Month"%}{% endif %}
		</h2></span>
	<span class="flt-right">
		<ul id="socializer" class="socializer encap outnone fcml0 lcmr0">
        	<li><a class="socializer-8 publish-event" href="{% url event_add %}"><span>{% trans "Add event"%}</span></a></li>
      	</ul>
	</span>
</div><!--//.title-wrap-->
  <div class="event-meta">
    <span class="meta-publish-date">{{repr}}</span>
  </div>
  <div class="node bb-none encap" style="min-height: 330px;">
    <div class="images-preview outnone">
      <ul class="image-teaser-slides encap">
      	{% for slide in slider_events%}
        	<li>
        		<a href="{% url event_details slide.slug %}"><img  width="595" height="244" src="{% if slide.slider_image %}{{slide.slider_image.url}}{% else %}{{slide.bigimg.url}}{% endif %}" alt="{{slide.title}}" /></a>
        		<div class="slide-teasers">
                    <h3><a href="{% url event_details slide.slug %}">{{slide.title}}</a></h3>
                    <p>{{slide.description|truncate:85}}<br />
                    {% if closest_dates %}
                        {% if closest_dates|hash:slide.pk %}
                            {{ closest_dates|hash:slide.pk  }}
                        {%  else %}
                            {% if slide.from_date == slide.to_date %}
                                {{slide.from_date}}
                            {% else %}
                                {{slide.from_date}} - {{slide.to_date}}
                            {% endif %}
                            {% if slide.time%}
                            , {{slide.time}}
                            {% endif %}
                        {% endif %}
                    {% endif %}
        			</p>
                </div>
    		</li>
        {% endfor %}
      </ul><!--//.image-teaser-slides-->
    </div><!--//.images-preview-->
    <div class="image-teaser-nav encap outnone">
      <ul class="image-teaser-nav encap fcml0 fcmr0">
      	{% for slide in slider_events%}
        	<li><h6><a href="{% url event_details slide.slug %}"><img src="{{slide.smallimg.url}}"/></a></h6></li>
        {% endfor %}
      </ul><!--//.image-teaser-nav-->
      <div class="cflt"></div>
    </div><!--//.image-teaser-nav-->
  </div><!--//.node-->
</div><!--//.node-container-->
<div class="merged-container box-shadows" id="eventos-anclaje">
  <div class="merged-contents">
    <div class="tab-titles encap">
      <ul class="outnone encap">
      	
        <li class="box-shadows">
        	<a href="{{active_tab|get_event_url_by_tab:'day'}}#eventos-anclaje" {% if period == "day" %} class="active"{% endif %}>
        		{% trans "For Today"%}
    		</a>
        </li>
        <li class="box-shadows">
        	<a href="{{active_tab|get_event_url_by_tab:'tomorrow'}}#eventos-anclaje" {% if period == "tomorrow" %} class="active"{% endif %}>
        		{% trans "For Tomorrow"%}
    		</a>
        </li>
        <li class="box-shadows">
        	<a href="{{active_tab|get_event_url_by_tab:'week'}}#eventos-anclaje" {% if period == "week" %} class="active"{% endif %}>
        		{%trans "For a Week"%}
    		</a>
        </li>
        <li class="box-shadows">
        	<a href="{{active_tab|get_event_url_by_tab:'month'}}#eventos-anclaje" {% if period == "month" or active_tab == "calendar" %} class="active"{% endif %}>
        		{% trans "For a month"%}
    		</a>
		</li>
      </ul>
    </div><!--//.tab-titles-->
    <div class="tab-containers encap">
      <div id="tab-events" class="tab-events encap">
        <table class="event-filters ptb8" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td valign="middle" align="left">
                <h3>{{repr}}</h3>
                <div class="navigate-days">
	              	{% if period == "day" or period == "tomorrow"  %}
	              		<a href="{{active_tab|get_event_url_by_tab:period}}/{{prev_date.year}}/{{prev_date.month}}/{{prev_date.day}}#eventos-anclaje" class="day-prev">{% trans "Previous day"%}</a>
	          		{% endif %}
	          		{% if period == "week"%}
	              		<a href="{{active_tab|get_event_url_by_tab:period}}/{{prev_date.year}}/{{prev_date.month}}/{{prev_date.day}}#eventos-anclaje" class="day-prev">{% trans "Previous week"%}</a>
	          		{% endif %}
	          		{% if period == "month" and active_tab != "calendar" %}
	              		<a href="{{active_tab|get_event_url_by_tab:period}}/{{prev_date.year}}/{{prev_date.month}}#eventos-anclaje" class="day-prev">{% trans "Previous month"%}</a>
	          		{% endif %}
	          		{% if active_tab == "calendar"  %}
	              		<a href="{% url event_calendar_full prev_date.year prev_date.month %}#eventos-anclaje" class="day-prev">{% trans "Previous month"%}</a>
	          		{% endif %}

          		  &nbsp;&nbsp;&nbsp;&nbsp;
          		  	{% if period == "day" or period == "tomorrow"  %}
                  		<a href="{{active_tab|get_event_url_by_tab:period}}/{{next_date.year}}/{{next_date.month}}/{{next_date.day}}#eventos-anclaje" class="day-next">{% trans "Next day"%}</a>
              		{% endif %}
              		{% if period == "week"%}
                  		<a href="{{active_tab|get_event_url_by_tab:period}}/{{next_date.year}}/{{next_date.month}}/{{next_date.day}}#eventos-anclaje" class="day-next">{% trans "Next week"%}</a>
              		{% endif %}
              		{% if period == "month" and active_tab != "calendar" %}
                  		<a href="{{active_tab|get_event_url_by_tab:period}}/{{next_date.year}}/{{next_date.month}}#eventos-anclaje" class="day-next">{% trans "Next month"%}</a>
             		{% endif %}
                    {% if active_tab == "calendar"  %}
	              		<a href="{%  url event_calendar_full next_date.year next_date.month %}#eventos-anclaje" class="day-next">{% trans "Next month"%}</a>
	          		{% endif %}

                </div>
              </td>
              <td valign="middle" align="right">
                <label for="events-list">{% trans "List of Events"%}:</label>
                <select name="events-list" id="events-list">
                    {% cache 60 events_select %}
                        <option value="">{% trans "Select a event"%}</option>
                        {% for event, dt in all_events %}
                            <option value="{{event.slug}}">{{ dt|date:"d.m.Y" }} :: {{event.title}}</option>
                        {% endfor %}
                    {% endcache %}
                </select>
              </td>
            </tr>
            <tr>
          	<td valign="middle" align="left">

          	</td>
			<td valign="middle" align="right" style="width: 420px;">
	            <label for="by-name">{% trans "List of Locations"%}:</label>
	            <select name="locations-list" id="locations-list">
                    {% cache 60 location_select %}
                        <option value="">{% trans "Select a location"%}</option>
                        {% for location in all_locations %}
                            <option value="{{location.slug}}">{{location.title}}</option>
                        {% endfor %}
                    {% endcache %}
                </select>
          	</td>
        	</tr>
          </tbody>
        </table>
        <table class="event-filters-extended" width="100%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
            <tr class="ptb5">
              <td valign="middle" align="left">
                <div id="outline-briefs" class="outline-briefs">
                  <div class="outline-navigation">
                    <ul id="outline-titles" class="encap outnone">
                      <li{% if active_tab == "category" %} class="active"{% endif %}>
                      	<a href="{{"category"|get_event_url_by_tab:period}}{{filter_date}}#eventos-anclaje">{% trans "By Category" %}</a>
                      	<div {% if active_tab == "category" %}style="display: block"{% endif %} class="pointer-tip"></div>
                  	  </li>
                      <li{% if active_tab == "location" %} class="active"{% endif %}>
                        <a href="{{"location"|get_event_url_by_tab:period}}{{filter_date}}#eventos-anclaje">{% trans "By Location" %}</a>
                        <div {% if active_tab == "location" %}style="display: block"{% endif %} class="pointer-tip"></div>
                      </li>
                      <li{% if active_tab == "area" %} class="active"{% endif %}>
                      	<a href="{{"area"|get_event_url_by_tab:period}}{{filter_date}}#eventos-anclaje">{% trans "By Area" %}</a>
                      	<div {% if active_tab == "area" %}style="display: block"{% endif %} class="pointer-tip"></div>
                      </li>
                      <li{% if active_tab == "music" %} class="active"{% endif %}>
                      	<a href="{{"music"|get_event_url_by_tab:period}}{{filter_date}}#eventos-anclaje">{% trans "By Music" %}</a>
                      	<div {% if active_tab == "music" %}style="display: block"{% endif %} class="pointer-tip"></div>
                      </li>
                      <li{% if active_tab == "calendar" %} class="active"{% endif %}>
                      	<a href="{% url event_calendar %}#eventos-anclaje"><img class="search-calendar" alt="{% trans "Calendar"%}" src="{% value_from_settings "STATIC_URL" %}images/blank.gif" />{% trans "Calendar"%}</a>
                      	<div {% if active_tab == "calendar" %}style="display: block"{% endif %} class="pointer-tip"></div>
                      </li>
                    </ul>
                  </div><!--//.outline-navigation-->
                </div><!--//#outline-briefs-->
              </td>
              <td valign="middle" align="right">
                <select name="events-months" id="events-months">
                	{% for month_id, month_name in months.items%}
                  		<option value="{{month_id}}" {%if month = month_id%}selected="selected"{%endif%}>{{month_name}}</option>
              		{% endfor%}
                </select>
              </td>
              <td valign="middle" align="right">
                <select name="events-years" id="events-years">
                	{% for year_id in years%}
                  		<option value="{{year_id}}" {%if year = year_id%}selected="selected"{%endif%}>{{year_id}}</option>
              		{% endfor%}
                </select>
              </td>
              <td valign="middle" align="right">
                <input type="button" id="event-filter-btn" value="{% trans "Go"%}" />
              </td>
            </tr>
          </tbody>
        </table>
      </div><!--//#eventos-anclaje-->
      {% block eventscontent %}{% endblock %}
    </div><!--//.tab-containers-->
    <div class="cflt"></div>
  </div><!--//.merged-contents-->
  <div class="cflt"></div>
<script>
	$(document).ready(function () {
		$("#events-list").change(function () {
			var slug = $("#events-list").val();
			if (slug != '') {
				window.location.href = '{% url event_main %}'+ slug;
			}
        })
        
        $("#locations-list").change(function () {
			var slug = $("#locations-list").val();
			if (slug != '') {
				window.location.href = '{% url location_main %}'+ slug;
			}
        })
        
		$("#event-filter-btn").click(function () {
			var cur_month = $("#events-months").val();
			var cur_year = $("#events-years").val();
			if (cur_year != '' && cur_month != '') {
				window.location.href = '{% url event_calendar %}'+'/'+ cur_year+ '/'+ cur_month + '#eventos-anclaje';
			}
        })
        jQuery('ul.image-teaser-slides').cycle({
				fx: 'scrollHorz',
				speed: 1000,
				timeout: 0,
				sync: 1,
				activePagerClass: 'active', //-- class name used for the active pager link
				easing: 'easeInOutBack',
				containerResize: 1,
		    fit: 1,
		    cleartypeNoBg: true,
		    next:   'a.gente-next',
		    prev:   'a.gente-prev',
		    pager: 'div.image-teaser-nav ul.image-teaser-nav',
		    pagerAnchorBuilder: function(idx, slide) {
		     //-- return selector string for existing anchor
		     return 'div.image-teaser-nav ul.image-teaser-nav li:eq(' + idx + ') a';
		    },
				delay: -2000
		});
	})
</script>



</div><!--//.node-container-->
{% endblock %}

{% block colright %}
    <div class="banner-container box-shadows outnone widget">
        {% banner_zone_iframe 114 300 250%}
    </div><!--//.banner-container-->
    {% subscribe_block %}
{% endblock %}