{% extends "events/events_base.html" %}
{% load i18n %}
{% block title %}{% trans "Events | Rumbacaracas" %}{% endblock %}
{% load tools %}
{% load listtools %}
{% load facebook %}
{% block eventscontent %}
<div id="events-category-wrapper" class="events-category-wrapper outnone"> 
    <ul class="event-tab-contents"> 
      <li> 
        <div id="events-accordion" class="events-accordion encap">
        	{% for group, events in groups %}
          		<a class="accordion-title" href="#"><span class="category-title">{{group}}</span><span class="status">&nbsp;</span></a> 
          		<div class="events-listing encap"> 
                    {%  show_event_group  events  period closest_dates%}
                </div><!--//.events-listing-->
              {% empty %}
    		  <li><p>There are no events in selected period.</p></li>
    		  
              {% endfor %} 
		<div>
		</div><!--//.events-accordion-->
            <script type="text/javascript" charset="utf-8">
                jQuery(document).ready(function(){
                    {% if period == "day" or period == "tomorrow" %}
                        jQuery('#main-contents .tab-containers .events-category-wrapper ul.event-tab-contents .events-accordion')
                            .addClass("ui-accordion ui-widget ui-helper-reset")
                            .find('a.accordion-title')
                            .click(function(){return false})
                            .addClass("current ui-accordion-header ui-helper-reset ui-state-active ui-corner-top")
                            .prepend('<span class="ui-icon ui-icon-triangle-1-s"/>')
                            .next().addClass("ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active");
                        //status
                        jQuery('#main-contents .tab-containers .events-category-wrapper ul.event-tab-contents .events-accordion .status').hide();
                    {% else  %}
                        jQuery('#main-contents .tab-containers .events-category-wrapper ul.event-tab-contents .events-accordion').accordion({
                            header: 'a.accordion-title',
                            fillSpace: false,
                            navigation: true,
                            autoHeight: false
                        });
                    {% endif %}
                });
            </script>
		</li> 
	</ul><!--//.event-tab-contents--> 
</div><!--//.events-category-wrapper--> 
{% endblock %}